{# required: {entry} parent #}
<div class="back-to-parent">
	<a href="{{parent.url}}" class="btn btn--has-icon btn--link back-to-parent__link">
		<figure class="btn__prepend">
			{{svg('@webroot/assets/img/svg/ic-caret-left.svg')|attr({
                class: 'back-to-parent__icon'
            }) }}
		</figure>
		<span class="btn__text back-to-parent__text">
			{% if parent.text is defined %}
				{{ parent.text }}
			{% endif %}
		</span>
	</a>
</div>
