{# Banner can be seen as a extend of the richMedia block. (_content-blocks/rich-media.html)
	1. Banner share similar HTML structure and css classes with Rich Media. Make sure if any of those changes in rich media, we update it here as well, and vice versa.
	2. Banner allows text-only version (simple-banner), but rich media requires 1 media column and 1 text column
#}

{% import '_macros' as macros %}

{% if entry is defined and entry %}
	{#
	Breadcrumb design system rules:
	* Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
	* On mobile, it's just gonna be a back button to the parent page.
	* Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumb 

	EWOV rules:
	* Issue entries also have breadcrumbs with home and common complaints landing in the crumbs
	#} 

	{% set hasBreadcrumb = true %}

		{% set pdf = entry.pdfReport.one() ?? false %} {# The PDF version of this report #}
		{% set mediaRelease = entry.mediaRelease.url ? entry.mediaRelease : false %} {# Media release for this report #}
		{% set variation = pdf ? '' : ' banner--report-no-dl' %} 
		{% set newReleaseEntry = entry.newReleaseAvailableBanner is defined and entry.newReleaseAvailableBanner ? entry.newReleaseAvailableBanner.one() : false %}

		{% set noticeVariation = newReleaseEntry ? ' banner--report-with-notice' : '' %}
		{% set variation = variation ~ noticeVariation %}
		{% set bannerBg = entry.bannerBackground.one() %}

		<section class="banner banner--report {{- variation -}} {{ bannerBg != null? " banner--with-bg-image":"" }}"
				{% if bannerBg != null %}
					style="{{ macros.thumbnail({ image: bannerBg, imagerSettings: { width: 1600, }, outputAsBackgroundImage: true, }) }};"
				{% endif %}
		>
			<div class="banner__container">
				<div class="banner__row banner__row--report">

					{# text column #}
					<div class="banner__column banner__column--text banner__column--report-text">
						<div class="banner__text-content-wrap">
							{# {% set dataAndReportsLandingPage = generalSettings.dataAndReportsLandingPage.one() %}
							{% set reportsLandingPage = craft.entries.section('pages').type('reportsLanding').reportType(entry.reportType.one()).one() %}
							{% set navItems = craft.entries.section('reports').reportType(entry.reportType.one().id) %}
							{% set parentNavItem = craft.yump.findParentItemInNav(null, entry.id, entry) %}
							{% set crumbs =
								[
									{
										'url': '/',
										'icon' : true
									},
									{
										'url' : dataAndReportsLandingPage.url,
										'text': dataAndReportsLandingPage.title,
									},
									{
										'text': reportsLandingPage.title,
										'url': reportsLandingPage.url,
									}
								]
							%} #}
							{% include '_elements/breadcrumbs' with {crumbs: breadcrumbs ?? craft.yump.getBreadcrumb(entry, false), variation: 'banner'} %}

							<h1 class="banner__text-content-heading">{{ entry.title }}</h1>

							<div class="banner__meta">
								{% if entry.reportBannerSubtitle is defined and entry.reportBannerSubtitle %}
									<p class="banner__meta-last-updated">
										{{entry.reportBannerSubtitle}}
									</p>
								{% endif %}

								{% if mediaRelease %}
									{% if entry.reportBannerSubtitle is defined and entry.reportBannerSubtitle %}
									<span class="banner__meta-sep">|</span>
									{% endif %}
									<a href="{{mediaRelease.url}}" class="banner__meta-media-release" target="{{mediaRelease.target ? mediaRelease.target : '_self'}}">
										{{- mediaRelease.text -}}
									</a>
								{% endif %}
							</div>

						</div>
					</div>

					{% if pdf %}
						<div class="banner__column banner__column--text banner__column--report-download-text">
							{% set fileType = pdf.extension | upper %}
							{% set link = pdf.url %}
							{% set fileSize = pdf.size | filesize(2) %}
							<span class="banner__download-file-content-head">
								{% if fileType %}
									<span class="banner__download-filetype">
										<span class="banner__download-filetype-text">
											{{ fileType }}
										</span>
										|
									</span>
								{% endif %}
								{% if fileSize %}
									<span class="banner__download-filesize">{{ fileSize }}</span>
								{% endif %}
							</span>
							<div class="banner__download-ctas">
								<a href="{{link}}" target="_blank" class="btn btn--has-icon banner__download-main-cta">
									{{ svg('@webroot/assets/img/svg/ic-download.svg')|attr({
										class: 'banner__download-main-cta-icon btn__prepend'
									}) }}
									<span class="banner__download-main-cta-text">Download full report</span>
								</a>

								{% include "_elements/share-this" with { dropdown: true } %}

							</div>
						</div>
					{% else %}
						<div class="banner__column banner__column--text banner__column--report-download-text">
							<div class="banner__download-ctas banner__download-ctas--share-only">
								{% include "_elements/share-this" with { dropdown: true } %}
							</div>
						</div>
					{% endif %}

				</div>
			</div>
		</section>

		{% if newReleaseEntry %}
		<div class="banner-notice">
			<div class="banner-notice__box">
				<div class="banner-notice__cta">
					{{ svg('@webroot/assets/img/svg/ic-warning.svg')|attr({
						class: 'banner-notice__warning-icon'
					}) }}
					<span class="banner-notice__heading">Newer release available</span>
					<a href="{{newReleaseEntry.url}}" class="btn btn--has-icon banner-notice__btn">
						<span class="btn__text">
							View report<span class="sr-only">: {{newReleaseEntry.title}}</span>
						</span>
						<figure class="btn__append">
						{{ svg('@webroot/assets/img/svg/ic-caret-right.svg')|attr({
							class: 'banner-notice__btn-icon'
						}) }}
						</figure>
					</a>
				</div>
			</div>
		</div>
		{% endif %}

{% endif %}
