{# Banner can be seen as a extend of the richMedia block. (_content-blocks/rich-media.html)
	1. Banner share similar HTML structure and css classes with Rich Media. Make sure if any of those changes in rich media, we update it here as well, and vice versa.
	2. Banner allows text-only version (simple-banner), but rich media requires 1 media column and 1 text column
#}

{% import '_macros' as macros %}

{% if entry is defined and entry %}
	{#
	Breadcrumb design system rules:
	* Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
	* On mobile, it's just gonna be a back button to the parent page.
	* Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumb 

	EWOV rules:
	* Issue entries also have breadcrumbs with home and common complaints landing in the crumbs
	#}

	{% set hasBreadcrumb = entry.level > 1 %}
	{% set variation = variation ?? '' %}

	{% set banner = craft.yump.getBanner(entry, variation) %}
	{%- if banner -%}
		<section class="banner {{ banner.variationClasses }}">
			<div class="banner__row">
				
				{# media column #}
				{% if banner.media %}
					<div class="banner__column banner__column--media">
						{% if banner.media.type == 'image' %}
							{% set image = banner.media.content %}
							<div class="banner__media banner__media--image" style="{{ macros.thumbnail({
					            image: image,
					            imagerSettings: {
					                width: 1600,
									height: 950
					            },
					            outputAsBackgroundImage: true,
					        }) }}">								
							</div>
							{% if variation == 'banner--ewov-circus-act' %}
								<div class="banner__circus-acts"></div>
							{% else %}
								<div class="banner__curve"></div>
							{% endif %}
						{% elseif banner.media.type == 'video' %}
							<div class="banner__media banner__media--video">
								{{ macros.video({
								    field: banner.media.content,
								    transcriptEntry: banner.media.settings.transcriptEntry,
								    videoHtmlTitle: banner.media.settings.videoHtmlTitle,
								}) }}
							</div>
						{% endif %}
					</div>
				{% endif %}
				
				{# text column #}
				<div class="banner__column banner__column--text">
					<div class="banner__text-content-wrap">
						{% if hasBreadcrumb %}
							{# {% if entry.section.handle == 'issues' %}
								{% set commonComplaintsLanding = craft.entries.section('pages').type('complaintsLanding').one() %}
								{% set crumbs = 
									[
										{
											'url': '/',
											'icon' : true
										},
										{
											'text': commonComplaintsLanding.title,
											'url': commonComplaintsLanding.url,
										}
									]
								%}
							{% elseif entry.type == 'reportsLanding' %}
								{% set dataAndReportsLandingPage = generalSettings.dataAndReportsLandingPage.one() %}
								{% set crumbs = 
									[
										{
											'url': '/',
											'icon' : true
										},
										{
											'text': dataAndReportsLandingPage.title,
											'url': dataAndReportsLandingPage.url,
										}										
									]
								%}
							{% else %}
								{% set crumbs = craft.yump.getPageEntryCrumbs(entry, true, false) %}
								{% set crumbs = craft.yump.getBreadcrumb(entry, false) %}
							{% endif %} #}

							{% set crumbs = breadcrumbs ?? craft.yump.getBreadcrumb(entry, false) %}
							{% include '_elements/breadcrumbs' with {crumbs: crumbs, variation: 'banner'} %}
						{% endif %}

						<h1 class="banner__text-content-heading">{{ banner.heading }}</h1>
						{% if banner.summary %}
							<div class="banner__text-content-summary">{{ banner.summary }}</div>
						{% endif %}
						{% if banner.buttons %}
							<div class="banner__text-content-ctas">
								{% for button in banner.buttons %}
									{{ macros.cta({
									    field: button,
										style: 'square',
									    additionalClasses: 'banner__text-content-cta',
									}) }}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>

			</div>
		</section>
		
		{% set featuredBannerEntry = banner.featuredEntryInBanner.one() ?? null %}
		{% if featuredBannerEntry %}
		<div class="banner-featured-entry">
			<div class="banner-featured-entry__box">
				<span class="banner-featured-entry__tag">Featured {{ featuredBannerEntry.type.name }}</span>
				<div class="banner-featured-entry__content">
					<h2 class="banner-featured-entry__heading">{{ featuredBannerEntry.title }}</h2>
					<div class="banner-featured-entry__summary">{{ featuredBannerEntry.summary }}</div>
				</div>
				<div class="banner-featured-entry__cta">
					{{ macros.button({
						link: featuredBannerEntry.url,
						additionalClasses: 'banner-featured-entry__cta-btn',
						text: 'View ' ~ featuredBannerEntry.type.name
					}) }}		
				</div>
			</div>
		</div>
		{% endif %}
		
	{%- endif -%}
{% endif %}