{# Currently only being used by News Articles - fix the breadcrumbs in this if you want to use it on another template #}
{% import '_macros' as macros %}

{% if entry is defined and entry %}
	{#
		Breadcrumb design system rules:
		* Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
		* On mobile, it's just gonna be a back button to the parent page.
		* Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumb 
	
		EWOV rules:
		* Issue entries also have breadcrumbs with home and common complaints landing in the crumbs
		#}

	{% set hasBreadcrumb = entry.level > 1 or entry.section.handle == 'news' %}
	{% set variation = 'banner--' ~ variation ?? '' %}
    {% set image = entry.featuredImage.one() ?? null %}
    {% set variation = image ? 'banner--with-media ' ~ variation : variation %}   

		<section class="banner {{variation}}">
			<div
				class="banner__row">

				{# media column #}
				{% if image %}
					<div class="banner__column banner__column--media">
                        <div class="banner__media banner__media--image" style="{{ macros.thumbnail({ image: image, imagerSettings: { width: 1600, height: 800 }, outputAsBackgroundImage: true, }) }}"></div>
                        <div class="banner__curve"></div>
					</div>
				{% endif %}

				{# text column #}
				<div class="banner__column banner__column--text">
					<div class="banner__text-content-wrap">
                        {# {% set newsLandingPage = generalSettings.newsLandingEntry.one() %}
                        {% set crumbs = 
                            [
                                {
                                    'url': '/',
                                    'icon' : true
                                },
                                {
                                    'text': newsLandingPage.title,
                                    'url': newsLandingPage.url,
                                }
                            ]
                        %} #}
                        {% include '_elements/breadcrumbs' with {crumbs: breadcrumbs ?? craft.yump.getBreadcrumb(entry, false), variation: 'banner'} %}

						<h1 class="banner__text-content-heading">{{ entry.title }}</h1>
						{% if entry.summary %}
							<div class="banner__text-content-summary">{{ entry.summary }}</div>
						{% endif %}
					</div>
				</div>

			</div>
		</section>

{% endif %}
