{#
    Every parent template which include this one should have the crumbs array prepared. Do not rely on this template to do if and else checks.

    Format of the crumbs array should look something like this:
    [
        [
            'text' => 'Home',
            'url' => '/',
        ],
        [
            'text' => 'About',
            'url' => '/about',
            'isParent' => true, // flag as the parent (used for mobile)
        ],
        [
            'text' => 'Team Members',
            // this is the current entry, which do not have the url supplied.
        ],
    ]

    IMPORTANT: A reminder of the breadcrumb rules in our design system:
    * Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
    * On mobile, it's just gonna be a back button to the parent page.
    * Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumb 
#}

{% set wrapperClass = variation is defined and variation ? 'crumbs-wrap ' ~ variation : 'crumbs-wrap' %}

{% if custom is defined and custom %}
{% set crumbs = custom %}
{% endif %}
<nav class="{{wrapperClass}}" aria-label="Breadcrumbs">

    {# Mobile crumbs #}
    {# {% set parent = null %}
    {% for crumb in crumbs %}
        {% if crumb.isParent is defined and crumb.isParent %}
            {% set parent = crumb %}
        {% endif %}
    {% endfor %}
    {% if parent %}
        <a class="breadcrumbs__mobile-item" href="{{ parent.url }}"><i class="fas fa-chevron-left"></i>Back to {{ parent.text }}</a>
    {% endif %} #}
    
    {# Desktop crumbs #}
    <ol class="breadcrumbs__crumb-list">
        {% for crumb in crumbs %}
            <li class="breadcrumbs__item">
                {%- if crumb.url is defined and crumb.url -%}
                    <a class="breadcrumbs__item-link"
                        {% if crumb.target is defined and crumb.target %} target="{{ crumb.target }}"{% endif %}
                        href="{{ crumb.url }}"
                    >
                {%- endif -%}
                    <span class="breadcrumbs__item-content">
                        {% if crumb.icon is defined and crumb.icon %}
                            {{ svg('@webroot/assets/img/svg/ic-breadcrumb-home.svg') }}
                            <span class="sr-only">Home</span>
                        {% else %}
                            {{- crumb.text -}}
                        {% endif %}
                    </span>
                {%- if crumb.url is defined and crumb.url -%}
                    </a>
                {%- endif -%}
            </li>
            
            {# Assuming the last item shouldn't need the separator after it #}
            {% if not loop.last %}
                <li class="breadcrumbs__item-separator">
{#                    {{ svg('@webroot/assets/img/svg/ic-caret-right.svg') }}#}
                </li>
            {% endif %}
            
        {% endfor %}
    </ol>
</nav>
