{# Required:
    loadMoreButtonOnDt - indicates whether to hide content after the first three issues in each column behind a load more button
#}

{% set issueTypes = craft.categories.group('issueTypes').all() %}

{# get total number of common issues so we can calculate where to break into second column for desktop #}
{% set totalIssueCount = 0 %}
{% for issueType in issueTypes %}
    {% set issueTypeIssueCount = craft.entries.section('pages').type('issue').relatedTo(issueType)|length %}
	{% set totalIssueCount = totalIssueCount + issueTypeIssueCount %}
{% endfor %}

{% set canCreateColumn = true %}
{% set groupID = 1 %}

<div class="container matrix-block matrix-block--common-complaints">
    <div class="row issues">
        <div class="col-lg-6 issues__col issues__col--{{groupID}}">
            {% for issueType in issueTypes %}
                {% set issues = craft.entries.section('pages').type('issue').relatedTo(issueType).all() %}
                {% if issues|length > 0 %}
                    <div class="issues__type">
                        {% set headingClass = issues|length > 3 ? 'issues__type-heading--mobile-show' : 'issues__type-heading--mobile-hide' %}
                        {% set headingClassDesktop = issues|length > 3 and loadMoreButtonOnDt ? 'issues__type-heading--dt-show' : 'issues__type-heading--dt-hide' %}
                        <h2 class="issues__type-heading {{headingClass}} {{headingClassDesktop}}">{{ issueType.title }}</h2>
                        {% for issue in issues %}                            
                            {% set issueClass = loop.index > 3 or loop.length < 4 ? 'issues__issue--mobile-hide' : 'issues__issue--mobile-show'  %}
                            {% set issueClassDt = (loop.index > 3 or loop.length < 4) and loadMoreButtonOnDt ? 'issues__issue--dt-hide' : 'issues__issue--dt-show'  %}
                                {% set issueLink = issue.url %}
                                {% set icon = issue.icon.one() ?? false %}
                                <a href="{{issueLink}}" class="issues__issue {{issueClass}} {{issueClassDt}}">
                                    {% if icon %}
                                        <figure class="issues__issue-icon">
                                            {{ svg(icon) }}
                                        </figure>
                                    {% endif %}
                                    <div class="issues__issue-content">
                                        <h3 class="issues__issue-name">{{ issue.title }}</h3>
                                        {{ issue.summary }}
                                    </div>
                                    <figure class="issues__issue-read-more">
                                        {{ svg('@webroot/assets/img/svg/ic-arrow-right.svg') }}
                                    </figure>
                                </a>

                            {% if loop.index == 3 %}
                                <button data-target-group="issues__col--{{groupID}}" class="issues__more issues__more--mobile btn btn--secondary btn--grey">
                                    <span class="btn__text">Show more</span>
                                </button>
                            {% endif %}
                            
                        {% endfor %}
                    </div>
                    {% if issues|length >= totalIssueCount / 2 and canCreateColumn %}
                        {% set canCreateColumn = false %}
                        {% set groupID = 2 %}
                    </div>
                    <div class="col-lg-6 issues__col issues__col--{{groupID}}">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if loadMoreButtonOnDt %}
        <button data-target-group="issues" class="issues__more issues__more--dt btn btn--secondary btn--grey">
            <span class="btn__text">Show more</span>
        </button>
    {% endif %}
    
</div>