{% set helpContactBlocks = generalSettings.footerHelpBlock.all() %}

<div class="footer-help">
	<h2 class="footer-help__heading">
		{{ generalSettings.heading|default('Need help?') }}
	</h2>
	
	{% for contact in helpContactBlocks %}
	<div class="footer-help__contact">
		
		{% switch contact.contactType %}
		
			{% case "phone" %}
				{% set link = contact.contactLink.url is defined and contact.contactLink.url ? 'tel:' ~ contact.contactLink.url : 'tel:' ~ generalSettings.phoneNumber|replace(' ', '') %}
				{% include "_elements/partials/footer-help-contact" with { contact: contact, link: link } %}
		
			{% case "email" %}

				{% set link = contact.contactLink.url is defined and contact.contactLink.url ? 'mailto:' ~ contact.contactLink.url : 'mailto:' ~ generalSettings.emailAddress|replace(' ', '') %}
				{% include "_elements/partials/footer-help-contact" with { contact: contact, link: link } %}

			{% case "liveChat" %}

				{% set link = contact.contactLink.url is defined and contact.contactLink.url ? contact.contactLink.url : false %}
				{% include "_elements/partials/footer-help-contact" with { contact: contact, link: link, buttonOnClick: "customPlugin.command('WebChat.open',getAdvancedConfig());" } %}

			{% default %}

				{% set link = contact.contactLink.url is defined and contact.contactLink.url ? contact.contactLink.url : false %}
				{% include "_elements/partials/footer-help-contact" with { contact: contact, link: link, icon: 'liveChat' } %}
		
		{% endswitch %}
		
		
		
	</div>
	{% endfor %}
</div>
