{% import '_macros' as macros %}

<footer class="footer">

	<div class="footer__main container">
		<div class="footer__row">
			<div class="footer__help-section">
				{% include '_elements/footer-help' %}
			</div>
			<div class="footer__nav-section">
				<h3 class="footer__quicklinks-heading">Quicklinks</h3>
				{% include '_elements/nav-footer' %}
			</div>
		</div>
		<div class="back-to-top back-to-top--circle-btn">
			<button class="back-to-top__button">
				<span class="sr-only">Back to top</span>
				{{ svg('@webroot/assets/img/svg/ic-chevron-up.svg') }}
			</button>
		</div>
	</div>

	<div class="footer__acknowledgement">
		<a class="footer__logo" href="/" aria-hidden="true">
			{{ macros.svg({
				name: 'logo-ewov-footer',
				alt: seomatic.site.siteName ~ ' logo',
				attributes: { 'class' : 'footer__logo-svg' }
			}) 
			}}
		</a>
		<div>
			<p class="footer__acknowledgement-text">
				{{ generalSettings.footerText1 }}
			</p>
			<p class="footer__acknowledgement-img">
				<img src="/assets/img/flags-aboriginal.png" alt="aboriginal flag">
				<img src="/assets/img/flags-tsi.png" alt="tsi flag">
				<img src="/assets/img/rainbow_flag_shutterstock_166888310.jpg" alt="rainbow flag">
				<img src="/assets/img/flag-footer-hand.png" alt="hand flag">
			</p>
			<p class="footer__acknowledgement-text">{{ generalSettings.footerText2 }}</p>
		</div>
	</div>

	<div class="footer__extra container">
		<div class="footer__extra-links">
			<div class="footer__copyright">
				<p class="footer__copyright-text">© Energy and Water Ombudsman (Victoria) {{ 'now' | date('Y') }}</p>
			</div>
			{% set footerBottomLinks = menus.footerBottomLinks.all() %}
			{% if footerBottomLinks|length %}
				<div class="footer__bottom-links">
					{% for footerBottomLinkBlock in footerBottomLinks %}
						{% set footerBottomLink = footerBottomLinkBlock.linkField %}
						<a href="{{ footerBottomLink.getUrl() }}" class="footer__bottom-link" target="{{ footerBottomLink.getTarget() ?? '_self' }}">{{ footerBottomLink.getText() }}</a>
					{% endfor %}
				</div>
			{% endif %}
			<div class="footer__yump">
				<span class="footer__yump-text">Website by &nbsp;</span>
				<a class="footer__yump-link" target="_blank" href="https://yump.com.au">
					<span class="sr-only">Visit Yump</span>
					{{ svg('@webroot/assets/img/svg/yump-logo.svg') }}
				</a>
			</div>
		</div>
		<div class="footer__socials">
			{% set siteVars = seomatic.site %}
			{% set sameAsLinks = siteVars.sameAsLinks %}

			{% set activeSocialMediaIcons = craft.yump.getConfig('activeSocialMediaIcons') %}

			{% set facebookUrl = sameAsLinks.facebook.url ?? null %}
			{% set twitterUrl = sameAsLinks.twitter.url ?? null %}
			{% set youtubeUrl = sameAsLinks.youtube.url ?? null %}
			{% set instagramUrl = sameAsLinks.instagram.url ?? null %}
			{% set linkedinUrl = sameAsLinks.linkedin.url ?? null %}

			<div class="social-links social-links--dark-bg">
				{% for icon in activeSocialMediaIcons %}
					{% set url = sameAsLinks[icon.handle].url ?? null %}
					{% if url %}
						<a class="social-links__link {{ customClasses | default(" ") }}" aria-label="Visit our {{ icon.handle }} web page" href="{{ url }}" target="_blank">
							{{ macros.svg({
									name: 'ic-' ~ icon.handle,
									attributes: { 'class' : 'social-links__link-svg' }
								}) 
							}}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>

	</div>

</footer>
