{#
	Top menu rules:
	* Can only have maximum two levels of nav items.
#}

{% set entry = entry ?? null %} {# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}

{% import '_macros' as macros %}

<div class="header__main">

	<nav class="nav nav--main navbar navbar-expand-lg navbar-light" aria-label="Main Navigation">

		<a class="nav__brand" href="/" aria-hidden="true">
			<figure class="nav__brand-img">
				{{ macros.svg({
					name: 'logo-ewov',
					alt: seomatic.site.siteName ~ ' logo',
					attributes: { 'class' : 'nav__brand-svg' }
				}) 
				}}
			</figure>
		</a>

		<button class="navbar-toggler collapsed nav-btn nav__navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-text nav-btn__text sr-only">Menu</span>
			<span class="hamburger">
				<span class="hamburger__line hamburger__line--1"></span>
				<span class="hamburger__line hamburger__line--2"></span>
				<span class="hamburger__line hamburger__line--3"></span>
				<span class="hamburger__line hamburger__line--4"></span>
			</span>
		</button>

		<div id="main-nav" class="collapse navbar-collapse navbarSupportedContent">
			<ul class="navbar-nav ml-auto sm"
				data-sm-options="{ 
					bootstrapHighlightClasses: '', 
					{# subMenusSubOffsetX: 105,  #}
					collapsibleBehavior: 'default', 
					subMenusMaxWidth: '30rem',
					subMenusMinWidth: '20rem',
					{# mainMenuSubOffsetY: 5,  #}
					{# subIndicators: false,  #}
				}"
			>
				{% for navItem in navItems %}
					{% set isCurrent = entry and entryId == navItem.id %}
					{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
					{% set hasChildren = navItem.level == 1 and navItem.children is not empty %}
					{% set navItemInstanceID = navItem.id ~ '-' ~ random() %}
					<li class="nav-item nav__item
						{{- hasChildren ? ' dropdown' : '' -}}
						{{- isActive ? ' active' : '' -}}
						{{- isCurrent ? ' current' : '' -}}
					">
						<a 
							class="nav__link nav__link--top-level{{ hasChildren ? ' dropdown-toggle' : '' }}" 
							href="{{ navItem.url }}" 
							target="{{ navItem.target ?? '_self' }}"
							{% if hasChildren %}
								id="navbarDropdown-{{navItemInstanceID}}"
								role="button"
								data-toggle="dropdown" 
								aria-haspopup="true" 
								aria-expanded="false"
							{% endif %}
						>
							{{- navItem.title -}} 
							{%- if isCurrent -%}
								<span class="sr-only"> (current page)</span>
							{%- endif -%}
						</a>
						{% if hasChildren %}
							<ul class="nav__list nav__dropdown dropdown-menu" aria-labelledby="navbarDropdown-{{ navItemInstanceID }}">
								{% for childNavItem in navItem.children %}
									{% set childIsCurrent = entry and entryId == childNavItem.id %}
									{% set childIsActive = (entry and entryId in childNavItem.descendantsIds) or childIsCurrent %}
									<li class="nav__dropdown-list-item">
										<a class="nav__link nav__link--dropdown dropdown-item
											{{- childIsActive ? ' active' : '' -}}
											{{- childIsCurrent ? ' current' : '' -}}
										" href="{{ childNavItem.url }}" target="{{ childNavItem.target ?? '_self' }}">
											{{- childNavItem.title -}}
											{%- if childIsCurrent -%}
												<span class="sr-only"> (current page)</span>
											{%- endif -%}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

	</nav>
	
</div>


