{#
	Top menu rules:
	* Can only have maximum two levels of nav items.
	"navbar navbar-expand-lg navbar-light" are the BS classes
#}

{% set entry = entry ?? null %}
{# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set variation = variation ?? 'default' %}
{% set expandOnMobile = variation == 'mobile' ? 'navbarSupportedContent' : '' %}
<nav class="nav nav--secondary nav--secondary-{{variation}} navbar navbar-expand-lg navbar-light" aria-label="Secondary Navigation - {{variation}}">
	<div class="collapse navbar-collapse {{expandOnMobile}}">
		<ul class="nav__list navbar-nav ml-auto sm" data-sm-options="{
			bootstrapHighlightClasses: '',
			{# subMenusSubOffsetX: 105,  #}
			collapsibleBehavior: 'default',
			subMenusMaxWidth: '30rem',
			subMenusMinWidth: '20rem',
			{# mainMenuSubOffsetY: 5,  #}
			{# subIndicators: false,  #}
			subIndicatorsText: ''

		}">
			{% for navItem in navItems %}
				{% set isCurrent = entry and entryId == navItem.id %}
				{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
				{% set hasChildren = navItem.level == 1 and navItem.children is not empty %}
				{% set navItemInstanceID = navItem.id ~ '-' ~ random() %}
				<li class="nav-item nav__item
					{{- hasChildren ? ' dropdown' : '' -}}
					{{- isActive ? ' active' : '' -}}
					{{- isCurrent ? ' current' : '' -}}
				">
					<a class="nav__link{{ hasChildren ? ' dropdown-toggle' : '' }}" href="{{ navItem.url }}" target="{{ navItem.target ?? '_self' }}" {% if hasChildren %} id="navbarDropdown-{{ navItemInstanceID }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>
						{{- navItem.title -}}
						{%- if isCurrent -%}
							<span class="sr-only">
								(current page)</span>
						{%- endif -%}
					</a>
					{% if hasChildren %}
						<ul class="nav__dropdown dropdown-menu" aria-labelledby="navbarDropdown-{{ navItemInstanceID }}">
							{% for childNavItem in navItem.children %}
								{% set childIsCurrent = entry and entryId == childNavItem.id %}
								{% set childIsActive = (entry and entryId in childNavItem.descendantsIds) or childIsCurrent %}
								<li class="nav__dropdown-list-item">
									<a class="nav__link nav__link--dropdown dropdown-item
										{{- childIsActive ? ' active' : '' -}}
										{{- childIsCurrent ? ' current' : '' -}}
										" href="{{ childNavItem.url }}" target="{{ childNavItem.target ?? '_self' }}">
										{{- childNavItem.title -}}
										{%- if childIsCurrent -%}
											<span class="sr-only">(current page)</span>
										{%- endif -%}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		{% include "_elements/partials/link-complaint" with {variation: 'mobile', useIcon: true } %}
		{% include "_elements/partials/link-phone" with { variation: 'mobile' } %}
		{% include "_elements/search-button-header" with { closeButton: true } %}
		{% include '_elements/search-bar' with { variation: 'mobile'} %}


	</div>
</nav>
