<div class="container tabs__nav">

    <ul class="nav nav-tabs nav-tabs--dt" role="tablist">
    
    {% for tab in tabs.all() %}
        {% set tabID = tab.tabLabel|kebab %}
        {% set tableauID = 'tableau-' ~ tab.id %}
        <li class="nav-tabs__item">
            <a class="nav-link nav-tabs__link{{loop.first ? ' active' : ''}}" id="{{tableauID}}-tab" data-toggle="tab" href="#{{tableauID}}" role="tab" aria-controls="{{tableauID}}" aria-selected="{{loop.first ? 'true' : 'false'}}">{{tab.tabLabel}}</a>
        </li>
    {% endfor %}

    </ul>

</div>

