{#
Sidebar Menu rules, landing page template vs general page template:
---
* Client gets to choose between landing template and general template
..* Landing page template:
....* Does not have sidebar menu, the main content will be centred horizontally
....* Navigation to child pages: Client has a toggle field in landing page template. By default we would automatically populate the children cards + optionally defining the cards section title. But client can turn it off to create the cards by themselves using the Image Cards block if they want.
..* General content page template:
....* It does have a sidebar navigation (on 2nd level and deeper - i.e. 3rd and 4th).
......* On desktop, the sidebar navigation will only show if using main content (article width) because there's no room to put it. It will show on mobile even if no main content is defined.
......* The sidebar navigation will only show siblings (including self) and current page's direct children
......* The sidebar navigation is not togglable, the children of the siblings will not be shown
......* DO NOT show the sidebar navigation if on 1st level pages, no matter if it has children or not, because we can access exactly the same list from the top menu.
......* On mobile, the sidebar navigation becomes a 'Sections' menu, with the same list (consistent between desktop and mobile). It sits underneath the breadcrumb.
......* The sidebar menu will have a title, which is the parent page's title. On mobile, this becomes the default showing label of the dropdown box.
#}

{#
Based on the rules above, we shouldn't have a page with sidebar nav and not having a parent at the same time. So, we can always assume if a sidebar nav is present, the current page always has a parent.
#}

{# Assuming when get to this point, we should have an entry var available. Otherwise, including this template doesn't make sense, which means you're probably doing something wrong #}


{% set entryId = craft.yump.getEntryId(entry) %}

{% if customNavItems is not defined %}
    {# EWOV has two menu areas so we need to search them both #}
    {% set allNavItems = craft.yump.getNav() %}
    {% set parentNavItemOfCurrentEntry = craft.yump.findParentItemInNav(allNavItems, entryId, entry) %}
{% endif %}

{% if parentNavItemOfCurrentEntry is defined and parentNavItemOfCurrentEntry or customNavItems is defined %}

    <aside class="sidebar">

        <h3 class="sidebar__nav-heading">
            {% if parentNavItemOfCurrentEntry is defined %}
                <a class="sidebar__nav-heading-link" href="{{ parentNavItemOfCurrentEntry.url }}">
					<span class="sidebar__nav-heading-link-text">
						{{ parentNavItemOfCurrentEntry.title }}
					</span>
                </a>
            {% elseif heading is defined %}
                {{ heading }}
            {% elseif customParentEntry is defined %}
                <a class="sidebar__nav-heading-link" href="{{ customParentEntry.url }}">
					<span class="sidebar__nav-heading-link-text">
						{{ customParentEntry.title }}
					</span>
                </a>
            {% endif %}
        </h3>

        <ul class="sidebar__nav">

            {% set sidebarNavItems = parentNavItemOfCurrentEntry is defined ? parentNavItemOfCurrentEntry.children : customNavItems %}
            {% if sidebarNavItems.all() is defined %}
                {% set sidebarNavItems = sidebarNavItems.all() %}
            {% endif %}
            {% for navItem in sidebarNavItems %}
                {% set isCurrent = navItem.id == entryId %}
                {% set hasChildren = isCurrent and navItem.children %}
                <li class="sidebar__nav-item
					{{- isCurrent ? ' sidebar__nav-item--current' : '' -}}
					{{- hasChildren ? ' sidebar__nav-item--has-children' : '' -}}
				">
                    <a href="{{ navItem.url }}"
                       class="sidebar__nav-item-link" {% if parentNavItemOfCurrentEntry is defined and navItem.target %} target="{{ navItem.target }}" {% endif %}>
                        <span class="sidebar__nav-item-link-text">{{ navItem.title }}</span>
                        {%- if isCurrent -%}
                            <span class="sr-only"> (current page)</span>
                        {%- endif -%}
                    </a>

                    {# {% if hasChildren %}
						<ul class="sidebar-nav__subnav" aria-label="Child pages of {{ navItem.title }}">
							{% for childNavItem in navItem.children %}
								{% set childIsCurrent = childNavItem.id == entryId %}
								<li class="sidebar-nav__subnav--item">
									<a href="{{ childNavItem.url }}" {% if childNavItem.target %}target="{{ childNavItem.target }}{% endif %}">{{ childNavItem.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %} #}
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endif %}
