{# 
	Footer nav rule:
	1. Show only the 1st level and 2nd level pages
	2. Group them by each 1st level pages

	Now, our design of footer nav might vary. Some websites might have a few different groups which is very hard to divide them into columns programatically, so we can't just loop through 1st level navItems to generate the HTML. Instead, we might need to manually divide them into columns based on the IA of the project and the design. One thought would be having a separate array defining how to divide the 1st level navItems. Then, we can loop through that array to generate the columns of the footer-nav. Or, if necessary, make it available for client in CMS to define which top level pages go into each column, probably under Globals. To create a field for a list of top level only entries, you might need to use plugin 'Dynamic Fields', or write instruction for client to select only top level pages.
#}

{% set entry = entry ?? null %}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set navItems = menus.footerMenuEntries.all() %}
{% set batchNumber = (navItems|length/2)|round(0, 'ceil') %}

<nav class="footer-nav" aria-label="Footer Navigation">
	{% for navGroup in navItems|batch(batchNumber) %}
		<div class="footer-nav__group">
			{% for navItem in navGroup %}
				<div class="footer-nav__item">
				{% if navItem.type == 'linkOnly' %}
					<a class="footer-nav__link" href="{{ navItem.cta.url }}" target="_blank">
				{% else %}
					<a class="footer-nav__link" href="{{ navItem.url }}">
				{% endif %}
						<span class="footer-nav__link-text">{{ navItem.title }}</span>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</nav>
