
{% set wrapperClass = variation ?? 'desktop' %}
{% set closeButton = closeButton is defined ? closeButton : false %}
{% set instanceID = variation ~ random() %}

<div class="search-bar search-bar--{{variation}}{% if closeButton == true %} search-bar--with-close{% endif %}">
	<form role="search" method="get" class="search-bar__form" action="{{ url('/search') }}" aria-label="Search form for EWOV Website - {{variation}}">
		{% for section in craft.yump.getConfig('searchDefaultSections') %}
			<input type="hidden" name="sections[]" value='{{section}}'>
		{% endfor %}

<input type="search" class="search-bar__input form-control" id="searchInputHeader{{instanceID}}" placeholder="Enter Keyword" required="" value="{{ craft.app.request.getParam('q') ? craft.app.request.getParam('q') | trim : '' }}" name="q" aria-label="Enter Keyword to Search">


		<label for="searchInputHeader{{instanceID}}" class="search-bar__label sr-only">Search</label>
		<button id="searchSubmit{{instanceID}}" class="search-bar__submit-btn" type="submit" aria-label="Submit Search">
			<span class="search-bar__label">Search</span>
			{{ svg('@webroot/assets/img/svg/ic-search.svg') }}
		</button>
		
		<span class="search-bar__close-btn">
			{{ svg('@webroot/assets/img/svg/ic-close.svg') }}
			<span class="search-bar__close-btn-label">Cancel</span>
		</span>

		{# <button class="search-bar__toggle-icon">
			{{ svg('@webroot/assets/img/svg/ic-search.svg') }}
			<span class="search-bar__label">Cancel</span> 
		</button> #}

	</form>
</div>
