{# Required:
	1. either:
	- pass in sectionHeading and sectionSummary directly
	or
	- obj: the obj which has the following two fields: heading and summary

	2. objHandle: the handle for the obj. E.g. form, cards. Just for css class naming purposes

	Optioinal: 
	icon: asset object
#}
{% set sectionHeading = sectionHeading ?? (obj is defined and obj.heading ? obj.heading|trim : null) %}
{% set sectionIcon = sectionIcon ?? (obj.icon | default(false) ) %}
{% set variation = sectionIcon ? 'has-icon' : 'no-icon' %}
{% set sectionSummary = sectionSummary ?? (obj.summary | default(null) ) %}
{% set sectionSummaryClass = sectionSummary ? 'section-head--has-summary' : 'section-head--no-summary' %}

{% set truncate = truncate ?? false %}
{% if sectionHeading or sectionSummary %}
	<div class="container">
<div class="section-head section-head--{{ objHandle }} section-head--{{variation}} {{sectionSummaryClass}}">
			{% if sectionIcon %}
				<figure class="section-head__icon">
					{{ svg(sectionIcon) }}
				</figure>
			{% endif %}
			<div class="section-head__content">
				{% if sectionHeading %}
					{# ID used by anchor links if present #}
					<h2 id="{{craft.yump.createSlug(sectionHeading)}}" class="section-head__heading"{% if objHandle == 'custom-form' %} tabindex="-1"{% endif %}>
						{{ sectionHeading }}
					</h2>
				{% endif %}

				{% if sectionSummary|trim %}
					<div class="section-head__summary">
						{% set paragraphs = sectionSummary|split('</p>') %}
						
						{% if truncate and paragraphs|length > 9 %}

							{% set paragraphs = sectionSummary|split('</p>', 6) %}
							{% set id = 'expand-' ~ sectionSummary|length %}

							<div class="expand-content" data-expand-wrap="{{id}}">

								{% for key, paragraphGroup in paragraphs|batch(5) %}
								<div class="{{ key == 0 ? 'expand-content__content-show' : 'expand-content__content-hide' }}" {{ key == 1 ? 'data-expand-content=' ~ id}} {{ key == 1 ? 'id=' ~ id}}>
										{% for paragraph in paragraphGroup %}
											{{ paragraph|raw }}
										{% endfor %}
									</div>
									{% if key == 0 %}
										<button data-expand="{{id}}" class="expand-content__btn" aria-controls="expand-{{id}}" aria-expanded="false">
											<span class="expand-content__btn-text">
												Continue reading
											</span>
										</button>
									{% endif %}
								{% endfor %}

							</div>

						{% else %}

							{{ sectionSummary | raw }}

						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}