{# 
    Can either be buttons horizontally displayed or as a dropdown 
    @param dropdown bool
 #}
{% set dropdown = dropdown ?? false %}
{% set type = type ?? '' %}

<script src="//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&product=custom-share-buttons"></script>
{% if dropdown %}
    <div class="dropdown dropdown--share-this">
        <button class="btn btn--has-icon btn--grey dropdown__share-cta banner__download-share-cta" data-toggle="dropdown" id="shareThisDropdownButton">
            {{ svg('@webroot/assets/img/svg/ic-share.svg')|attr({
                class: 'banner__download-share-cta-icon'
            }) }}
            <span class="banner__download-share-text">Share</span>
            {{ svg('@webroot/assets/img/svg/ic-caret-down.svg')|attr({
                class: 'banner__download-share-dropdown-icon'
            }) }}
        </button>
        <div class="dropdown-menu dropdown__menu" aria-labelledby="shareThisDropdownButton">
            {% include "_elements/partials/buttons-share-this" with { type: 'dropdown' } %}
        </div>
    </div>
{% else %}
    <div class="share-this matrix-block">
        <h2 class="share-this__heading">Share this page</h2>
        <div class="share-this__buttons-wrap">
            {% include "_elements/partials/buttons-share-this" with { type: 'share-this' } %}
        </div>
    </div>
{% endif %}