{% set name = generalSettings.alertName ?? 'sitewide' %}
{% set id = craft.yump.createSlug(name) %}
<div class="sitewide-alert" data-alert="{{id}}">
	<div class="sitewide-alert__content">
		<div class="sitewide-alert__tag">ALERT</div>
		<div class="sitewide-alert__content__text">{{generalSettings.sitewideAlert}}</div>
	</div>
	<button data-alert-close="{{id}}" class="sitewide-alert__close-btn" name="Close Alert">
		<span class="sr-only">Close Alert</span>
		{{ svg('@webroot/assets/img/svg/ic-close-alert.svg')|attr({'class':'sitewide-alert__close-btn-icon'}) }}
	</button>
</div>
