/** 
	Project Specific Variations of BS buttons here, set up in src\styles\base\design-system-components\_ds-buttons.scss
**/

.btn {
	@extend %button;

	&__append {
		@extend %button__append;
	}

	&__prepend {
		@extend %button__prepend;
	}

	&--primary {
		@extend %button--primary;
	}

	&--secondary {
		@extend %button--secondary;
	}

	&--has-icon {
		@extend %button--has-icon;
	}

	&--centered {
		@extend %button--centered;
	}

	&--icon-only {
		@extend %button--icon-only;
	}

	&--pagelink {
		@extend %button--pagelink;
	}

	// Large button is the same as primary but doesn't get smaller on mobile
	&--large {
		@extend %button--large;
	}

	&--small {
		@extend %button--small;
	}

	&--grey {
		@extend %button--grey;
	}

	&--square {
		@extend %button--square;
	}

	&--link {
		@extend %button--link;
	}

	// Small square for the form submit button
	&--square-small {
		@extend %button--square-small;
	}
}
