//Default Styles (also see src/styles/base/bs-variables/_forms.scss)

label {
	font-weight: 700;
}

legend {
	@extend %secondary-heading;
	color: $secondary;
}

legend.h4 {
	@extend %minor-heading;
}

.form-control {
	border-bottom: none;

	&:focus {
		box-shadow: inset 1px -2px 0 0 var($cool-grey);
		border: solid 1px var($cool-grey);
	}
}

.tab-hidden {
	display: none;
}

/*
 * Check box style
 */
.form-check {
	padding-left: 3.4rem;

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input[type="checkbox"]:checked + label {
		&:after {
			background-repeat: no-repeat;
			background-image: url("/assets/img/svg/ic-checkbox.svg") !important;
			background-position: center center;
		}
	}

	input[type="checkbox"] + label {
		position: relative;
		display: block;
		padding: 2px 0;

		&:before,
		&:after {
			position: absolute;
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			top: 0.2rem;
			left: -3.4rem;
			border-radius: 3px;
			box-shadow: inset 0 -2px 0 0 $cool-grey;
			border: solid 0.8px $cool-grey;
			background-color: $white;
			outline: none;
			content: " ";
		}
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input[type="radio"]:checked + label {
		&:after {
			background-image: url("/assets/img/svg/form-ic-radio-checked.svg");
		}
	}

	input[type="radio"] + label {
		position: relative;
		display: block;
		padding: 2px 0;

		&:before,
		&:after {
			position: absolute;
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			top: 0.2rem;
			left: -3.4rem;
			content: " ";
		}

		&:before {
			background-image: url("/assets/img/svg/form-ic-radio.svg") !important;
		}
	}
}

.form-check + .form-check {
	margin-top: 23px;
}

.form-check + .invalid-feedback {
	margin-top: 0.5rem;
}

.invalid-feedback + ul.errors, ul.errors {
	color: #d0490f;
	padding-left: 0;
	list-style: none;
}

.form-group fieldset > label, .form-group > label, .form-group fieldset > legend, .form-group > legend {
	@extend %very-minor-heading;
	font-weight: bold !important;
	margin-bottom: 1.6rem;
}

.custom-form {
	background-image: url("/assets/img/bg-form.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 33px $spacing-m;
	border-radius: 8px;
	@include media-breakpoint-up(lg) {
		padding: 48px 57px;
	}

	form {
		label, legend {
			@extend %body-text;
			color: $gunmetal;
		}

		input,
		textarea {
			padding: 11px 14px;
			border-radius: 4px;
			box-shadow: inset 1px -2px 0 0 $cool-grey;
			border: solid 1px $cool-grey;
			margin-bottom: 20px;

			&:focus {
				outline: none;
				box-shadow: inset 1px -2px 0 0 $greeny-blue;
				border: solid 1px $greeny-blue;
			}
		}

		input[type="radio"] {
			&:focus {
				outline: 1px solid black;
				+ label {
					font-weight: bold;
					&:before {
						background-image: url("/assets/img/svg/form-ic-radio-dark.svg") !important;
					}
				}
			}
		}
	}

	/*.alert-danger {
    display: none;
  }*/

	.form-control {
		margin-bottom: 8px;
	}

	.form-group {
		margin-bottom: 4rem;
	}

	label.required, legend.required {
		&:after {
			content: "*";
			color: #e41e27;
		}
	}

	.is-invalid {
		background-image: none;
	}

	.invalid-feedback {
		margin-left: 0;
		padding-left: 0;
		list-style: none;

		li {
			background-image: url("/assets/img/svg/ic-error.svg");
			background-position: center left;
			padding-left: 20px;
			background-repeat: no-repeat;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.14;
			letter-spacing: normal;
		}

		li + li {
			margin-top: 0.5rem;
		}
	}

	.form-text {
		margin-top: 0;
		margin-bottom: 1.6rem;
	}

	.invalid-feedback {
		display: block;
	}

	.label-invalid ~ .form-control {
		border-color: #d0490f;
	}

	.instructions {
		display: block;
		margin-bottom: 1.3rem;
	}

	div.filter {
		.is-invalid {
			.selectize-input {
				border-color: #d0490f;
			}
		}
	}
}
