// also see src\styles\content-blocks\_tabs.scss
$desktop-tabs-breakpoint: 'lg';

.nav-tabs {
    $self: &;
    
    &__item {
        &:last-child() {
            #{$self}__link {
                border-top-right-radius: 8px;
            }
        }
        &:first-child {
            border-left: 1px solid $pinkish-grey;
        }
    }

    &__link {
        padding: 19px 22px;
        background-color: $battleship-grey;
        color: $white;
        border-right: 1px solid $white !important;
        position: relative;
        transition: background 0.3s ease-in-out;
        font-size: 1.4rem;
        &:hover {
            color: $white;
            background-color: $gunmetal;
        }
        &.active {
            &:before {
                content: '';
                @include border-top-radius(8px);
                display: inline-block;
                width: 100%;
                height: 3px;
                background-color: $water-blue;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &--mobile {
            display: block;
            width: 100%;
            @include media-breakpoint-up($desktop-tabs-breakpoint) {
                display: none;
            }
        }
    }

    &--mobile {

    }

    &--dt {
        display: none;
        @include media-breakpoint-up($desktop-tabs-breakpoint) {
            display: flex;
        }
    }
}