.section-head {
	$self: &;

	@extend %section-head;

	&__heading {
		@extend %section-head__heading;
	}

	&__summary {
		@extend %section-head__summary;
	}
	 
	&__icon {
		@include media-breakpoint-up(md) {
			margin-right: 40px;
		}
		@include media-breakpoint-up(lg) {
			margin-right: 100px;
		}
		svg {
			width: 74px;
			height: 76px;
			@include media-breakpoint-up(lg) {
				width: 151px;
				height: 148px;
			}	
		}
	}

	&--has-icon {
		@include media-breakpoint-up(md) {
			display: flex;
		}
		@include media-breakpoint-up(xl) {
			max-width: 1100px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--accordion {
		@include fluid-property('margin-bottom', 16);
		#{$self}__heading {
			// @extend %sub-heading;
		}
	}
	
	// Body text style summaries
	&--downloads, &--cards, &--custom-form {
		#{$self}__summary {
			@extend %section-head__summary--dulled;
			color: $body-color;
		}
	}

	&--tab {
		margin-bottom: 24px;
		#{$self}__content {
			@include make-row();
		}
		#{$self}__heading {
			@extend %sub-heading;
			@include make-col-ready();
			@include make-col(4);
		}
		#{$self}__summary {
			@extend %body-text;
			@include make-col-ready();
			@include make-col(8);
		}
	}

	&--tabs {
		#{$self}__summary {
			@extend %body-text;
		}
	}

	&--no-summary {
		#{$self}__heading {
			@include make-col(12);
		}
	}
	
}

// Accordion heading small in boxed section in design
.body-boxed {
	.matrix-block--accordions {
		@include fluid-property('margin-bottom', 16);
		.section-head__heading {
			@extend %sub-heading;
		}
	}
}