html {
	font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

body {
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

iframe {
	max-width: 100%;
}
