{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EWOV module for Craft CMS
 *
 * EWOVModuleWidget Widget Body
 *
 * @author    Yump
 * @copyright Copyright (c) 2020 Yump
 * @link      https://yump.com.au
 * @package   EWOVModule
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@modules/ewov-module/assetbundles/ewovmodulewidgetwidget/dist', true) ~ '/img/EWOVModuleWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
