{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Page Not Found") %}

{% block errorContent %}
    <div class="error-page--wrap">
        <div class="error-page--wrap-text">
            <h2 class="error-page--title">Page not found</h2>
            <p class="error-page--content">Sorry! We could not find the page you were looking for. </p>
            <a href="/" class="btn btn--square">Go back home</a>
        </div>
        <div class="error-page--wrap-img">
            <img src="/assets/img/svg/ic-404.svg" alt="404" class="img-fluid">
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include '_elements/footer' ignore missing %}
{% endblock %}