{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Service Unavailable") %}

{% block errorContent %}
	<h2>Service Unavailable</h2>
	<p>Our site is temporarily unavailable. Please try again later.</p>
{% endblock %}