{% set type = type ?? 'share-this' %}
<button data-network="email" class="st-custom-button btn btn--has-icon {{type}}__button {{type}}__button--email">
	{{ svg('@webroot/assets/img/svg/ic-share-email.svg')|attr({
                        class: type ~ '__button-icon'
                    }) }}
	<span class="{{type}}__button-text">Email</span>
</button>
<button data-network="facebook" class="st-custom-button btn btn--has-icon {{type}}__button {{type}}__button--facebook">
	{{ svg('@webroot/assets/img/svg/ic-facebook.svg') | attr({
                        class: type ~ '__button-icon'
                    }) }}
	<span class="{{type}}__button-text">Facebook</span>
</button>
<button data-network="twitter" class="st-custom-button btn btn--has-icon {{type}}__button {{type}}__button--twitter">
	{{ svg('@webroot/assets/img/svg/ic-twitter.svg')|attr({
                        class: type ~ '__button-icon'
                    }) }}
	<span class="{{type}}__button-text">Twitter</span>
</button>
<button data-network="linkedin" class="st-custom-button btn btn--has-icon  {{type}}__button {{type}}__button--linkedin">
	{{ svg('@webroot/assets/img/svg/ic-linkedin.svg') | attr({
                        class: type ~ '__button-icon'
                    }) }}
	<span class="{{type}}__button-text">LinkedIn</span>
</button>

