{% set iconName = icon|default(contact.contactType) %}
{% set buttonOnClick = buttonOnClick ?? false %}
{% if link %}
	<a href="{{link}}" class="footer-help__contact-icon" target="_blank" aria-hidden="true">
		{{ svg('@webroot/assets/img/svg/ic-' ~ iconName ~ '.svg') }}
		<span class="sr-only">{{ contact.heading }}</span>
	</a>
{% elseif buttonOnClick %}
	<button onclick={{buttonOnClick}} class="footer-help__contact-icon" aria-hidden="true">
		{{ svg('@webroot/assets/img/svg/ic-' ~ iconName ~ '.svg') }}
		<span class="sr-only">{{ contact.heading }}</span>
	</button>
{% else %}
	<span class="footer-help__contact-icon" aria-hidden="true">
		{{ svg('@webroot/assets/img/svg/ic-' ~ iconName ~ '.svg') }}
		<span class="sr-only">{{ contact.heading }}</span>
	</span>
{% endif %}

<div class="footer-help__contact-content">
	{% if link %}
		<a href="{{link}}" class="footer-help__contact-heading">
			{{ contact.heading }}
		</a>
	{% elseif buttonOnClick %}
		<button onclick={{buttonOnClick}} class="footer-help__contact-heading footer-help__contact-heading--button">
			{{ contact.heading }}
		</button>
	{% endif %}
	<div class="footer-help__contact-sub-content">
		{{ contact.text }}
	</div>
</div>
