{% set complaintPage =  generalSettings.singleEntry.one() ?? null %}
{% set useIcon = useIcon ?? false %}
{% set variation = variation ?? 'all' %}
{% if complaintPage %}
	<a href="{{ complaintPage.url }}" class="header__start-complaint header__start-complaint--{{variation}} link-complaint">
        {% if variation == 'desktop' %}
            <span class="header__start-complaint-circle-bg">
                {{ svg('@webroot/assets/img/svg/ic-complaint-btn.svg')|attr({
                    class: 'header__start-complaint-circle-bg-svg'
                }) }}
            </span>
        {% endif %}
        
        {% if useIcon %}
            <figure class="header__start-complaint-icon">
                {{ svg('@webroot/assets/img/svg/ic-info-bubble.svg') }}
            </figure>
        {% endif %}
		<span class="header__start-complaint-text">{{ complaintPage.title }}</span> 
	</a>
{% endif %}
