{% set variation = variation is defined ? ' header__phone--' ~ variation : '' %}
{% if generalSettings.phoneNumber %}
	{% set link = 'tel:' ~ generalSettings.phoneNumber|replace(' ', '') %}
    <a href="{{ link }}" class="header__phone {{- variation -}}">
		{{ svg('@webroot/assets/img/svg/ic-phone.svg')|attr({
			class: 'header__phone-icon'
		}) }}
		<span class="header__phone-text">
			{{ generalSettings.phoneNumber }}
		</span>
	</a>
{% endif %}
