.complain-form {
  &--layout {
    .nav__brand {
      display: block;
      margin: 0;

      &-img {
        &:after {
          content: none;
        }
      }
    }

    .header {
      &__container {
        border-bottom: 1px solid $silver;
        padding: 4.2rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }

  }

  &--steps {
    margin-right: 30%;
    @include media-breakpoint-down(lg) {
      margin-right: 10%;
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-top: 45px;
    }

    &-line {
      width: 100%;
      height: 2px;
      background-color: $cool-grey;
      position: absolute;
      z-index: -1;
    }

    &-icons {
      padding-left: 48px;
      @include media-breakpoint-down(md) {
        padding-left: 0;
        display: flex;
        justify-content: center;
      }

      .fas {
        padding: 6px;
        background-color: #FFF;

        &.fa-circle {
          color: $tomato;
          font-size: 13px;
        }

        &.fa-check {
          font-size: 10px;
          color: $marine;
        }
      }

      .far {
        color: $cool-grey;
        font-size: 8px;
        background-color: #FFF;
      }
    }

    &-icon {
      width: 400px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 640px) {
        width: 100%;
        margin: 0 28px;
      }
    }

    &--text {
      width: 514px;
      display: flex;
      justify-content: space-between;

      .current {
        font-size: 14px;
        font-weight: bold;
        @media only screen and (max-width: 640px) {
          font-size: 12px;
        }
      }

      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }
      @media only screen and (max-width: 640px) {
        width: 100%;
        div {
          font-size: 12px;
        }
      }
    }
  }

  &--form {
    @include media-breakpoint-up(lg) {
      padding: 48px 57px;
    }

    &.custom-form {
      background: none;
    }

    padding: 75px 0 0;

    h2 {
      @extend %secondary-heading;
    }

    .btn--square-small[name='form_previous_page_button'] {
      background-color: #f1f1f1;
      border-color: #f1f1f1;
      color: #455560;
    }

    .btn--square-small + .btn--square-small {
      margin-left: 16px;
    }
  }
}