.oops {

}

.error-page {
  #main {
    background-color: $pale;
    padding: 58px 0;
  }

  .footer {
    background-color: $marine;
    background: -moz-linear-gradient(
                    top,
                    $pale 0%,
                    $pale 101px,
                    $marine 101px,
                    $marine 100%
    );
    background: -webkit-linear-gradient(
                    top,
                    $pale 0%,
                    $pale 101px,
                    $marine 101px,
                    $marine 100%
    );
    background: linear-gradient(
                    to bottom,
                    $pale 0%,
                    $pale 101px,
                    $marine 101px,
                    $marine 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$pale', endColorstr='$marine', GradientType=0);

    @include media-breakpoint-up(md) {
      padding-bottom: 41px;
      background: -moz-linear-gradient(
                      top,
                      $pale 0%,
                      $pale 34px,
                      $marine 34px,
                      $marine 100%
      );
      background: -webkit-linear-gradient(
                      top,
                      $pale 0%,
                      $pale 34px,
                      $marine 34px,
                      $marine 100%
      );
      background: linear-gradient(
                      to bottom,
                      $pale 0%,
                      $pale 34px,
                      $marine 34px,
                      $marine 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$pale', endColorstr='$marine', GradientType=0);
    }

    margin-top: 0;
  }

  &--title {
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $charcoal-grey;
  }

  &--content {
    font-family: 'MuseoSans', Arial;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: $gunmetal;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 334px;
  }

  &--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      padding: 0 12px;
    }
  }
}

