$print-base-font: 16px;
//$print-h1: $print-base-font * 1.5;
//$print-h2: ;
//$print-h3: ;
$increase: 4px;
$print-font-color: $gray-900;
$print-font-light: $gray-800;


.fact-sheet {
	//hide table style in normal display
	&__table {
		display: flex;
		justify-content: center;
		&--body, &--row, &--cell {
			display: block; width: 100%;
		}
	}
	&__thead, &__thead-space, &__tfoot, &__tfoot-space, &__head, &__footer {
		display: none;
	}

	&__head, &__footer {
		width: 1440px;
	}

	&__header { height: 200px; }
	&__footer {	height: 400px; }

	&__breadcrumbs {
		padding: 0;
		@include media-breakpoint-up(md){
			padding: 24px 0;
		}
	}

	&__document-heading {
		@extend %fact-sheet-heading;
		display: none;
		&__update {
			font-family: $font-family-base;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: $battleship-grey;
			margin-bottom: 48px;
		}
		&__heading {@extend %fact-sheet-heading__heading;}
	}

	&__document-heading-summary {@extend %fact-sheet-heading__summary;}

	@media print {
		color: $print-font-color;
		font-size: 18px + $increase;
		//min-width: 1440px !important;
		&__breadcrumbs {
			display: none;
		}
		//container gap offset
		.container {
			max-width: 100%;
			min-width: unset !important;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}
		.body-boxed {
			width: 100%;

			&__container {
				max-width: 100%;
			}
		}
		.neo-main-content {
			display: block;
			flex: 0 0 100%!important;
			max-width: calc(1440px - 172px)!important;
			margin-left: 86px;
			margin-right: 86px;
			padding: 0;
			page-break-inside: auto;
			order: unset;
			&__content {
				page-break-inside: auto;
			}
		}
		//min-width: calc( 1440px - 172px );
		.neo-secondary-content {
			display: block;
			max-width: calc(1440px - 172px)!important;
			margin-left: 86px;
			margin-right: 86px;
			padding: 0;
			page-break-inside: auto;
		}
		//min-width: calc( 1440px - 172px );

		//make display table + print header + print footer
		&__table {
			display: table;
			width: 100%;
			height: 100%;
			margin: 0;
			//* {position: relative;}

			&--body {
				display: table-row-group;
				vertical-align: middle;
				page-break-inside: auto;
				height: 100%;
				width: 100%;
			}

			&--row {
				display: table-row;
				page-break-inside: auto;
			}

			&--cell {
				display: table-cell;
				page-break-inside: auto;
			}
		}
		&__thead {
			display: table-header-group;
		}
		&__tfoot {
			display: table-footer-group;
		}
		&__thead-space, &__tfoot-space {
			display: block;
		}
		&__head, &__thead-space {
			height: 200px;
			width: 100%;
		}
		&__footer, &__tfoot-space {
			height: 400px;
			width: 100%;
		}

		&__head {
			display: flex;
			align-items: center;
			position: fixed;
			top: 0;
			right: 0;
			max-width: 100%;
			width: 100%;
			margin: auto;
		}
		&__footer {
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			max-width: 100%;
			width: 100%;
			margin: auto;
		}
		.print-fixed-header {
			//width: 1440px;
			position: relative;
			&__logo {
				position: relative;
			}
			&__phone {
				position: relative;
			}
		}
		.print-fixed-footer {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&__header, &__label, &__summary {
				color: $print-font-color;
			}

			&__box {
				width: 66%;
				display: inline-block;
			}

			&__row {
				width: 100%;
				display: flex;
			}

			&__column {
				width: 50%;
			}


			&__logo {
				display: flex;
				margin-right: auto;
				margin-left: auto;
				margin-top: 0;
				float: left;
			}
		}

		//make table line show up
		th, td {
			background-color: transparent !important;
		}

		//make li have proper page break
		ul,ol { page-break-inside: avoid; }
		li { page-break-inside: avoid;
			* { page-break-inside: avoid;}
		}

		.matrix-block--richText {
			.rich-text {
				a, p, b, span, em, li{
					font-size: 18px + $increase;
					line-height: 1.5;
				}
				li{
					line-height: 1.8;
				}

				h1 {
					font-size: 48px + $increase;
					line-height: 1.167;
				}

				h2 {
					font-size: 40px + $increase;
					line-height: 1.3;
				}
				h3 {
					font-size: 24px + $increase;
					line-height: 1.5;
				}
				h4 {
					font-size: 20px + $increase;
					line-height: 1.2;
				}
				.leading-text{
					font-size: 20px + $increase;
					line-height: 1.4;
				}
			}
		}

		//components and blocks
		.matrix-block:not(.matrix-block--column) {
			width: 100%;
			max-width: 100%;
			word-break: break-word;
		}

		//page-break-after: auto;
		.matrix-block--twoColumns {
			page-break-inside: avoid;
		}
		.matrix-block--column {
			max-width: 50%;
			word-break: break-word;
			page-break-inside: avoid;
		}

		.matrix-block--anchorPoint {
			display: inline-block;
			page-break-after: avoid;
			.anchor-link-destination__heading {
				font-size: 40px + $increase;
				line-height: 1.3;
			}
		}
		&__document-heading {
			display: block;
			&__update {
				font-size: 18px + $increase;
				color: $print-font-light;
			}
			&__heading {
				font-size: 48px + $increase!important;
			}
		}
		&__document-heading-summary {
			font-size: 20px + $increase!important;
			color: $print-font-color;
		}

		.matrix-block--anchorLinks {
			display: none;
			margin-top: 0;
			margin-bottom: 0;
		}
		.anchor-link-destination {
			page-break-after: avoid;
		}
		.page-break-print {
			page-break-after: always;
		}

		//images block
		.slider-item__image {
			max-width: 900px;
			width: auto;
			page-break-inside: avoid;
			position: relative;
		}
		.slider-item__caption-counter {
			font-size: 18px + $increase;
			line-height: 1.5;
		}
		.slick-list {
			height: auto !important;
		}
		.slick-track {
			width: 100% !important;
			display: flex;
			flex-direction: column;
			transform: unset !important;
			height: auto;
			max-width: 100% !important;
			page-break-inside: auto;
			&:before, &:after {display: none;}
		}
		.slick-slide {
			float: none;
			height: auto;
		}
		.slick-slider {
			height: auto !important;
			max-width: 100%;
		}
		.slider__nav-button {
			display: none !important;
		}
		.slick-cloned {
			display: none !important;
		}
		.slider__captions {
			display: none;
		}
		.slick-dots {
			display: none;
		}

		//rich-text has colour backgrounds avoid page break
		.rich-text--bg-grey,.rich-text--bg-pale {
			page-break-inside: avoid;
		}

		.matrix-block--richText{
			width: 100%;
			display: block;
		}
		.rich-text {
			vertical-align: top;
			display: inline-block;
			width: 100%;
		}

		//quote
		.quote { page-break-inside: avoid;
			&__main{
				font-size: 24px + $increase;
				line-height: 1.5;
			}
			&__astreix {
				font-size: 12px + $increase;
				line-height: 1.33;
			}
		}

		//accordion
		.matrix-block--accordions {
			page-break-inside: auto;
			.accordion {
				page-break-inside: auto;
				&__header-content {font-size: 18px + $increase;}
				&__item {page-break-inside: avoid;}
			}
			.collapse:not(.show) {
				display: block !important;
			}
		}

		//glossary
		.glossary {
			page-break-inside: avoid;
			&__container {
				max-width: 100%
			}

			&__back-to-top {
				display: none;
			}
			&__heading {
				font-size: 28px + $increase;
				line-height: 1.3;
			}
		}

		.section-head__content {
			break-inside: avoid;
		}

		//sr-only display none
		.sr-only { display: none; }

		//img-with-text block
		.img-with-text{
			&__content {
				max-width: 100%;
				page-break-inside: avoid;
			}
			&__heading {
				font-size: 20px + $increase;
				color: $print-font-color;
			}
			&__summary {
				font-size: 18px + $increase;
				color: $print-font-color;
			}
		}
	}


	//firefox overwirte
	//reference: https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css
	@-moz-document url-prefix() {
		@media print {
			&__footer {
				position: static;
				display: flex;
				align-items: center;
				max-width: 100%;
				width: 100%;
				margin: auto;
			}
			&__head {
				position: static;
				display: flex;
				align-items: center;
				max-width: 100%;
				width: 100%;
				margin: -40px auto auto;
			}
			&__thead-space {
				height: 0;
			}
			&__tfoot-space {
				height: 0;
			}
		}
	}

	//Todo: target safari print css, not working need investigating, the following affect chrome as well
	//reference: https://solvit.io/bcf61b6
	//@media print and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
	//	&__footer {
	//		position: static;
	//		display: flex;
	//		align-items: center;
	//		max-width: 100%;
	//		width: 100%;
	//		margin: auto;
	//	}
	//	&__head {
	//		position: static;
	//		display: flex;
	//		align-items: center;
	//		max-width: 100%;
	//		width: 100%;
	//		margin: -40px auto auto;
	//	}
	//	&__thead-space {
	//		height: 0;
	//	}
	//	&__tfoot-space {
	//		height: 0;
	//	}
	//}
}

