//following are true under 174dpi
$pdf-full-width: 1440px; //height = 1440 / 210 * 297 = 2036 px
$pdf-col-12: $pdf-full-width - 172px;//container side padding 86px
$pdf-col-6: $pdf-col-12 / 2;
$pdf-col-3: $pdf-col-12 / 4;
$pdf-col-9: $pdf-col-12 / 4 * 3;
$i: 4px;

$pdf-font-color: $gray-900;

//fonts
%pdf-h1 {
	font-family: $headings-font-family;
	font-size: 48px+$i!important;
	font-weight: 900;
	line-height: 1.17!important;
	color: $marine;
}

%pdf-h2 {
	font-family: $headings-font-family;
	font-size: 40px+$i!important;
	font-weight: 900;
	line-height: 1.3!important;
	color: $gunmetal;
}

%pdf-h3 {
	font-family: $headings-font-family;
	font-size: 24px+$i!important;
	font-weight: bold;
	line-height: 1.33!important;
	color: $charcoal-grey;
}

%pdf-h4 {
	font-family: $headings-font-family;
	font-size: 20px+$i!important;
	font-weight: bold;
	line-height: 1.2!important;
	//color: $charcoal-grey;
	color: $pdf-font-color;
}

%pdf-body {
	font-family: $font-family-base;
	font-size: 18px+$i!important;
	font-weight: 500;
	line-height: 1.5!important;
	//color: $battleship-grey;
	color: $pdf-font-color;
};

%pdf-lead {
	font-size: 20px+$i!important;
	font-weight: 500;
	line-height: 1.4!important;
	//color: $gunmetal;
	color: $pdf-font-color;
}

%pdf-bold {
	font-size: 40px+$i!important;
	font-weight: 900;
	line-height: 1.3!important;
	//color: $gunmetal;
	color: $pdf-font-color;
}

%pdf-row {
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

%pdf-column {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

%pdf-container {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	min-width: unset!important;
}

.pdf {

	//fixed header and footer
	&__head, &__footer {
		position: fixed;
		width: $pdf-full-width;
		//background-color: rgba($primary, 0.1);
	}

	.print-fixed-header { display: inline-block; vertical-align: top; margin-top: 68.5px; width: $pdf-full-width - 86px; }
	&__head { top: 0; height: 200px; display: inline-block; }
	.print-fixed-footer { width: $pdf-full-width - 86px; display: inline-block; vertical-align: middle; height: 350px;
		&__label {font-size: 20px+$i;}
		&__summary {font-size: 14px+$i;}
		&__box { vertical-align: top; }
		//&__header { width: $pdf-full-width - 86px; }
		&__logo { margin-top: -170px; margin-right: 36px; margin-left: 0;} //works on local, production
		//&__logo { margin-top: 126px; margin-right: 30px;}//works on staging
	}
	&__footer {	bottom: 20px; height: 350px; display: inline-block; vertical-align: middle; }

	//layout
	&__body { margin-left: 86px; margin-right: 86px;}

	&__document-heading {
		@extend %fact-sheet-heading;
		display: inline;
		&__update {
			@extend %pdf-body;
			margin-bottom: 48px;
		}
		&__heading {@extend %fact-sheet-heading__heading;}
		&__summary {@extend %fact-sheet-heading__summary; & > *:last-child{ margin-bottom: 0} margin-bottom: 6px; }
	}

	//components
	.rich-text { ul{ page-break-inside: avoid; } h1,h2,h3,h4 { page-break-after: avoid; }}
	.matrix-block:not(.matrix-block--images) {	vertical-align: middle;	page-break-inside: avoid; }
	.matrix-block ~ *:not(.image-slider-wrap) {	page-break-inside: avoid; }
	.matrix-block { margin-top: 16px; margin-bottom: 0;}
	.matrix-block--anchorLinks { display: none!important; margin: 0!important;}
	.matrix-block--anchorPoint { margin-top: 0; margin-bottom: 0 }
	.matrix-block--anchorPoint ~ .matrix-block--imageWithText { margin-top: 24px; }
	.anchor-link-destination { display: block; margin-bottom: 0;}
	.page-break { page-break-after: always; }

	.img-with-text {
		margin-top: 16px;
		width: 100%;
		display: inline-block;
		vertical-align: bottom;
		page-break-inside: avoid;
		&__image-container { display: inline-block;	width: 133px; margin-right: 16px; vertical-align: middle; }
		&__content { display: inline-block;	width: $pdf-col-12 - 133px - 16px - 16px; vertical-align: middle; page-break-inside: avoid;}
		&__heading { font-size: 20px+$i; display: block; width: 100%; margin-top: auto; }
		&__summary { font-size: 18px+$i; display: block; width: 100%; margin-bottom: auto; page-break-inside: avoid; }
	}

	//two column
	.row {@extend %pdf-row;
		div {margin: 0; padding: 0; }
	}

	.matrix-block--twoColumns {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.matrix-block--column {
		@extend %pdf-column;
		width: $pdf-col-6 - 6px;
		page-break-inside: auto;
		vertical-align: top !important;
		display: inline-block;
		overflow-x: hidden;
		*{ max-width: $pdf-col-6 - 6px;	page-break-inside: auto; vertical-align: middle; }//prevent anything goes over the limit
		&:first-child { padding-right: 6px; }
		&:last-child { padding-left: 6px; }
	}

	//quote
	.matrix-block--quote {
		h3 {@extend %pdf-h3}
	}

	//table
	.matrix-block--table {
		@extend %pdf-body;
	}

	//font
	.rich-text {
		h1 {@extend %pdf-h1;}
		h2 {@extend %pdf-h2;}
		h3 {@extend %pdf-h3;}
		h4 {@extend %pdf-h4;}
		p, span {@extend %pdf-body; margin-bottom: 16px; }
		*:not(li)> strong, b {font-weight: bolder; display: inline; vertical-align: text-bottom; }
		span {@extend %pdf-body; display: inline; }
		.leading-text {@extend %pdf-lead}
		a { display: inline; text-align: center; background: none; padding-right: 0; }
		//b {@extend %pdf-bold}
	}
	.matrix-block--richText:not(.page-break-print) + .matrix-block--richText{
		margin-top: 0;
		//when has the background, we keep the margin
		.rich-text--bg-pale, .rich-text--bg-grey{
			margin-top: 16px;
		}
	}
	ul,ol {list-style-position: inherit; display: block; page-break-inside: avoid; margin-bottom: 16px; }
	li {
		@extend %pdf-body;
		list-style: none;
		page-break-inside: avoid;
		//vertical-align: text-top;
		line-height: 1;
		margin-top: 4px;
		margin-bottom: 4px;
		span, p, a, h1, h2, h3, h4 {
			display: inline-block;
			vertical-align: top;
			margin-top: 2px;
			margin-bottom: 2px;
			line-height: 1;
			page-break-inside: avoid;
		}
		strong, b {
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
			margin-top: 3px;
			line-height: 1;
			page-break-inside: avoid;
		}
	}
	ol {
		counter-reset: list-number;
		li {
			vertical-align: middle;
			&::before {
				content: counter(list-number)".";
				counter-increment: list-number;
				margin-left: -16px;
				margin-right: 8px;
			}
		}
	}
	ul {
		li {
			vertical-align: middle;
			&::before {
				content: '•';
				display: inline-block;
				vertical-align: top;
				margin-left: -16px;
				margin-right: 8px;
			}
		}
	}

	//images
	.matrix-block--images {	page-break-inside: auto; margin-bottom: 32px; }
	.matrix-block--image {	page-break-inside: avoid; display: block;
		.slider-item__container { display: inline-block; vertical-align: middle; }
		.img-fluid { vertical-align: bottom; display: inline-block; margin-top: -15px; }
	}
	.image-slider-wrap { visibility: visible; position: relative; display: block; vertical-align: middle; }
	.slider-item { display: block;position: relative; vertical-align: middle;}
	.slider-item__image { max-width: 900px;	display: block; vertical-align: bottom; }

	//glossary
	.glossary {
		max-width: $pdf-col-12;
		margin-top: 80px;
		page-break-inside: avoid;
		*{page-break-inside: avoid;}
		div {margin: 0; padding: 0; }
		&__heading { @extend %pdf-h2; }
		&__container { @extend %pdf-container; }
		&__summary {
			@extend %pdf-body;
			display: inline-block;
			vertical-align: middle;
			width: $pdf-col-9 - 6px;
			*{
				&:last-child{ margin-bottom: 0;}
			}
		}
		//first row
		&__row { @extend %pdf-row; display: inline-block; vertical-align: top; page-break-inside: avoid; }
		&__heading-container { @extend %pdf-column; width: $pdf-col-3 - 6px; padding-right: 6px!important; }
		&__content { @extend %pdf-column; width: $pdf-col-9 - 6px; padding-left: 6px!important; }
		//second row inside
		&__list { width: $pdf-col-9 - 6px; vertical-align: middle; display: block; }
		&__list-item { @extend %pdf-row; width: $pdf-col-9 - 6px; display: block; }
		&__list-item-label { @extend %pdf-column; @extend %pdf-body; display: inline-block; vertical-align: middle; width: $pdf-col-3 - 12px; font-weight: bold; }
		&__list-item-definition { @extend %pdf-column; @extend %pdf-body; display: inline-block; vertical-align: middle; width: $pdf-col-6 - 12px; }
		&__back-to-top { display: none; }
	}

	//accordion
	.matrix-block--accordions {
		page-break-inside: avoid;
		& > .container { page-break-inside: avoid; }
		.section-head__heading{ @extend %pdf-h2; }
		.section-head__summary{ @extend %pdf-body; }
		.accordion {page-break-inside: auto;}
		.accordion__item { page-break-inside: avoid; }
		.accordion__header { @extend %pdf-h3; page-break-inside: avoid; }
		.accordion__body { @extend %pdf-body; page-break-inside: avoid; & > * { page-break-inside: avoid; }}
		.collapse { display: block; }
	}

	//style overwrite
	.container { @extend %pdf-container; }

	//quote
	.quote { display: block; background-color: #f4f4f5; page-break-inside: avoid; }

	//dividing line
	.matrix-block--dividingLine{
		.dividing-line {
			//border: unset;
			border-top: 1px solid rgba(0,0,0,0.1);
			display: inline-block;
			width: $pdf-col-12;
		}
	}

	//section header can't be seperated
	.section-head{
		page-break-inside: avoid;
		* {
			page-break-inside: avoid;
		}
	}
}


