.search-results-page {
	.search-results-page-content {
		margin-top: 48px;
		margin-bottom: 48px;
	}

	.header-main__bg-wrap {
		// background-color: $bg-main-menu;
	}

	.sidebar-refine-search {
		.sidebar-heading {
			margin-bottom: 2.4rem;
			@include media-breakpoint-up(lg) {
				margin-bottom: 2.8rem;
			}
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 4rem;
		}

		.sidebar-search-inner {
			background-color: $white;

			.sidebar-heading {
				color: $gunmetal;
				font-size: 2.4rem;
			}

			.refine-search-controls {
				.custom-control {
					&:not(:last-child) {
						margin-bottom: 1.9rem;
					}

					.form-check-label {
						color: $black;
					}
				}
			}
		}
	}

	.search-results {
		h1 {
			@include fluid-property("margin-bottom", 15);
		}

		.search-results-count {
			color: $pepper;
			@include fluid-property("margin-bottom", 41);
		}

		.search-results-list {
			list-style: none;
			padding-left: 0;

			& > li {
				&:not(:last-child) {
					margin-bottom: 42px;
				}

				.search-result-entry-title {
					a {
						color: $charcoal-grey;
						transition: all 0.3s;
						font-size: 1.9rem;
						line-height: 28px;
						font-weight: bold;

						&:focus,
						&:hover,
						&:active {
							color: $charcoal-grey;
						}
					}
				}

				.excerpt {
					font-size: 1.5rem;
					font-weight: 300;
					color: $black;
				}

				.highlight {
					color: $white;
					background-color: $marine; //needs to be darker than design which was tomato - otherwise contrast error
					padding: 4px 0;
				}

				.search-result-item-breadcrumb {
					// .breadcrumb {
					// 	padding-left: 0;
					// }
					@include media-breakpoint-up(sm) {
						display: block;
					}
					background: none;
					margin-top: 1.25rem;
					padding-top: 0;

					.breadcrumb {
						display: flex;
						padding: 0;
						padding-left: 0;
						height: auto;
						background-color: transparent;

						li {
							color: $nice-blue-two;

							&.current {
								color: $prussian-blue;
								font-weight: bold;
							}

							a {
								color: $nice-blue-two;
							}
						}

						.separator {
							// color: $text-light-grey;
						}

						.breadcrumb__item-ico {
							@include media-breakpoint-up(lg) {
								padding-left: 1.2rem;
								padding-right: 1.2rem;
							}
						}
					}
				}
			}
		}

		.pagination {
		}
	}
}
