{#
Master cards template. All cards element usually use this template, except for templates managed by Vue.

See 'cards' param description below for different scenarios when using this template.

Card column rules in design system:
* Withing main content (article width)
..* < 576px: 1 column layout
..* >= 576px, < 992px: 2 columns layout
..* >= 992px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout.
* Within secondary content (full width body)
..* < 576px: 1 column layout
..* >= 576px, < 992px: 2 columns layout
..* >= 992px, < 1200px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout. (Same as main content)
..* >= 1200px: 4 columns layout if only 4 cards in total. Otherwise, 3 columns layout

Params which can pass into this template:
---
* @param [mixed] cards: it can be in the following format:
* - \craft\elements\db\EntryQuery, e.g. it can come from entry.getChildren(). See generalLanding.html for example.
* - \benf\neo\elements\db\BlockQuery, which comes from neo block imageCards or textOnlyCards like this: block.getChildren(). Their children (each card object) would be the child neo blocks of imageCards or textOnlyCards, which are imageCard or textOnlyCard (\benf\neo\elements\Block). See imageCards.html for example.
* - It is also possible to pass in array of cards. Each card would also be an array of all the card's meta/bio/attributes, see YumpModuleService->translateCardBio() to see what attributes each card should have (do not need to return the image object, the summary can also be plain text)
*
* @param [string] additionalClasses: additional classes of .cards
#}
{% set forcedCardType = forcedCardType|default(false) %}
{% if craft.yump.isElementQuery(cards) %}
	{% set count = cards.count() %}
	{% set cards = cards.all() %}
{% else %}
	{% set count = cards|length %}
{% endif %}

{% set rowFactor = count == 4 ? 4 : count == 2 or count == 1 ? 4 : 3 %}
{% set rowFactor = customPerRow ?? rowFactor %}

<div class="container">
	<div class="cards cards--count-{{ rowFactor }} {{ additionalClasses|default('') }}">
		<div class="cards__rows">
			{% for index, card in cards %}
				{% if is_array(card) %}
					{% set cardBio = card %}
				{% else %}
					{% set imagerSettings = imagerSettings ?? craft.yump.getConfig('imageCardImagerDefaultSettings') %}
					{% set cardBio = craft.yump.translateCardBio(card, forcedCardType, imagerSettings) %}
				{% endif %}
				
				{% include '_content-blocks/partials/card' with {
					index: index,
					card: cardBio
				} only %}
			{% endfor %}
		</div>
	</div>
</div>