<div class="card__footer">

	{% if card.url is defined and card.url %}
	<a href="{{ card.url }}" {% if card.ctaTarget %} target="{{ card.ctaTarget }}" {% endif %} class="btn btn--link btn--has-icon card__footer-btn card__footer-btn--primary">
	{% else %}
	<span class="btn btn--link btn--has-icon card__footer-btn card__footer-btn--primary">
	{% endif %}
		<span class="card__footer-cta-text btn__text">
			{{ card.ctaText|default(craft.yump.getConfig('defaultCardCtaText')) }}
		</span>
		<figure class="card__footer-cta-icon btn__append">
			{{ svg('@webroot/assets/img/svg/ic-arrow-right.svg') }}
		</figure>
	{% if card.url is defined and card.url %}
	</a>
	{% else %}
	</span>
	{% endif %}

{% if card.secondaryUrl is defined and card.secondaryUrl and card.cardType != 'landscape' %}
	<a href="{{ card.secondaryUrl }}" class="btn btn--link btn--has-icon card__footer-btn card__footer-btn--secondary">
		<span class="card__footer-cta-text btn__text">
			{{ card.secondaryCtaText }}
		</span>
		<figure class="card__footer-cta-icon btn__append">
			{{ svg('@webroot/assets/img/svg/ic-arrow-right.svg') }}
		</figure>
	</a>
{% endif %}

</div>
