{#
   Render card HTML
   
   @param [array] card: when including this template, the card param should have already been processed / formatted into an array. See YumpModuleService->translateCardBio() for the attributes in a card array
#}

{% import '_macros' as macros %}

{% if card is defined %}

{% set delay = index is defined and index ? index * 0.1 : '' %}
{% set cardMultiLinkClass = card.secondaryUrl is defined  and card.secondaryUrl and card.cardType != 'landscape' ? ' card--multi-link' : ' card--single-link' %}
{% set cardClasses = card.cardType is defined and card.cardType ? "card card--" ~ card.cardType ~ cardMultiLinkClass ~ ' ' : 'card' ~ cardMultiLinkClass %}

<div class="{{cardClasses}}">
	<div class="card__container {{ additionalClasses|default('') }} animate-zoom-in animate-when-visible" data-animation-delay="{{ delay }}">
		{% if card.cardType == 'image' or card.cardType == 'landscape' %}
			{% set thumbnailUrl = card.thumbnailUrl | default(craft.yump.getConfig('imageCardPlaceholderUrl')) %}
			{% if thumbnailUrl %}
				<div class="card__image-wrap card-clickable-area">
						<img class="img-fluid card__image" src="{{ thumbnailUrl }}" alt="{{ card.imageTitle }}">
				</div>
			{% endif %}
		{% endif %}

		<div class="card__body card-clickable-area">
			<div class="card__title-link">
				{% set heading = card.heading ?? '' %}
				<h3 class="card__title">
					{{- heading -}}
				</h3>
			</div>
			{% if card.date is defined and card.date %}
				<div class="card__date">
					<span class="card__date-text">{{ card.date }}</span>
				</div>
			{% endif %}

			{% if card.summary is defined and card.summary %}
				<div class="card__desc">
					<div class="card__desc-text">{{ card.summary }}</div>
				</div>
			{% endif %}

			{% if card.cardType is defined and card.cardType == 'landscape' %}
				{% include "_content-blocks/partials/card-footer" with { card: card } %}
			{% endif %}

		</div>

		{# Footer inside card__body for landscape cards #}
		{% if card.cardType is defined and card.cardType != 'landscape' %}
			{% include "_content-blocks/partials/card-footer" with { card: card } %}
		{% endif %}
	</div>

</div>

{% endif %}
