{% set list = box.checksAndCrossesList.all() %}
<div class="checks-and-crosses__box col-lg-6">
    <div class="checks-and-crosses__box-content-wrap">
        <h3 class="checks-and-crosses__box-heading">{{ box.heading }}</h3>
        <ul class="checks-and-crosses__box-list">
        {% for item in list %}
            <li class="checks-and-crosses__box-list-item checks-and-crosses__box-list-item--{{item.type}}">
                <figure class="checks-and-crosses__box-list-item-icon">
                    {{ svg('@webroot/assets/img/svg/ic-' ~ item.type ~ '.svg')|attr({
                        class: 'checks-and-crosses__box-list-item-icon-svg'
                    }) }}
                </figure>
                <div class="checks-and-crosses__box-list-item-content">
                    {{ item.checkListItemContent ? item.checkListItemContent : item.crossListItemContent }}
                    {% if item.tooltipContent is defined and item.tooltipContent %}
                        <button type="button" class="checks-and-crosses__box-list-item-btn btn btn--icon-only" data-toggle="tooltip" data-placement="top" title="{{item.tooltipContent}}">
                            {{ svg('@webroot/assets/img/svg/ic-info.svg') }}
                            <span class="sr-only">Further info via a tooltip: {{item.tooltipContent}}</span>
                        </button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
