{% if pageInfo is defined and pageInfo %}

{% set nearbyDistance = nearbyDistance is defined ? nearbyDistance : 2 %}
{% set showFirstAndLastButtons = nearbyDistance + 1 < pageInfo.totalPages ? true : false %}

{% if pageInfo.totalPages > 1 %}



<div class="pagination pagination-wrapper"{% if paginationId is defined and paginationId %} id="{{ paginationId }}" {% endif %}>
	<div class="pagination__inner">

		{% if showFirstAndLastButtons %}
			<a class="pagination__item pagination__item--first {% if pageInfo.currentPage == 1 %}pagination__item--disabled{% endif %}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.firstUrl }}"{% endif %} title="First Page">&laquo;</a>
		{% endif %}
		
		<a class="pagination__item pagination__item--turn-page pagination__item--prev {% if pageInfo.currentPage == 1 %}pagination__item--disabled{% endif %}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.prevUrl }}"{% endif %} title="Previous Page">
			{{ svg('@webroot/assets/img/svg/ic-chevron-left.svg')|attr({
				class: 'pagination__nav-icon pagination__nav-icon--left'
			}) }}
		</a>

		{% for page, url in pageInfo.getPrevUrls(nearbyDistance) %}
		    <a class="pagination__item pagination__item--page-link pagination__item--page-number" href="{{ url }}">{{ page }}</a>
		{% endfor %}

		<span class="pagination__item pagination__item--page-link pagination__item--page-number pagination__item--active">{{ pageInfo.currentPage }}</span>

		{% for page, url in pageInfo.getNextUrls(nearbyDistance) %}
		    <a class="pagination__item pagination__item--page-link pagination__item--page-number" href="{{ url }}">{{ page }}</a>
		{% endfor %}

		<a class="pagination__item pagination__item--turn-page pagination__item--next {% if pageInfo.currentPage == pageInfo.totalPages %}pagination__item--disabled{% endif %}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.nextUrl }}"{% endif %} title="Next Page">
			{{ svg('@webroot/assets/img/svg/ic-chevron-right.svg')|attr({
				class: 'pagination__nav-icon pagination__nav-icon--left'
			}) }}
		</a>

		{% if showFirstAndLastButtons %}
			<a class="pagination__item pagination__item--last {% if pageInfo.currentPage == pageInfo.totalPages %}pagination__item--disabled{% endif %}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.lastUrl }}"{% endif %} title="Last Page">&raquo;</a>
		{% endif %}
	</div>
</div>
{% endif %}
{% endif %}
