<div class="video-transcript {{wrapperClass}}">
	<div class="cta">
		<a class="cta__link video-transcript__link" data-toggle="collapse" data-target="#transcript-{{block.id}}" aria-expanded="false">
			<span>View Video Transcript</span>
			{{ svg('@webroot/assets/img/svg/ic-arrow-right.svg') }}
		</a>
	</div>
	<div id="transcript-{{block.id}}" class="collapse">
		{{videoTranscript}}
	</div>
</div>