.template--helpDocs-helpDocs {
	.neo-main-content {
		padding-top: 10px;
	}
}

.docs {
	&__title {
		text-align: center;
	}
}

.docs-nav-section {
	margin-bottom: 48px;
}

.docs-nav-toggle {
	background-color: #003260;
	color: white;
	padding: 16px;
	cursor: pointer;
	border-radius: 8px 8px 0 0;
}

.docs-nav-toggle.expanded {
	border-radius: 8px;
}
.docs-nav-wrapper {
	background-color: #edf2f7;
	padding: 16px 0;
}

.doc-content {
	margin-top: 45px;
	margin-bottom: 45px;
}

.help-doc-page {
	.before-boxed {
		margin-bottom: 32px;
	}
	.post__heading {
		margin-bottom: 0;
	}
}
