{% extends "pages/_templates/default" %}

{% block bodyClass %}
	{{ parent() }} general-landing
{% endblock %}

{% block beforeFullWidthBody %}
	{% if entry.automatedChildrenPagesList %}

		<div class="matrix-block matrix-block--dividingLine">
			{% include '_content-blocks/dividingLine' %}
		</div>

		{% set autoChildListTitle = entry.automatedChildrenPagesListTitle ? entry.automatedChildrenPagesListTitle|trim : null %}
		{% include '_elements/section-head' with {
			sectionHeading: autoChildListTitle,
			objHandle: 'cards',
		} only %}
		
		<div class="matrix-block matrix-block--imageCards">
			{% include '_content-blocks/partials/cards' with {
				cards: entry.getChildren().hideFromNavigation('not 1'),
				additionalClasses: 'cards__child-pages'
			} only %}
		</div>
		
	{% endif %}
{% endblock %}