{#
 # Include javascript
#}

{% do view.registerJsFile("/assets/js/vue.js") %}
{% do view.registerJsFile("/assets/js/selectize.js") %}
{% do view.registerJsFile("/assets/js/axios.js") %}
{% do view.registerJsFile("/assets/js/indexlanding.js") %}

{#
 # Landing page template for news articles
 #}
{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} index-landing{% endblock %}

{% block breadcrumb %}
    {% if entry.level != 1 %}
        {% include "_elements/breadcrumbs" %}
    {% endif %}
{% endblock %}

{% block boxed %}
    <div id="find-a-program" v-cloak>
        <div id="program-filters">
            <div class="container">
                <div class="filters-outer">
                    <div class="filters-heading"><h3>Refine programs:</h3></div>
                    <div class="filters">
                        <div class="filter">
                            <label class="filter-heading d-block" for="keywords">Keywords</label>
                            <input class="filter-input" type="text" name="keywords" v-model="keywords" placeholder="Try “Parenting”" id="keywords">
                        </div>
                        <div class="filter">
                            <label class="filter-heading d-block" for="program-type-filter">Type</label>
                            <selectize class="filter-input" name="type" id="program-type-filter" v-model="selectedProgramTypes" data-placeholder="Choose category" multiple>
                                {# <option value="">All</option> #}
                                {% for programType in entry.programTypes %}
                                    <option value="{{ programType.id }}">{{ programType.title }}</option>
                                {% endfor %}
                            </selectize>
                        </div>
                        <div class="filter">
                            <label class="filter-heading d-block" for="location-filter">Suburb</label>
                            <input class="filter-input" type="text" id="location-filter" name="location" placeholder="Enter suburb">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="programs-list">
            <div class="container">
                <div v-if="programsInitialised">
                    <div class="programs-results" v-if="cappedSortedFilteredPrograms.length">
                        <div class="sort-by-text list-heading"><span v-html="sortText"></span>:</div>
                        <div class="programs-tiles tiles-wrapper">
                            <div class="row">
                                <div class="small-text tile-item col-lg-4 col-md-6 tile-type-general tile-type-general-2 tile-type-program"
                                     v-for="program in cappedSortedFilteredPrograms"
                                >
                                    <a class="card-wrap-link" v-bind:href="program.url">
                                        <div class="card">

                                            {# image #}
                                            <div v-if="program.thumbnail" class="card__image-container">
                                                <img class="img-fluid card__image-container__image" v-bind:src="program.thumbnail" v-bind:alt="program.imageCaption">
                                            </div>


                                            <div class="card-body">
                                                <div v-if="program.region" class="extra-content-above-heading">{* program.region *}</div>
                                                <h3 class="card-title">{* stripTags(program.title) *}<img class="arrow-with-content" aria-hidden="true" src="/public/img/svg/ic-circled-arrow-right.svg" alt=""></h3>
                                                <div class="card-text" v-html="program.summary"></div>
                                            </div>

                                            <div class="card-footer">
                                                <div class="card-footer-button">
                                                    <span class="card-footer-content content-with-arrow content-with-arrow-on-the-right">Learn more<img class="arrow-with-content" aria-hidden="true" src="/public/img/svg/ic-circled-arrow-right.svg" alt=""></span>
                                                </div>
                                                <div class="card-footer-tags" v-if="program.categories.length">
                                                    <span class="program-type-tag" v-for="category in program.categories" v-bind:data-categoryid="category.id">{* category.title *}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="vue-load-more mackillop-button mackillop-button-large" v-on:click="loadMore()" v-if="showLoadMore">Load more</div>
                    </div>

                    <div class="programs-no-result list-heading" v-else>No results matching your search criteria.</div>
                </div>

                <div v-else class="loading-section programs-loading">
                    <div class="spinner-wrapper">
                        {% include '_elements/snippets/spinner' %}
                    </div>

                    <h3 class="loading-text">Loading...</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container vue">
        <div v-if="commentIndex < eventsIndex.length" v-for="commentIndex in commentsToShow">
            <div>${ eventsIndex[commentIndex].title } says:</div>
            <i><div>${ eventsIndex[commentIndex] }</div></i>
            <hr />
        </div>
        <button @click="commentsToShow += 2">show more reviews</button>
    </div>
{% endblock %}