{#
 # Landing page template for news articles
 #}
{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} news-landing{% endblock %}

{% block boxed %}
    {# This determines which channel we will pull entries from #}
    {% set contentFeed =  'news' %}
    {# {{dump(contentFeed)}} #}
    {# {% set landingPagePosts = craft.yump.getLandingPageEntries(entry.featuredArticles.all(), contentFeed) %} #}

    {# Display the featured entries #}
    {# <div class="post-list-wrap post-list-wrap--featured">
        <div class="container">
            <div class="cards">
                <div class="cards__rows">
                    {% for index, card in landingPagePosts.featured %}
                        {% if is_array(card) %}
                            {% set cardBio = card %}
                        {% else %}
                            {% set cardBio = craft.yump.translateCardBio(card) %}
                        {% endif %}

                        {% include '_content-blocks/partials/card' with {
                            index: index,
                            card: cardBio
                        } only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> #}

    {# Display the rest of the entries #}
    {% set landingPagePosts = craft.entries.section('news').limit(9) %}
    {% if landingPagePosts %}
        {% paginate landingPagePosts as pageInfo, posts %}
        <div class="post-list-wrap post-list-wrap--main">
            <div class="container">
                <div class="cards cards--count-3">
                    <div class="cards__rows">
                        {% for index, card in posts %}
                            {% if is_array(card) %}
                                {% set cardBio = card %}
                            {% else %}
                                {% set cardBio = craft.yump.translateCardBio(card) %}
                            {% endif %}

                            {% include '_content-blocks/partials/card' with {
                                index: index,
                                card: cardBio
                            } only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_content-blocks/partials/pagination' with {
            pageInfo: pageInfo,
        } %}
    {% endif %}
{% endblock %}