{#
 # Landing page template for Reports Landing (a category of reports)
 #}
 
{% extends "_layouts/default" %}

{% block bodyClass %}
	{{ parent() }}
	reports-landing
{% endblock %}

{# {% block beforeBanner %}
    {% set  parent = generalSettings.dataAndReportsLandingPage.one() %}
	{% include '_elements/back-to-parent' with { parent: entry.parent } %}
{% endblock %} #}

{% block beforeFullWidthBody %}

    {% if entry.automatedChildrenPagesList %}

        <div class="matrix-block matrix-block--dividingLine">
            {% include '_content-blocks/dividingLine' %}
        </div>

        {% set autoChildListTitle = entry.automatedChildrenPagesListTitle ? entry.automatedChildrenPagesListTitle|trim : null %}
        {% include '_elements/section-head' with {
                sectionHeading: autoChildListTitle,
                objHandle: 'cards',
            } only %}

        {% set featuredBannerEntry = entry.featuredEntryInBanner.one() ?? false %}

        {% if featuredBannerEntry %}
            {% set cards = craft.entries.section('reports').reportType(entry.reportType.one()).id('not ' ~ featuredBannerEntry.id) %}
        {% else %}
            {% set cards = craft.entries.section('reports').reportType(entry.reportType.one()) %}
        {% endif %}

        <div class="matrix-block matrix-block--imageCards">
            {% include '_content-blocks/partials/cards' with {
                    cards: cards,
                    additionalClasses: 'cards__child-pages'
                } only %}
        </div>

    {% endif %}

{% endblock %}
