.back-to-top {
	$self: &;

	&__button {
		border: none;
		box-shadow: none;
		background: none;
	}

	&--circle-btn {
		position: absolute;
		top: -24px;
		right: 32px;
		@include media-breakpoint-up(md) {
			right: 0;
			top: 0;
		}
		#{$self}__button {
			height: 48px;
			width: 48px;
			background-color: $tomato;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;			
			transition: background 0.3s ease-in-out;
			@include media-breakpoint-up(md) {
				height: 68px;
				width: 68px;
			}
			&:hover {
				background-color: $rusty-orange;
			}
		}
	}

	&--link-btn {
		@include make-container;
		@include make-container-max-widths;
		text-align: right;
		#{$self}__button {
			text-decoration: underline;
		}
	}
}
