.banner-notice {
	margin-top: -70px;
	@include media-breakpoint-up(sm) {
		@include make-container();
		@include make-container-max-widths();
	}
	&__box {
		background-color: $primary;
		padding: $spacing-s 36px;
		box-shadow: 15px 25px 40px 0 rgba(0, 0, 0, 0.03);
		@include media-breakpoint-up(sm) {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
	}

	&__cta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-up(sm) {
			justify-content: normal;
		}
	}

	&__heading {
		color: $white;
		margin-right: $spacing-s;
	}

	&__btn {
		@extend %button--trans-wht;
		@extend %button--smaller;
		font-size: 1.6rem;
		flex-shrink: 0;
	}

	&__btn-icon {
		height: 9px;
		width: 6px;
		.caret-right-bg {
			fill: $white;
		}
	}

	&__warning-icon {
		margin-right: $spacing-s;
		flex-shrink: 0;
		@include media-breakpoint-up(sm) {
			margin-right: $spacing-m;
		}
	}
}
