/* 
* @type This is a the main banner in the header
* @related src\styles\content-blocks\_rich-media.scss
* @extends banner from src\styles\base\design-system\_ds-banner.scss.
*/

.banner {
	
	$self: &;
	background: $pale;

	&__row {
		@extend %banner__row;
		&--report {
			justify-content: space-between;
		}
		&--fact-sheet {
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 5.6rem;
			padding-bottom: 5.6rem;
		}
	}

	&__column {
		@extend %banner__column;

		&--media {
			@extend %banner__column--media;
			order: 2;
		}

		&--text {
			@extend %banner__column--text;
			order: 1;
		}

		&--report-text {
			flex-grow: 1;
			max-width: 100%;
			justify-content: left;
			padding-left: 0;
			padding-right: 0;
		}

		&--report-download-text {
			align-items: flex-end;
			justify-content: flex-end;
			flex-direction: column;
			flex: 0 0 420px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			@include media-breakpoint-up(md) {
				padding-left: 40px;
			}
			@include media-breakpoint-up(lg) {
				padding-left: 0px;
			}
		}

		&--fact-sheet-text {
			flex-grow: 1;
			max-width: 100%;
			justify-content: left;
			padding: 0;
			margin-bottom: 1rem;
			@include make-col(12);
			@include media-breakpoint-up(xl){
				@include make-col(6);
				margin-bottom: 0;
			}
		}

		&--fact-sheet-download-text {
			max-width: 543px;//make it just enough length to align its child in one line, so it will be aligned to right.
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			padding: 0;
			//padding-left: 0;
			//padding-right: 0;
			//padding-top: 0;
			//@include media-breakpoint-up(lg) {
			//	padding-left: 40px;
			//}
			//@include media-breakpoint-up(lg) {
			//	padding-left: 0;
			//}
			@include make-col(12);
			@include media-breakpoint-up(xl){
				@include make-col(6);
			}
		}
	}

	&__media {
		&--image {
			@extend %banner__media--image;
		}
	}

	&__text-content-wrap {
		@extend %banner__text-content-wrap;
	}

	&__text-content-heading {
		@extend %main-heading;
		color: $charcoal-grey;
	}

	&__text-content-summary {
		@extend %banner__text-content-summary;
	}

	&__text-content-cta {
		@extend %banner__text-content-cta;
	}

	&__meta {
		display: flex;
	}

	&__meta-sep {
		margin-left: 7px;
		margin-right: 7px;
	}

	&__meta-last-updated-text {
		font-weight: 700;
		color: $charcoal-grey;
	}

	&__meta-media-release {
		text-decoration: underline;
	}

	&__download-file-content-head {
		@extend %very-small-print;
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 9px;
	}

	&__download-filetype-text {
		font-weight: 700;
	}

	&__download-ctas {
		display: flex;
		width: 100%;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			flex-direction: column;
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
		@media screen and (max-width: 440px) {
			flex-direction: column;
		}
		&--share-only {
			.dropdown {
				margin-right: auto;
				@include media-breakpoint-up(md) {
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}

	&__download-main-cta {
		@extend %button;
		justify-content: center;
		flex: 0 0 269px;
		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
			margin-bottom: 15px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 285px;
			margin-bottom: 0;
		}
		@media screen and (max-width: 440px) {
			flex: 0 0 auto;
			margin-bottom: 15px;
		}
	}

	&__download-main-cta-icon {
		margin-right: 8px;
		g {
			fill: $white;
		}
	}

	&__download-share-cta {
		background-color: $white;
		@include hover-focus {
			background-color: $white;
		}
		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
			align-self: flex-end;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			align-self: auto;
		}
	}

	&__download-share-text {
		margin-left: 8px;
		margin-right: 12px;
	}

	&__print-button {
		background-color: $white;
		border-color: $white;
		#{$self}__print-text {
			color: black;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
		}
		@include hover-focus {
			background-color: $white;
			border-color: $white;
			#{$self}__print-text {
				text-decoration: underline;
			}
		}
	}

	&__fact-sheet-ctas {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;

		.banner__print-button, .dropdown--share-this {
			height: 39.5px;
		}
		& > *:not(:last-child){
			margin-right: 16px;
			margin-bottom: 32px;
		}

		@include media-breakpoint-up(sm){
			flex-wrap: nowrap;
			&>*:not(:last-child){
				margin-bottom: 0;
			}
		}
	}

	&__fact-sheet-file-type-text {
		font-weight: 700;
	}

	&__fact-sheet-file-content-head {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 12px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		color: $black;
		position: absolute;
		left: 0;
		bottom: -25px;
	}

	&__fact-sheet-main-cta {
		@extend %button;
		justify-content: center;
		height: 39.5px;
		position: relative;
		@include media-breakpoint-up(md) {
			//flex: 0 0 auto;
			flex: 0 0 269px;
			margin-bottom: 15px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 285px;
			margin-bottom: 0;
		}
		@media screen and (max-width: 534px) {
			flex: 0 0 auto;
			margin-bottom: 15px;
		}
	}

	&__fact-sheet-main-cta-icon {
		margin-right: 8px;
		g {
			fill: $white;
		}
	}

	&--with-media {
		#{$self}__row {
			@include media-breakpoint-up(xl) {
				min-height: 484px;
			}
		}

		#{$self}__column--media {
			position: relative;
			@include media-breakpoint-up(lg) {
				order: 2;
			}
		}

		#{$self}__media {
			&--image {
				@include media-breakpoint-up($rich-media-breakpoint-up) {
					// https://bennettfeely.com/clippy/
					// clip-path: circle(100% at 88% 53%);
					clip-path: circle(100% at 110% 62%);
				}
				@media (min-width: 900px) {
					clip-path: circle(100% at 98% 62%);
				}
				@media (min-width: 1000px) {
					clip-path: circle(100% at 90% 62%);
				}
				@include media-breakpoint-up(xl) {
					clip-path: circle(100% at 86% 62%);
				}
				@media (min-width: 2000px) {
					clip-path: circle(100% at 80% 62%);
				}
				@media (min-width: 2600px) {
					clip-path: circle(100% at 76% 62%);
				}
			}
		}

		#{$self}__column--text {
			padding-bottom: 0;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				padding-bottom: 5.6rem;
			}
		}

		#{$self}__curve {
			position: absolute;
			z-index: 150;
			width: 100%;
			height: 100%;
			// To fix the rounding gap in chrome:
			top: -1px;
			&:before {
				content: '';
				height: 72px;
				width: 100%;
				position: absolute;
				z-index: 150;
				display: inline-block;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 100% 100%;
				top: 0px;
				background-image: url('/assets/img/svg/curve-mobile.svg');
				@include media-breakpoint-up(sm) {
					height: 100px;
				}
				@include media-breakpoint-up($rich-media-breakpoint-up) {
					display: none;
				}
			}			
		}
	}

	&--with-featured-entry {
		#{$self}__column--text {
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				padding-bottom: 80px;
			}
		}		
	}

	&--ewov-circus-act {
		padding-bottom: 40px;
		@include media-breakpoint-up(sm) {
			padding-bottom: 0;
		}
		#{$self}__column--text {
			padding-bottom: 2rem;
			@include media-breakpoint-up(md) {
				padding-bottom: 6rem;
			}
		}
		#{$self}__column--media {
			position: relative;
			@include media-breakpoint-up(md) {
				padding-top: 0;
			}
		}
		
		#{$self}__media {
			// get the aspect ratio to match the background on  mobile 
			height: calc(100vw * 311 / 360);
			position: relative;
			@include media-breakpoint-up(sm) {
				height: 100%;
			}
			&--image {
				@include media-breakpoint-up(sm) {
					width: 100%;
				}
				@include media-breakpoint-up(md) {
					// clip-path: none;
					position: relative;
				}
			}
		}

		#{$self}__circus-acts {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 150;
			@include media-breakpoint-up(sm) {
			}
			&:before, &:after {
				content: '';
				position: absolute;
				background-size: cover;
				background-repeat: no-repeat;
				height: 100%;
				top: 0;
			}
			&:before {
				display: inline-block;
				left: 0;
				background-image: url('/assets/img/svg/circus-mobile.svg');
				width: 100%;
				background-size: contain;
				@include media-breakpoint-up(sm) {
					background-size: cover;
				}
				@include media-breakpoint-up(md) {
				}
				@include media-breakpoint-up(xl) {
					background-image: url('/assets/img/svg/circus-left.svg');
					width: 300px;
    				left: 0;
				}
			}
			&:after {
				right: 0;
				display: none;
				@include media-breakpoint-up(xl) {
					display: inline-block;
					width: 225px;
					background-image: url('/assets/img/svg/circus-right-2.svg');
				}
			}
		}
	}

	&--report {
		#{$self}__container {
			@include make-container;
			@include make-container-max-widths;
		}
	}

	&--fact-sheet {
		background-color: $light-blue;
		#{$self}__container {
			@include make-container;
			@include make-container-max-widths;
		}

		#{$self}__text {
			color: $marine;
			font-size: 48px;
			font-weight: 900;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.17;
			letter-spacing: normal;
		}
	}

	&--report-with-notice {
		padding-bottom: 76px;
	}

	&--report-no-dl {
		// @extend %banner--text-only;
	}

	&--simple {
		background: $pale;
		#{$self}__row {
			@include make-container();
			@include make-container-max-widths();
		}
		#{$self}__column {
			&--text {
				width: 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		#{$self}__text-content {
			text-align: center;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			@include fluid-property("padding-top", $gap-between-blocks-px, $gap-between-blocks-mobile-px);
			@include fluid-property("padding-bottom", $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		}
		#{$self}__text-content-heading, #{$self}__text-content-summary {
			text-align: center;
		}
		#{$self}__text-content-ctas {
			text-align: center;
		}
		.breadcrumbs__crumb-list {
			justify-content: center;
		}
	}

	&--white-bg {
		background: $white;
	}

	&--with-bg-image {
		background: transparent;
		color: $white;
		#{$self}__download-file-content-head{
			color: $white;
		}
		#{$self}__text-content-heading {
			color: $white;
		}
		#{$self}__meta {
			color: $white;
		}
		#{$self}__meta-media-release {
			color: $white;
		}
		.crumbs-wrap {
			background: transparent;
			color: $white;
		}
		.breadcrumbs__item-link {
			color: $white;
		}
		.breadcrumbs__item-separator {
			background-image: image-url("svg/ic-caret-right-white.svg");
		}
	}
}
