.banner-featured-entry {
    $self: &;
    @include make-container();
    @include make-container-max-widths();
    
    &__box {
        box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05);
        padding: 33px 23px 32px 24px;
        border-radius: 8px;
        border: solid 1px $silver;
        background-color: $white;
        position: relative;
        margin-top: -40px;
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            #{$self}__content {
                max-width: 670px;
            }
            #{$self}__cta {
                flex: 0 0 200px;
            }
        }
    }

    &__tag {
        background-color: $dark;
        color: $white;
        display: inline-block;
        font-family: $headings-font-family;
        font-weight: 700;
        padding: 4px 16px;
        border-radius: 15px;
        position: absolute;
        top: -15px;
    }

    &__heading {
        @extend %sub-heading;
        color: $charcoal-grey;
    }

    &__summary {
        margin-top: #{2 * $spacing-unit};
        p:last-child {
            margin-bottom: 0;
        }
    }

    &__cta-btn {
        margin-top: #{4 * $spacing-unit};
    }
}