$showBreadCrumbsInBanner: 'md';
.breadcrumbs {
	$self: &;
	@include media-breakpoint-up($showBreadCrumbsInBanner) {
		padding: 9px 0;
	}

	&__mobile-item {
		@include media-breakpoint-up($showBreadCrumbsInBanner) {
			display: none;
		}
	}

	&__crumb-list {
		display: none;
		@include media-breakpoint-up($showBreadCrumbsInBanner) {
			display: flex;
			align-items: center;
			list-style: none;
		}
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	&__item {
		@extend %small-print;
		height: 14px;
		&:not(:first-of-type) {
			margin-left: 10px;
		}
		svg {
			vertical-align: initial;
		}
	}

	&__item-content {
		font-weight: 500;
	}
	
	&__item-link {
		@extend %small-print;
		display: inline-block;
		color: $nice-blue-two;
		@include hover-focus() {
			color: $nice-blue-two;
			text-decoration: underline;
		}
	}

	&__item-separator {
		margin-left: 10px;
		background-image: image-url("svg/ic-caret-right.svg");
		width: 4px;
		height: 7px;
		vertical-align: initial;
		position: relative;
		bottom: 1px;
	}

	&--banner {
	}
}
