body {
	.cx-window-manager {
		position: relative;
		z-index: 200;
	}
	.cx-side-button-group {
		top: 60%;
		@include media-breakpoint-down(xs) {
			top: initial;
			bottom: 100px;
		}
	}
	.cx-side-button-group .cx-side-button {
		background-color: $greeny-blue;
		display: flex;
		align-items: center;
		padding: 12px !important;
		&:hover {
			background-color: darken($greeny-blue, 5%);
		}
		svg path {
			fill: white;
		}
	}
	.cx-widget.cx-webchat-chat-button .cx-icon {
		margin-right: 8px;
	}
	.cx-widget.cx-webchat-chat-button .cx-chat-button-label {
		font-family: $font-family-base;
		font-weight: 500;
		color: $white;
	}
}
	