.dropdown {
	&--share-this {
		height: 100%;
	}

	&__menu {
		margin-top: 0;
	}

	&__share-cta {
		@extend %share-this-button;
		height: 100%;
		border-radius: 0px;
		margin-right: 0;
		background-color: $white;
		border-color: $white;
		color: $gunmetal;
		&:active {
			border: 1px solid $white;
		}		
		@include hover-focus {
			background-color: $white !important;
			border-color: $white !important;
		}
	}
	
	&__button {
		@extend %share-this-button;
		height: 100%;
		border-radius: 0px;
		margin-right: 0;
		background-color: $white;
		border-color: $white;
		color: $gunmetal;
		&:active {
			border: 1px solid $white;
		}
		svg > g > g {
			fill: $gunmetal;
		}
		@include hover-focus {
			border-color: $silver;
			background-color: $silver;
			color: $gunmetal;
		}
	}

	&__button-icon {
		margin-right: 7px;
		width: 16px;
	}

	&__button-text {
		font-size: 16px;
	}

	&__menu {
		padding: 0;
	}
}
