.expand-content {
	$self: &;
	padding-bottom: 50px;

	&__content-show {
		position: relative;
		p:last-child {
			mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
		}
	}

	&__content-hide {
		display: none;
		margin-top: 12px;
	}

	&__btn {
		margin-top: 20px;
		background: none;
		border: none;
		display: flex;
		padding: 0;
		position: absolute;
		&::before {
			content: "";
			display: inline-block;
			background-size: 32px 32px;
			background-image: image-url("svg/ic-plus-solid.svg");
			background-position: center center;
			background-repeat: no-repeat;
			width: 32px;
			min-height: 48px;
			flex: 0 0 32px;
		}
	}

	&__btn-text {
		line-height: 48px;
		margin-left: 20px;
	}

	&--showing {
		padding-bottom: 0px;
		#{$self}__content-show {
			p:last-child {
				mask-image: unset;
			}
		}
		#{$self}__btn {
			display: none;
		}
	}
}
