.footer {
    color: $white;
    padding-bottom: 32px;
    margin-top: 84px;
    background-color: $marine;
    background: -moz-linear-gradient(
                    top,
                    $white 0%,
                    $white 101px,
                    $marine 101px,
                    $marine 100%
    );
    background: -webkit-linear-gradient(
                    top,
                    $white 0%,
                    $white 101px,
                    $marine 101px,
                    $marine 100%
    );
    background: linear-gradient(
                    to bottom,
                    $white 0%,
                    $white 101px,
                    $marine 101px,
                    $marine 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$marine', GradientType=0);

    @include media-breakpoint-up(md) {
        padding-bottom: 41px;
        background: -moz-linear-gradient(
                        top,
                        $white 0%,
                        $white 34px,
                        $marine 34px,
                        $marine 100%
        );
        background: -webkit-linear-gradient(
                        top,
                        $white 0%,
                        $white 34px,
                        $marine 34px,
                        $marine 100%
        );
        background: linear-gradient(
                        to bottom,
                        $white 0%,
                        $white 34px,
                        $marine 34px,
                        $marine 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$marine', GradientType=0);
    }

    @include media-breakpoint-up(lg) {
        margin-top: 100px;
    }

    &__main {
        position: relative;
    }

    &__row {
        @include media-breakpoint-up(md) {
            @include make-row();
        }
    }

    &__help-section {
        color: $white;
        @include media-breakpoint-up(md) {
            @include make-col-ready();
            @include make-col(6);
        }
    }

    &__nav-section {
        @include media-breakpoint-up(md) {
            @include make-col-ready();
            @include make-col(6);
            margin-top: 20px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 42px;
        }
    }

    // bottom
    &__extra {
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__extra-links {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }
    }

    &__copyright {
        @extend %small-print;
        margin-bottom: 16px;
        background-color: $marine;
        @include media-breakpoint-up(md) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 24px;
        }
    }

    &__copyright-text {
        margin-bottom: 0;
    }

    &__bottom-links {
        line-height: 1;
        position: relative;
        bottom: 1px;
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__bottom-link {
        @extend %small-print;
        font-weight: 500;
        margin-right: 24px;
        color: $white;
        background-color: $marine;
        text-decoration: underline;
        @include hover-focus {
            color: $mango;
        }
    }

    &__quicklinks-heading {
        @extend %minor-heading;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid lighten($marine, 10%);
    }

    &__acknowledgement {
        @include make-container;
        @include make-container-max-widths();
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 35px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 55px;
        }
    }


    &__acknowledgement-text {
        margin-bottom: 0;
        margin-top: 30px;
        flex-grow: 0;
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__acknowledgement-img {
        margin-top: 30px;
        margin-bottom: 10px;
        img {
            height: 30px;
            margin-right: 10px;
        }
    }

    &__logo {
        margin-right: 40px;
    }

    &__logo-svg {
        width: 300px;
    }

    &__yump {
        @extend %small-print;
        margin-top: 15px;
        margin-right: 15px;
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__yump-text {
        background-color: $marine;
    }

    &__yump-link {
        svg path {
            transition: fill 0.4s ease-in-out;
        }

        @include hover-focus() {
            svg path {
                fill: $yump-pink;
            }
        }
    }

}

.footer-nav {
    $self: &;
    @include media-breakpoint-up(md) {
        @include make-row();
    }

    &__group {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 40px;
            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 0px;
            @include make-col-ready();
            @include make-col(6);
        }
    }

    &__link {
        color: $white;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 28px;
        @include hover-focus() {
            color: $white;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
        }
    }

    &__link-text {
        background-color: $marine;
    }

    &__item {
        &:last-child {
            #{$self}__link {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-up(md) {

        }
    }
}

.footer-help {
    $self: &;

    background-color: $nice-blue;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
        padding: 32px;
    }

    &__heading {
        @extend %tertiary-heading;
        margin-bottom: 24px;
        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
        }
    }

    &__contact {
        display: flex;
        margin-bottom: 1.7rem;
        @include media-breakpoint-up(sm) {
            margin-bottom: 2.2rem;
        }

        &:last-child {
            margin-bottom: 0;

            #{$self}__contact-sub-content {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__contact-icon {
        margin-right: 24px;
        background: transparent;
        border: none;
        padding: 0;
        color: $white;
        @include hover-focus {
            background: transparent;
            border: none;
            outline: 1px dotted white;
        }

        svg {
            width: 32px;
            height: 32px;
            fill: $white;
        }
    }

    &__contact-heading {
        @extend %minor-heading;
        color: $white;
        @include hover-focus() {
            color: $white;
        }

        &--button {
            background: none;
            box-shadow: none;
            border: none;
            margin: 0;
            padding: 0;
        }
    }

    &__contact-sub-content {
        font-weight: 500;

        p, a {
            font-size: 14px;
            color: $white;
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            text-decoration: underline;
            display: block;

            &:hover {
                color: $white;
                text-decoration: none;
            }

            @include media-breakpoint-up(sm) {
                display: inline-block;
            }
        }
    }
}