// Tablet header (lg) = desktop header (xl) except for:
// Complaint button smaller
// Margin between nav items smaller
.header {
	$self: &;
	position: relative;

	&__container {
	}

	&__utility {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $pale-grey;
		background-color: $off-white;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			background-color: $white;
		}
		// Phone link in Utility Header
		#{$self}__phone {
			line-height: 40px;
			padding-left: $spacing-s;
			padding-right: $spacing-s;
			background-color: $off-white;
			&--all {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					display: flex;
					align-items: center;
					background-color: transparent;
				}
			}
		}
		#{$self}__phone-icon {
			position: relative;
			top: 2px;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				top: 0px;
				display: block;
				margin-right: 8px;
				line-height: 0;
				width: 21px;
				height: 21px;
			}
		}
		#{$self}__phone-text {
			line-height: 40px;
		}
		#{$self}__start-complaint {
			background-color: $rusty-orange;
			line-height: 40px;
			padding-left: 14px;
			padding-right: 14px;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				background-color: transparent;
				padding-left: 26px;
				padding-bottom: 45px;
				padding-right: 0;
			}
			@include media-breakpoint-up(xl) {
				padding-right: 0;
				padding-bottom: 15px;
			}
			&--mobile {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					display: none;		
				}	
			}				
		}
	}

	&__phone {
		&--mobile {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}
		}
		@include hover-focus {
			text-decoration: none;
		}
	}

	&__phone-icon {
		margin: 0;
		fill: $gunmetal;
		width: 13px;
		height: 13px;
		vertical-align: initial;
	}

	&__phone-text {
		color: $gunmetal;
		font-weight: 900;
		font-size: 14px;
		text-decoration: underline;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			font-size: 16px;
			text-decoration: none;
		}
	}

	&__secondary {
		&--mobile {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}
		}
		// Phone link in Secondary Menu (Expanded)
		#{$self}__phone {
			&--desktop {
				display: none;
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					display: inline-block;
				}
			}
		}
	}

	&__start-complaint {
		color: $white;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			background-color: $rusty-orange;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 175;
			right: 0;
			top: 0;
			background-color: transparent;
			height: 140px;
			width: 140px;
		}
		@include media-breakpoint-up(xl) {
			height: 165px;
			width: 176px;
			padding-left: 20px;
			padding-bottom: 0px;
		}
		&--desktop {
			display: none;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: flex;
			}
			@include hover-focus {
				text-decoration: none;
				color: $white;
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					#{$self}__start-complaint-circle-bg-svg .start-complaint-bg {
						fill: $rusty-orange;
					}
				}
			}
		}
	}

	&__start-complaint-circle-bg {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: inline-block;
			position: absolute;
			height: 100%;
			z-index: -1;
		}
		@include media-breakpoint-up(xl) {
		}
	}

	&__start-complaint-circle-bg-svg {
		max-width: 100%;
		.start-complaint-bg {
			transition: all 0.3s ease-in-out;
		}
	}

	&__start-complaint-icon {
		margin-bottom: 0.4rem;
		@include media-breakpoint-up(xl) {
			margin-bottom: 1rem;
			padding-left: 1rem;
		}
		svg {
			display: block;
		}
	}

	&__start-complaint-text {
		display: inline-block;	
		text-align: center;
		font-weight: 700;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			max-width: 100px;
			line-height: 18px;
			font-size: 16px;
		}
		@include media-breakpoint-up(xl) {
			line-height: 22px;
			padding-left: 1rem;
		}
	}

	&__search {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			
		}
	}
}
