.sidebar {
	$self: &;
	
	display: none;
	@include media-breakpoint-up(lg) {
		display: block;
	}

	&__nav-heading {
		@extend %very-minor-heading;
	}

	&__nav-heading-link {
		color: $charcoal-grey;
		&:hover {
			color: $charcoal-grey;
			text-decoration: underline;
		}
	}

	&__nav {
		list-style: none;
		margin: 15px 0 0;
		padding: 0;
		border-top: 2px solid $gunmetal;
	}

	&__nav-item {
		+ #{$self}__nav-item {
			border-top: solid 1px $silver;
		}
		&--current {
			#{$self}__nav-item-link {
				position: relative;
				color: $prussian-blue;
				font-weight: 700;
				justify-content: space-between;
				&:after {
					content: '';
					background-image: url('/assets/img/svg/ic-arrow-right.svg');
					background-repeat: no-repeat;
					height: 16px;
					width: 23px;
					flex: 0 0 23px;
				}
			}
			#{$self}__nav-item-link-text {
				padding-right: 8px;
			}
		}
	}

	&__nav-item-link {
		@extend %small-print;
		font-weight: 500;
		display: flex;
		padding: 18px 0;
		align-items: center;
	}

	// &__nav-item-link-text {
	// }
}
