// ==============================
// GENERIC HAMBURGER - STYLING
// ==============================

$hamburger-height:             14px !default;
$hamburger-width:              20px !default;
$hamburger-padding:            0 !default;
$hamburger-line-height:        2px !default;
$hamburger-line-colour:        $gunmetal !default;
$hamburger-line-border-radius: 0 !default;
$hamburger-background:         transparent !default;

.nav-btn {
    @include media-breakpoint-up($desktop-menu-breakpoint) {
        display: none;
    }
    height: $hamburger-height;
    padding: $hamburger-padding;

    background: $hamburger-background;

    border: 0;
    min-width: 0;
    &:focus, &:active {
        outline: none;
    }
    &:not(.collapsed) {
        outline: none;
        .hamburger__line {

            &--1 {
                top: $hamburger-height / 2 - $hamburger-line-height;
                left: $hamburger-width / 2;

                width: 0;

                opacity: 0;
            }

            &--2 {
                transform: rotate( 45deg );
            }

            &--3 {
                transform: rotate( -45deg );
            }

            &--4 {
                top: $hamburger-height / 2 - $hamburger-line-height;
                left: $hamburger-width / 2;

                width: 0;

                opacity: 0;
            }
        }
    }

    &__text {
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.25;
        padding-right: 1rem;
        position: relative;
        bottom: 3px;
    }
}

.hamburger {
    display: block;
    position: relative;

    width: $hamburger-width;
    height: $hamburger-height;
}

.hamburger__line {
    position: absolute;
    left: 0;

    display: block;
    width: 100%;
    height: $hamburger-line-height;

    border-radius: $hamburger-line-border-radius;

    background: $hamburger-line-colour;

    opacity: 1;

    transition: top 0.3s,
                left 0.3s,
                width 0.3s,
                opacity 0.3s,
                transform 0.3s;

    &--1 {
        top: 0;
    }

    &--2 {
        top: ($hamburger-height - $hamburger-line-height) / 2;
    }

    &--3 {
        top: ($hamburger-height - $hamburger-line-height) / 2;
    }

    &--4 {
        top: $hamburger-height - $hamburger-line-height;
    }
}
