// Tablet menu (lg) = desktop menu (xl) except for:
// Complaint button just orange square
// Margin between nav items smaller

.nav {
	$self: &;

	&__brand {
		margin: $spacing-s $spacing-s #{$spacing-unit * 4};
		@include media-breakpoint-up(xl) {
			margin-top: 30px;
			padding-bottom: 15px;
		}
	}

	&__navbar-toggler {
		margin-right: $spacing-s;
	}

	&__brand-img {
		width: 263px;
		margin: 0;
		position: relative;
		@include media-breakpoint-up(xl) {
			width: 294px;
		}
		// border between header and banner
		&:after {
			content: "";
			display: block;
			width: 100vw;
			position: absolute;
			bottom: -$spacing-m;
			left: -$spacing-s;
			height: 1px;
			background-color: $pale-grey;
			z-index: -1;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				bottom: -39px;
			}
		}
	}

	&__brand-svg {
		max-width: 100%;
		max-height: 100%;
	}

	&__item {
		// rotate arrow for both main and secondary navs when showing
		&.dropdown.show {
			.sub-arrow {
				transform: rotate(180deg);
			}
		}
	}

	&__link {
		padding: 14px 14px 14px 16px;
		display: block;
		color: $gunmetal;
		position: relative;
		font-size: 16px;
		@include media-breakpoint-up(xl) {
			font-size: 18px;
		}
		.sub-arrow {
			// overriding some smartmenus css here
			content: " " !important;
			border-width: 0px !important;
			border-radius: 0px;
			display: inline-block;
			height: 11px;
			width: 7px;
			background-image: url("/assets/img/svg/ic-caret-down.svg");
			background-size: 11px 7px;
			background-repeat: no-repeat;
			background-position: center center;
			transition: rotate 0.3s ease-in-out;
			&:before {
				content: " " !important;
			}
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				background-image: url("/assets/img/svg/ic-caret-down-sm.svg");
				background-size: 8px 5px;
				background-position: top center;
				position: relative;
				bottom: 2px;
				margin-left: 8px;
				height: 5px;
				width: 8px;
			}
		}

		&.has-submenu {
			&:before {
				content: " " !important;
				display: inline-block;
				height: 24px;
				width: 1px;
				background: $cool-grey;
				position: absolute;
				right: 35px;
				top: 14px;
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					display: none;
				}
			}
		}

		&:hover {
			background-color: inherit;
		}
	}

	&__dropdown {
		// display: block !important;
		border-width: 0px;
		box-shadow: none;
		background-color: $primary;
		padding: 0;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			background-color: $white;
			min-width: 20rem;
			border-radius: 8px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
				0 4px 5px 0 rgba(0, 0, 0, 0.14);
		}
		#{$self}__dropdown-list-item {
			&:first-child {
				#{$self}__link {
					border-top-right-radius: 8px;
					border-top-left-radius: 8px;
				}
			}
			&:last-child {
				#{$self}__link {
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px;
				}
			}
		}
		#{$self}__link {
			padding-left: 32px;
			color: $white;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				padding: 11px 14px 10px;
				font-family: $headings-font-family;
				font-weight: 500;
				font-size: 14px;
				color: $gunmetal;
				background-color: $white;
			}
			&:hover {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					background-color: $pale-grey-two;
				}
			}
		}
	}

	&--main {
		padding: 0;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			padding-right: 128px;
		}
		@include media-breakpoint-up(xl) {
			padding-right: 180px;
		}
		#{$self}__item {
			&.current,
			&.active {
				#{$self}__link--top-level {
					&:after {
						@include media-breakpoint-up($desktop-menu-breakpoint) {
							content: "";
							display: inline-block;
							position: absolute;
							bottom: 6px;
							left: 10px;
							width: calc(100% - 20px);
							height: 2px;
							background-color: $tomato;
						}
					}
				}
			}

			&.dropdown.show {
				.sub-arrow {
					background-image: url("/assets/img/svg/ic-caret-down-orange.svg");
				}
			}

			&:last-child {
				#{$self}__link {
					margin-right: 0;
				}
			}
		}
		#{$self}__link {
			&--top-level {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					color: $black;
					font-weight: 700;
					padding-left: 11px;
					padding-right: 11px;
				}
				@include media-breakpoint-up(xl) {
					margin-right: 72px;
					padding-left: 14px;
					padding-right: 14px;
				}
				&:hover {
					color: $tomato;
					text-decoration: none;
					// .sub-arrow {
					// 	fill: $tomato;
					// }
				}
			}
		}
	}

	&--secondary {
		padding: 0;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			padding-right: 280px;
			#{$self}__link {
				font-size: 1.5rem;
			}
		}
	}

	&--secondary-mobile {
		#{$self}__list {
			background-color: $off-white;
		}
		.header {
			&__start-complaint {
				@extend %button;
				@extend %button--square;
				@extend %button--has-icon;
				@extend %button--centered;
				margin: $spacing-s;
				padding-top: 11px;
				padding-bottom: 11px;
			}

			&__start-complaint-icon {
				@extend %button__prepend;
			}

			&__phone {
				@extend %button;
				@extend %button--square;
				@extend %button--has-icon;
				@extend %button--centered;
				@extend %button--grey;
				margin: $spacing-s;
				padding-top: 11px;
				padding-bottom: 11px;
			}
			&__phone-text {
				font-size: 20px;
			}
			&__phone-icon {
				@extend %button__prepend;
				margin-right: 1rem;
				width: 21px;
				height: 21px;
			}
		}
	}

	&--secondary-desktop {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: flex;
			#{$self}__link {
				padding-top: 15px;
				margin-right: 14px;
				margin-left: 14px;
				padding-left: 0;
				padding-right: 0;
				border-bottom: 1px solid transparent;
				position: relative;
				top: 1px;
				@include hover-focus {
					color: $gunmetal;
				}
				&--dropdown {
					padding-top: 15px;
					padding-right: 14px;
					padding-left: 14px;
					margin: 0;
				}
			}
			#{$self}__dropdown {

			}
			#{$self}__item {
				&.active {
					> #{$self}__link {
						border-bottom: 1px solid $tomato;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
