.pagination {
	$self: &;

	margin-top: 40px;
	@include media-breakpoint-up(md) {
		margin-top: 52px;
	}
	&__inner {
		display: flex;
		align-items: center;
	}

	&__item {
		border-bottom: 1px solid transparent;
		&--disabled {
			display: none;
		}

		&--turn-page {
			width: 10px;
			overflow: visible;
			svg {
				transition: transform 0.3s ease-in-out;
			}
		}

		&--page-number {
			margin-right: 16px;
		}

		&--page-link {
			@include hover-focus() {
				border-bottom: 1px solid $primary;
				text-decoration: none;
			}
		}

		&--prev {
			margin-right: 12px;
			&:hover,
			&:active {
				svg {
					transform: translateX(-3px);
				}
			}
		}

		&--next {
			margin-left: 3px;
			&:hover,
			&:active {
				svg {
					transform: translateX(3px);
				}
			}
		}

		&--active {
			border-bottom: 1px solid $silver;
		}
	}

	&__nav-icon {
		display: block;
		> g path {
			fill: $battleship-grey;
		}
	}
}
