$box-width: 900px;
$box-padding-x: 32px;
$box-width-inner: $box-width - $box-padding-x * 2;
$increase: 4px;

.print-fixed-footer {
	width: 100%;
	margin-right: 43px;
	margin-left: 43px;
	color: $charcoal-grey;

	&__logo {
		width: 273px;
		height: 60px;
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin-top: 123.5px;
		margin-left: 70px;
	}

	&__header {
		font-family: $headings-font-family;
		font-size: 32px + $increase;
		width: $box-width-inner;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		color: $charcoal-grey;
		display: block;
		margin-bottom: 40px;
	}

	&__label {
		font-family: $font-family-base;
		font-size: 20px + $increase;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: $charcoal-grey;
		margin-bottom: 8px;
	}

	&__summary {
		font-family: $font-family-base;
		font-size: 14px + $increase;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;
		color: $charcoal-grey;
		margin-bottom: 0;
	}

	&__box {
		background-color: $pale-grey-two;
		width: $box-width;
		//height: 310px;
		//max-height: 310px;
		padding: 40px $box-padding-x;
		border-radius: 8px;
		display: inline-block;
		overflow-y: hidden;
	}

	&__row {
		width: $box-width-inner;
		display: block;
		&--1 {
			height: 48px;
			margin-bottom: 32px;
		}
		&--2 {
			height: 64px;
		}
	}

	&__column {
		width: $box-width-inner / 2 - 4px;//4px is buffer
		display: inline-block;
		max-height: 100%;
	}
}
