.print-fixed-header {
	width: 100%;
	height: 63px;
	margin-right: 43px;
	margin-left: 43px;
	display: flex;
	justify-content: space-between;

	&__logo {
		width: 289px;
		height: 63px;
		display: inline-block;
		vertical-align: middle;
	}

	&__phone {
		margin-top: 15.5px;
		height: 32px;
		float: right;
		vertical-align: middle;
		display: inline-block;
	}

	&__phone-icon {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 12px;
		vertical-align: middle;
	}

	&__phone-number {
		display: inline-block;
		font-family: $font-family-base;
		font-size: 32px;
		font-weight: 900;
		line-height: 1;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		color: $gunmetal;
		vertical-align: middle;
	}
}
