// Search button in header (not shown on mobile):
// see src\styles\components\_search-bar.scss for search bar on search results
.search-button {
	$self: &;
	display: none;

	@include media-breakpoint-up($desktop-menu-breakpoint) {
		display: block;
		position: absolute;
		right: 190px;
		top: 1px;
		width: 0%;
		min-width: 88px;
		height: 51px;
		float: right;
		// overflow: hidden;
		transition: width 0.3s;
		-webkit-backface-visibility: hidden;
	}

	&__label {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			position: absolute;
			font-size: 1.5rem;
			font-weight: 500;
			top: 12px;
			right: 0;
			color: $gunmetal;
		}
	}

	&__toggle-icon {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			cursor: pointer;
			display: block;
			padding: 0;
			margin: 0;
			line-height: 28px;
			text-align: center;
			border: 3px solid white;
			display: inline-block;
			background-color: transparent;
			top: 3px;
			width: calc(100% + 10px);
			height: 100%;
		}
		&:focus {
			// outline: none;
		}
		&,
		path {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				transition: all 0.3s ease-in;
			}
		}
		svg {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				transition: all 0.5s ease-in;
				width: 18px;
				height: 18px;
				z-index: 90;
				text-transform: none;
				position: absolute;
				top: 16px;
				right: 55px;
			}
			g {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					fill: $gunmetal;
				}
			}
		}
	}
}
