.search-bar {
	$self: &;

	@include media-breakpoint-down($mobile-menu-breakpoint) {
		@include make-container;
	}

	&__label {
		@include media-breakpoint-down($mobile-menu-breakpoint) {
			@include sr-only;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			color: $white;
			margin: 0;
		}
	}

	&__form {
		width: 100%;
		margin: 0 auto $spacing-s;
		position: relative;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			margin: 0;
		}
	}

	&__input {
		display: block;
		width: 100%;
		background: $white;
		margin: 0;
		z-index: 10;
		color: $secondary;
		&::placeholder {
			color: $black;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			width: auto;
			border-radius: 4px;
  			box-shadow: inset 1px -2px 0 0 $cool-grey;
  			border: solid 1px $cool-grey;
		}
	}

	&__submit-btn,
	&__toggle-icon {
		cursor: pointer;
		padding: 0;
		margin: 0;
		line-height: 28px;
		text-align: center;
		border: 3px solid white;
		display: inline-block;
		background-color: transparent;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			top: 3px;
		}
		&, path {
			transition: all 0.3s ease-in;
		}	
		svg {
			transition: all 0.5s ease-in; 
			width: 18px;
			height: 18px;
			g {
				fill: $gunmetal;
			}
		}
	}

	&__submit-btn {
		color: transparent;
		position: absolute;
		top: 7px;		
		right: 10px;
		background-color: transparent;
		width: 35px;
		height: 35px;
		outline: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			position: static;
			width: auto;
			height: auto;
			background-color: $tomato;
			color: $white;
			border-width: 0px;
			font-size: 20px;
			font-weight: 700;		
			padding: 7px 20px;
			border-radius: 4px;
			line-height: 1.5;
			margin-left: #{$spacing-unit * 4};
			margin-right: 43px;
			@include hover-focus {
				color: $white;
				background-color: $rusty-orange;
				text-decoration: none;
				cursor: pointer;
			}			
		}

		svg {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}
		}

		&--input-has-text {
			&:hover, &:focus {
				// background-color: $white;
				outline: none;
				svg {
					transform: rotate(45deg) scale(1.3);
					path {
						fill: $primary;
					}
				}
			}
		}
	}

	// Only Desktop has a toggle and close button
	&__toggle-icon {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: inline-block;
		}
		svg {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				z-index: 90;
				text-transform: none;
				position: absolute;
				top: 16px;	
				right: 55px;
			}
		}
	}

	&__close-btn {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: block;
			color: $white;
			align-self: center;
		}		
		svg {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				// transition: all 0.3s ease-in;
				width: 14px;
				height: 14px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		@include hover-focus {
			cursor: pointer;
			svg {
				fill: $secondary;
			}
		}
	}

	&__close-btn-label {
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
	}

	&--desktop {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			background-color: $primary;
			padding-top: 45px;
			padding-bottom: 45px;
			overflow: hidden;
			align-items: center;
		}
		
		#{$self}__form {
			display: flex;
			max-width: 850px;
			margin: 0 auto;
		}

		#{$self}__input {
			flex-grow: 1;
		}
	}

	&--mobile {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: none;
		}
	}

	&--open {
		// display: block;
		// #{$self}__input {
		// 	right: 0;
		// }
		// #{$self}__toggle-icon {
		// 	z-index: 11;
		// 	opacity: 0;
		// }
		// #{$self}__submit-btn {
		// 	z-index: 90;
		// 	opacity: 1;
		// }
		// #{$self}__close-btn {
		// 	opacity: 1;
		// }
	}	
}