.sitewide-alert {
    @include make-container();
    position: relative;
    z-index: 400;
    background-color: $marine;
    justify-content: space-between;
    padding: 13px 10px 13px 16px;
    display: none;

    &--open {
        display: flex !important;
    }

    &__content {
        color: $white;
        display: flex;
        column-gap: 16px;
        row-gap: 8px;
        font-weight: 700;
        p {
            margin-bottom: 0;
        }
        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        @include media-breakpoint-down(sm){
            flex-direction: column;
        }
    }

    &__tag{
        background-color: #E41E27;
        border-radius: 999px;
        padding: 2px 10px;
        width: fit-content;
        height: fit-content;
    }

    &__close-btn {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm){
            align-items: flex-start;
        }
    }

    &__close-btn-icon {

    }
}
