.social-links {
	$self: &;
	display: flex;
	flex-direction: row;

	&__link {
		padding: 7px;
		align-items: center;
		margin-right: 6px;
		display: flex;
		align-content: center;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link-svg {
		height: 18px;
		width: 18px;
		g {
			transition: fill 0.1s ease-in-out;
		}
	}
	
	&--dark-bg {
		#{$self}__link {
			background-color: $white;
			border: 2px solid $marine;
			border-radius: 50%;
			&:hover {
				background-color: $marine;
				border: 2px solid $white;
				#{$self}__link-svg {
					g {
						fill: $white;
					}
				}
			}
		}
		#{$self}__link-svg {
			g {
				fill: $marine;
			}
		}
	}
}
