$slider-swipe-breakpoint: 'md'; 
$story-height: auto;
// adapted from https://codepen.io/foleyatwork/pen/ylwoz
.stories-outer-wrapper {
	position: relative;
	width: 100%;
	height: $story-height;
	@include media-breakpoint-up($slider-swipe-breakpoint) {
		height: auto;
	}
}

// Split into two objects - stories and individual story
.stories {
	$self: &;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__wrap {
		position: relative;

		width: 300%;
		max-height: $story-height;
		background-color: $duck-egg-blue;
		height: 100%;
		overflow-y: hidden;

		@include media-breakpoint-up($slider-swipe-breakpoint) {
			width: auto;
			height: 520px;
		}

		&--animate {
  			transition: transform 0.3s ease-out;
		}
	}

	&__nav-mobile {
		position: absolute;
		z-index: 100;
		top: calc(100vw * 4.5 / 16);
		width: 100%;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			display: none;
		}
	}
	
	&__nav-mobile-button {
		@extend %slider-nav-button;
		transform: translateY(-50%);	
		top: 0;
		&--left {
			@extend %slider-nav-button--left;
		}
		&--right {
			@extend %slider-nav-button--right;
		}
	}

	&__nav-mobile-button-ic-arrow {
		&--left {
			margin: 0 0 2px 5px;
		}
		&--right {
			margin: 0 5px 2px 0;
		}
	}

	&__nav-dt {
		display: none;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			display: flex;
			position: relative;
			align-items: center;
			margin-top: -40px;
			z-index: 50;
		}
	}

	&__nav-dt-item-icon {
		margin-right: $spacing-s;
		margin-bottom: 0;
	}

	&__nav-dt-item-button {
		flex-grow: 1;
		display: inline-flex;
		align-items: center;
		border: none;
		box-shadow: none;
		padding: $spacing-s $spacing-m;
		border: solid 1px $silver;
		background-color: $white;
		transition: background-color .2s ease-in-out;
		transition: border-color .2s ease-in-out;
		@include hover-focus {
			background-color: $silver;
			border-top-color: $silver;
			border-bottom-color: $silver;
			outline: none;
			#{$self}__nav-dt-item-button-text {
				color: $charcoal-grey;
			}
		}		
		&:first-child {
			border-top-left-radius: 100px;
			border-bottom-left-radius: 100px;
			@include hover-focus {
				border-color: $silver;
				border-right-color: $silver;
			}
		}
		&:last-child {
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;
			@include hover-focus {
				border-color: $silver;
				border-left-color: $silver;
			}
		}
		&--active, &--active:focus {
			background-color: $prussian-blue;
			border-color: $prussian-blue;
			#{$self}__nav-dt-item-button-text {
				color: $white;
			}
		}
		&--active {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				margin-left: -5px;
				top: -9px;
				height: 9px;
				width: 20px;
				background-image: url('/assets/img/svg/ic-chevron-up-blue.svg');
				background-size: cover;
			}
			&:hover {
				background-color: $prussian-blue !important;
				border-color: $prussian-blue !important;
				#{$self}__nav-dt-item-button-text {
					color: $white;
				}
			}
		}
	}

	&__nav-dt-item-button-text {
		@extend %minor-heading;
		color: $charcoal-grey;
	}
}

.story {
	@extend %banner--blue;
	width: 33.333%;
	height: 100%;
	float: left;
	height: $story-height;
	position: relative;
	overflow: hidden;
	
	@include media-breakpoint-up($slider-swipe-breakpoint) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		float: unset;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
		z-index: -1;
	}

	&__row {
		@extend %banner__row;
		height: 100%;

  		position: relative;
	}

	&__content {
		@extend %banner__column;
		@extend %banner__column--text;
		height: 55%;
		order: 2;
		height: 100%;
		align-items: center;
		position: relative;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			order: 1;
		}		
	}

	&__content-wrap {
		@extend %banner__text-content-wrap;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			// To allow room for the nav:
			padding-bottom: 40px;
		}
	}

	&__heading {
		@extend %banner__text-content-heading;
		color: $gunmetal;
	}

	&__summary {
		color: $gunmetal;
	}

	&__image-wrap {
		@extend %banner__column;
		order: 1;
		height: 45%;
		width: 100%;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			order: 2;
			height: auto;
		}
	}

	&__image-container {
		@extend %banner__media--image;
		width: 100%;
		height: 100%;
		// min-height: auto;
		@include media-breakpoint-up($slider-swipe-breakpoint) {
			height: 100%;
			min-height: calc(100vw * 9 / 16);
		}
		@include media-breakpoint-up(xl) {
			min-height: auto;
		}
	}

	&__cta {
		@extend %banner__text-content-cta;
	}

	&__smallprint {
		@extend %very-small-print;
		margin-top: $spacing-s;
		color: $gunmetal;
	}

	&--active {
		opacity: 1;
		z-index: 25;
	}
}
