$nav-tabs-border-width: 0px;
$nav-tabs-border-color: $pinkish-grey;
$nav-tabs-border-radius: 0px;
$nav-tabs-link-active-color: #000000;
$nav-tabs-link-active-bg: #FFFFFF;
$nav-tabs-link-active-border-color: #FFFFFF;