// link
$link-color: $secondary;
$link-hover-color: $secondary;
// $link-decoration: none !default;
// $link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
// $emphasized-link-hover-darken-percentage: 15% !default;