// grey scale
$pepper:        #737373;
$grey:          #cecece;
$soap:          #f0f1f2;

// Site Colours
$marine: #053f60;
$prussian-blue: #004971;
$nice-blue: #0D6DA5; // darkened for accessibility from #107bb8;
$nice-blue-two: #0C71AC; // darkened for accessibility from #0f76b0
$greeny-blue: #3B8179; // darkened for accessibility from #4da79d
$light-blue: #adcde6;
$light-blue-grey: #e1eef5;
$light-blue-grey-two: #c0d9e7;
$pinkish-grey: #cecece;
$duck-egg-blue: #dbedf7;
$tomato: #ef6225;
$rusty-orange: #d0490f;
$mango: #f99d34;
$rouge: #b62025;
$very-light-pink: #fef5ea;
$pale: #feebd6;
$white-two: #fafafa;
$pale-grey: #e5e8ed;
$pale-grey-two: #f4f4f5;
$cool-grey: #8e979e;
$off-white: #f1f1f1;
$yump-pink: #ce0057;
$dark: #1a2023;
$gunmetal: #455560;
$battleship-grey: #5F6B72; // darkend for accessibility from #69767f;
$silver: #d8dadc;
$charcoal-grey: #354149;
$water-blue: #0B78B7; //darkened for accessibility from #0c82c5

$footer-background: #eef7fd;

// BS Colours
$primary: $marine;
$secondary: $nice-blue;
$body-color: $battleship-grey;

$success:       #0cac78;
$info:          $tomato;
$warning:       #f69900;
$danger:        $rusty-orange;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "info" : $info,
);
