// BS Font Variables
$headings-font-family: 'Museo', Arial, sans-serif;
$font-family-base: 'Museo Sans', Arial, sans-serif;
$font-weight-base:  500;
$font-size-base: 1.6rem; // Assumes the browser default, typically `16px`
$link-hover-color: $prussian-blue;

// // Override BS defaults for Font, line-height, and color for body text, headings, and more here:
// // $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

// $font-weight-light:           300;
// $font-weight-normal:          400;
// $font-weight-bold:            700;

// $line-height-base:            1.5;

// BS Headings Font Sizes:
// $h1-font-size:                $font-size-base * 2.8;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.625;
// $h4-font-size:                $font-size-base * 1.25;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;
