%fact-sheet-heading {
	margin-bottom: 32px;
	&__heading {
		font-size: 48px!important;
		font-weight: 900!important;
		color: $marine;
		margin-bottom: 24px;
	}
	&__summary {
		font-size: 20px!important;
		line-height: 1.2!important;
		font-weight: 500;
		color: $gunmetal;
	}
}
