%share-this-button {
    $self: &;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    min-width: 40px;
    @include media-breakpoint-up(sm) {
        min-width: 127px;
    }
    &--email {
        border-color: $gunmetal;
        background-color: $gunmetal;
    }
    &--twitter {
        border-color: #1DA1F2;
        background-color: #1DA1F2;
    }		
    &--facebook {
        border-color: #2c3e90;
        background-color: #2c3e90;
    }			
    &--linkedin {
        border-color: #0073b1;
        background-color: #0073b1;
    }		
}