%section-head {
	@include fluid-property('margin-bottom', 40);
	&__heading {
		@include fluid-type($secondary-heading);
		@include fluid-property('margin-bottom', 20);
		color: $gunmetal;
		font-weight: 900;
	}
	&__summary {
		@include fluid-type($lead-text);
		color: $gunmetal;
		figure, img {
			max-width: 100%;
		}
		p:last-child {
			margin-bottom: 0;
        }
        &--dulled {
            @extend %body-text;
        }
	}
}