// cards
$card-gutter-width-horizontal: 2.4rem;
$card-gutter-width-vertical: 2.4rem;
$card-border-width: 1px;
$card-border-color: $silver;
$card-spacer-y: 32px;
$card-spacer-x: 32px;
$card-border-radius: 8px; 

// $card-height: 576px;
// $card-cap-bg: ;