/* 
    <a href="#" class="btn btn--has-icon">
        <figure class="btn__prepend">
            {{svg('@webroot/assets/img/svg/ic-caret-left.svg')|attr({
                class: 'btn__icon'
            }) }}
        </figure>
        <span class="btn__text">
            {{ parent.title }}
        </span>
    </a>
*/
%button {
	background-color: $tomato;
	color: $white;
	border-color: $tomato;
	font-size: 20px;
	font-weight: 700;
	@include hover-focus {
		color: $white;
		background-color: $rusty-orange;
		text-decoration: none;
		box-shadow: none;
	}
	&:visited {
		text-decoration: none;
	}

	&__prepend {
		display: block;
		margin-right: $spacing-s;
		margin-bottom: 0;
		float: left;
		svg {
			float: left;
		}
	}

	&__append {
		display: block;
		margin-left: $spacing-s;
		margin-bottom: 0;
		float: right;
		svg {
			float: right;
		}
	}

	&__icon {
		display: block;
	}

	&--trans-wht {
		background-color: transparent;
		border-color: $white;
		color: $white;
		&:hover {
			background-color: $white;
			color: $primary;
			svg {
				#bg {
					fill: $primary;
				}
			}
		}
	}

	&--has-icon {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: left;
	}

	&--centered {
		justify-content: center;
		text-align: center;;
	}

	&--primary {
		padding: 14px 22px;
		border-radius: 34px;
		@include media-breakpoint-up(lg) {
			padding: 26px 36px;
			border-radius: 40px;
		}
	}

	&--icon-only {
		background-color: transparent;
		border: none;
		padding: 0;
		&:hover {
			background-color: transparent;
			border: none;
			padding: 0;
		}
	}

	// Stays the same on mobile and desktop --small is output from buttons.html content block. Split this out if secondary should change
	&--secondary, &--small {
		padding: 12px 24px;
		border-radius: 30px;
		@include media-breakpoint-up(lg) {
			padding: 16px 24px;
		}
	}

	&--smaller {
		padding: 6px 16px;
		border-radius: 21px
	}

	// Large button is the same as primary but doesn't get smaller on mobile
	&--large {
		padding: 26px 36px;
		border-radius: 40px;
	}

	&--grey {
		background-color: $off-white;
		border-color: $off-white;
		color: $gunmetal;
		font-size: 1.6rem;
		&:active {
			box-shadow: none !important;
			border: none;
		}
		&:hover, &:hover:focus {
			border-color: $silver;
			background-color: $silver;
			color: $gunmetal;
		}
		&:focus {
			background-color: $off-white;
			border-color: $silver;
			color: $gunmetal;
		}
	}

	// E.g. in banner
	&--square {
		padding: 8px 20px;
		border-radius: 4px;
	}

	// templates\_content-blocks\pageLink.html
	&--pagelink {
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		padding: 0;

		@include hover-focus {
			outline: none;
		}
	}

	// in the style of a link
	&--link {
		color: $nice-blue;
		border-color: transparent;
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		font-size: 16px;
		@include hover-focus {
			border-color: transparent;
			background-color: transparent;
			color: $nice-blue;
			outline: none;
			text-decoration: underline;
		}
	}

	// Small square for the form submit button
	&--square-small{
		padding: 1.2rem 2rem;
		border-radius: 4px;
	}
}

// used in src\styles\elements\_stories-slider.scss and src\styles\content-blocks\_images.scss
%slider-nav-button {
	position: absolute;
	background: $tomato;
	box-shadow: none;
	border: none;
	z-index: 100;
	top: 50%;
	transform: translateY(-50%);	
	@include hover-focus() {
		box-shadow: none !important;
		background-color: $rusty-orange;
	}
	&--left {
		// https://bennettfeely.com/clippy/
		clip-path: ellipse(32% 40% at 0% 49%);
		padding: 23px 76px 28px 4px;
		left: 0;
	}
	&--right {
		// https://bennettfeely.com/clippy/
		clip-path: ellipse(32% 40% at 100% 49%);
		padding: 23px 4px 28px 76px;
		right: 0;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	&__ic-arrow {
		&--left {
			margin: 0 0 2px 5px;
		}
		&--right {
			margin: 0 5px 2px 0;
		}
	}
}
