// inter-blocks
$gap-between-blocks: 5.6rem;
$gap-between-blocks-mobile: 3.2rem;
$gap-between-blocks-px: 56;
$gap-between-blocks-mobile-px: 32;
$gap-big: 7.2rem;
$gap-big-mobile: 4.8rem;
$gap-big-px: 72;
$gap-big-mobile-px: 48;