/**
 * Custom fonts inclusion example:
 */
 
// See _ds-vars-typography.scss for the maps for these components

// E.g. Banner heading
%main-heading {
	@include fluid-type($main-heading);
	font-weight: 900;
	color: $charcoal-grey;
}

// E.g. Anchor point heading, rich text h2
%secondary-heading {
	@include fluid-type($secondary-heading);
	font-weight: 900;
}

// E.g. Help Section Heading
%tertiary-heading {
	@include fluid-type($tertiary-heading);
	font-weight: 900;
}

// E.g. rich text h3 | card heading
%sub-heading {
	@include fluid-type($sub-heading);
	font-weight: 700;
}

// E.g. rich text h4
%minor-heading {
	@include fluid-type($minor-heading);
	font-weight: 700;
}

// Bigger on mobile than minor heading
%alt-minor-heading {
	@include fluid-type($alt-minor-heading);
	font-weight: 700;
}

// E.g. sidebar heading
%very-minor-heading {
	@include fluid-type($very-minor-heading);
	font-weight: 700;
}

// E.g. contact setcion content
%small-print {
	@include fluid-type($smallprint);
	font-weight: 300;
}

// E.g.*fictitous name text in stories slider
%very-small-print {
	@include fluid-type($very-smallprint);
	font-weight: 500;
}

%lead-text {
	@include fluid-type($lead-text);
	font-weight: 500;
	color: $dark;
	@include media-breakpoint-up(md) {
		color: $gunmetal;
	}
}

%body-text {
	@include fluid-type($body);
	font-family: $font-family-base;
	font-weight: 500;
}
