//Fluid Typography - adapated from https://css-tricks.com/snippets/css/fluid-typography/
//the widths to shrink/grow between default to Bootstrap SM and LG
//Set min (mobile - bs-sm) and max (desktop bs-xl) font-sizes/line-heights:
//Used primarily in components here src\styles\base\design-system\_ds-typography.scss then extended to content blocks

// E.g. Banner heading
$main-heading: (
	font-size-dt: 48px,
	font-size-mobile: 32px,
	line-height-dt: 56px,
	line-height-mobile: 40px
);

// E.g. Anchor point heading, rich text h2
$secondary-heading: (
	font-size-dt: 40px,
	font-size-mobile: 24px,
	line-height-dt: 52px,
	line-height-mobile: 32px
);

// E.g. Help Section Heading
$tertiary-heading: (
	font-size-dt: 32px,
	font-size-mobile: 24px,
	line-height-dt: 40px,
	line-height-mobile: 32px
);

// E.g. rich text h3
$sub-heading: (
	font-size-dt: 24px,
	font-size-mobile: 20px,
	line-height-dt: 32px,
	line-height-mobile: 24px
);

// E.g. rich text h4
$minor-heading: (
	font-size-dt: 20px,
	font-size-mobile: 16px,
	line-height-dt: 24px,
	line-height-mobile: 20px
);

// alt-minor-heading - bigger on mobile
$alt-minor-heading: (
	font-size-dt: 20px,
	font-size-mobile: 20px,
	line-height-dt: 24px,
	line-height-mobile: 24px
);

// E.g sidebar heading
$very-minor-heading: (
	font-size-dt: 16px,
	font-size-mobile: 16px,
	line-height-dt: 20px,
	line-height-mobile: 20px
);

$lead-text: (
	font-size-dt: 20px,
	font-size-mobile: 16px,
	line-height-dt: 28px,
	line-height-mobile: 23px
);

$body: (
	font-size-dt: 16px,
	font-size-mobile: 14px,
	line-height-dt: 24px,
	line-height-mobile: 20px
);

// E.g. contact setcion content
$smallprint: (
	font-size-dt: 14px,
	font-size-mobile: 14px,
	line-height-dt: 16px,
	line-height-mobile: 16px
);

// E.g. contact setcion content
$very-smallprint: (
	font-size-dt: 12px,
	font-size-mobile: 12px,
	line-height-dt: 16px,
	line-height-mobile: 16px
);