// these two define the breakpoint together, they should be changed together if one of them needs to be changed
$rich-media-breakpoint-up: md;
$rich-media-breakpoint-down: sm;

$rich-media-text-desktop-max-widths: (
	md: 356px,
	lg: 400px,
	xl: 540px
);

%banner {
	$self: &;
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			flex: 0 0 50%;
		}
		&--media {
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		&--text {
			@include make-col-ready();
			@include make-col(12);
			padding-top: $gap-between-blocks-mobile;
			padding-bottom: $gap-between-blocks-mobile;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				@include make-col(6);
				padding-top: $gap-between-blocks;
				padding-bottom: $gap-between-blocks;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}	
	}

	&__text-content-wrap {
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			@include make-container-max-widths($rich-media-text-desktop-max-widths);
		}
	}

	&__text-content-heading {
		@extend %secondary-heading;
	}	

	&__text-content-summary {
		@extend %lead-text;
		color: $gunmetal;
		margin-top: #{$spacing-unit * 4};
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__text-content-cta {
		margin-top: #{$spacing-unit * 4};
	}

	&__media {
		&--image {
			// we need to make sure the image itself is cropped 16/9
			min-height: calc(100vw * 9 / 16);
			background-size: cover;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				height: 100%;
				min-height: calc(34vw * 9 / 16);
			}
		}
	}	

	&--text-only {
		#{$self}__column--text {
			flex: 0 0 100%;
			max-width: 100%;
			justify-content: left;
		}
		#{$self}__text-content-wrap {
			max-width: 100%;
		}
	}

	&--blue {
		background-color: $duck-egg-blue;
	}
}