{% extends "_layouts/post" %}

{% block bodyClass %}{{ parent() }} news-post-page{% endblock %}

{% block postHeadingSection %}
	<div class="post__heading">
		<h1 class="post__heading-text">{{entry.title}}</h1>
		<span class="post__heading-date">{{entry.postDate | date('j F Y')}}</span>
	</div>
{% endblock %}