{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_layouts/bootstrap/base' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% set topLevelEntries = menus.entries %}
{% set navItems = craft.ewov.getTopNav(topLevelEntries) %}
{% set navItemsMain = craft.yump.getNav(true) %}
{% set breadcrumbs = null %}
{% if entry is defined and entry %}
    {% set breadcrumbs = craft.yump.getBreadcrumb(entry, false) %}
{% endif %}

{% block header %}
    <header>
        {% block alert %}
            {% if generalSettings.alertEnabled is defined and generalSettings.alertEnabled %}
                {% include "_elements/sitewide-alert" %}
            {% endif %}
        {% endblock %}
        <div class="header">
            {% block navUtility %}
                {% include "_elements/header-utility" with { navItems: navItems}%} {# 15 query #}
            {% endblock %}
            {% block searchBar %}
                {% include '_elements/search-bar' with { variation: 'desktop'} %} {# 15 query #}
            {% endblock %}
            <div class="header__container">
                {% block nav %}
                    {% include '_elements/header-main' ignore missing with { navItems: navItemsMain} %} {# 34 query #}
                    {% include '_elements/header-secondary' with { variation: 'mobile',navItems: navItems } %}
                {% endblock %}
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    {% block beforeBanner %}
        {% if entry is defined and entry %}
            {% include "_elements/mobile-breadcrumb" %}
        {% endif %}
    {% endblock %}

    {% block banner %}{% include "_elements/banner" %}{% endblock %} {# 30 query #}

    {% block content %}
        <main id="main">

            {% block beforeMainContent %}{% endblock %}

            {% set mainContent = null %}
            {% set secondaryContent = null %}

            {# 70 query #}
            {% if entry is defined and entry and entry['body'] is defined and entry.body %}
                {% for childBlock in entry.body.level(1).all() %}
                    {% if childBlock.type == 'mainContent' %}
                        {% set mainContent = childBlock %}
                    {% elseif childBlock.type == 'secondaryContent' %}
                        {% set secondaryContent = childBlock %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="body-boxed{{ mainContent ? '' : ' no-boxed-section' }}">

                <div class="body-boxed__container container">
                    <div class="body-boxed__row">
                    {% block boxed %}
                        {% if mainContent %}
                            {% block beforeBoxed %}{% endblock %}
                            {% block sidebar %}{% endblock %}
                            <article class="neo-main-content">
                                <div class="neo-main-content__content">
                                    {% block pageHeadingInsideBoxSection %}{% endblock %}
                                    {% include "_content-blocks/partials/neo_child_block" with {blockSet: mainContent.children, scope: ['mainContent']} %}
                                    {% block afterBoxedArticle %}{% endblock %}
                                </div>
                            </article>
                        {% endif %}
                    {% endblock %}
                    </div>
                </div>
            </div>

            <div class="body-full-width neo-secondary-content">
                {% block beforeFullWidthBody %}{% endblock %}
                {% block fullWidthBody %}
                    {% if secondaryContent %}
                        {% include "_content-blocks/partials/neo_child_block" with {blockSet: secondaryContent.children, scope: ['secondaryContent']} %}
                    {% endif %}
                {% endblock %}

                {% block fullWidthBodyBottom %}{% endblock %}
            </div>

            {% block afterContent %}{% endblock %}
        </main>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
    {{ parent() }}
    {# Our custom JS scripts... #}
{% endblock %}
