{% header "X-Robots-Tag: noindex" %}

{% extends "_layouts/compact" %}

{% block bodyClass %}
    {{ parent() }} error-page
{% endblock %}

{% block boxed %}
    <article class="oops">
        <div class="oops__content">
            {% block errorContent %}{% endblock %}
        </div>
    </article>
{% endblock %}