<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
            <title>{{ entry.title }}</title>
        {% endblock %}
        <style>
            @font-face {
                font-family: 'Museo';
                src: url('{{ url('/assets/fonts/Museo-300.ttf') }}') format('truetype');
                font-weight: 300;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo';
                src: url('{{ url('/assets/fonts/Museo-500.ttf') }}') format('truetype');
                font-weight: 500;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo';
                src: url('{{ url('/assets/fonts/Museo-700.ttf') }}') format('truetype');
                font-weight: 700;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo';
                src: url('{{ url('/assets/fonts/Museo-900.ttf') }}') format('truetype');
                font-weight: 900;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-100.ttf') }}') format('truetype');
                font-weight: 100;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-100Italic.ttf') }}') format('truetype');
                font-weight: 100;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-300.ttf') }}') format('truetype');
                font-weight: 300;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-300Italic.ttf') }}') format('truetype');
                font-weight: 300;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-500.ttf') }}') format('truetype');
                font-weight: 500;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-500Italic.ttf') }}') format('truetype');
                font-weight: 500;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-700.ttf') }}') format('truetype');
                font-weight: 700;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-700Italic.ttf') }}') format('truetype');
                font-weight: 700;
                font-style: italic;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-900.ttf') }}') format('truetype');
                font-weight: 900;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Museo Sans';
                src: url('{{ url('/assets/fonts/MuseoSans-900Italic.ttf') }}') format('truetype');
                font-weight: 900;
                font-style: italic;
                font-display: swap;
            }
        </style>
        {% include '_layouts/bootstrap/css-libraries' %}
        {% block extraCss %}{% endblock %}
    </head>
    <body class="body {% block bodyClass %}{% endblock %}">
        {% block bodyContainer %}
            <div class="pdf__head">
                {% include "fact-sheets/__fixed-header" %}
            </div>
            <div class="pdf__footer">
                {% include "fact-sheets/__fixed-footer" %}
            </div>
            {% block body %}{% endblock %}
        {% endblock %}
    </body>
</html>
