{# 
	Use this template for sections like news article, event details, thank you pages if they share similarity and have different layout than the general content pages.
#}

{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} post{% endblock %}

{% block banner %}

	{% include "_elements/banner-simple" with {variation: 'news'} %}

{% endblock %}

{# {% block beforeBoxed %}

	<section class="before-boxed">
		{% block postHeadingSection %}{% endblock %}

		{% block featuredImageSection %}
			{% set featuredImage = entry.featuredImage.one() %}
			{% if featuredImage %}
				<div class="post__featured-image">
					{% include '_content-blocks/image' with {
						image: featuredImage
					} only %}
				</div>
			{% endif %}
		{% endblock %}
	</section>
{% endblock %} #}