{#
Settings:
---
Required:
- field
- videoUrl
Either field or videoUrl should be supplied, if both supplied, we will use videoUrl as default.

Optionals:
- videoTranscript (entry)
- videoHtmlTitle (string)
- params (array): video settings (varies depending on which platform this video is hosted). By default, we use YouTube's 'controls: 1, rel: 0', which can be overridden by the custom params. Only works if we pass in field instead of videoUrl (as you can directly put params in URL in videoUrl).
#}

{% set transcriptEntry = transcriptEntry | default(null) %}
{% set videoUrl = videoUrl | default(null) %}
{% set videoUrl = craft.yump.generateValidUrl(videoUrl) %}
{% if not videoUrl and field is defined and field %}
	{% set defaultParams = {controls: 1, rel: 0} %}
	{% set params = params | default({}) %}
	{# the custom params override the defaultParams #}
	{% set params = defaultParams | merge(params) %}
	{% set videoUrl = craft.yump.compileVideoUrl(field, params) %}
{% endif %}
{% if videoUrl %}
	<div class="video">
		<div class="video-iframe-wrapper">
			<div class="aspect-ratio">
				<iframe src="{{ videoUrl }}" {% if videoHtmlTitle is defined and videoHtmlTitle %}title="{{videoHtmlTitle}}"{% endif %} allowfullscreen></iframe>
			</div>
		</div>
		{% if transcriptEntry %}
			<div class="video-transcript-cta">
				<a class="video-transcript-cta__link btn btn--link btn--has-icon" href="{{ transcriptEntry.url }}" target="_blank">
					<span class="video-transcript-cta__link-text btn__text">View transcript</span>
					<figure class="video-transcript-cta__link-img btn__append">
						{{ svg('@webroot/assets/img/svg/ic-arrow-right.svg') }}
					</figure>
				</a>
			</div>
		{% endif %}
	</div>
{% endif %}