{#
# Complaint template
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}
 {% import '_macros' as macros %}
{# Multi-step form for making a complaint lives here #}
{% extends "_layouts/default" %}

{% block bodyClass %}
    {{ parent() }} complain-form--layout
{% endblock %}

{% block banner %}{% endblock %}

{% if entry is defined and entry != null %}
    {% set currentstep = craft.freeform.form(entry.form.handle).currentPage.index %}
{% endif %}

{% block header %}
    <header>
        <div class="header">
            {% block navUtility %}
                <div class="header__utility">
                    {% include "_elements/partials/link-phone" with { variation: 'all' } %}
                </div>
            {% endblock %}
            {% block searchBar %}{% endblock %}
            <div class="header__container">
                {% block nav %}{% endblock %}
                <a class="nav__brand" href="/">
                    <figure class="nav__brand-img">
                        {{ macros.svg({
                            name: 'logo-ewov',
                            alt: seomatic.site.siteName ~ ' logo',
                            attributes: { 'class' : 'nav__brand-svg' }
                        }) }}
                    </figure>
                </a>
                {% if currentstep is defined %}
                    <div class="complain-form--steps">
                        <div class="complain-form--steps-icons">
                            <div class="complain-form--steps-icon">
                                {% if currentstep == 0 %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                {% endif %}
                                {% if currentstep == 1 %}
                                    <i class="fas fa-check"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                {% endif %}
                                {% if currentstep == 2 %}
                                    <i class="fas fa-check"></i>
                                    <i class="fas fa-check"></i>
                                    <i class="fas fa-circle"></i>
                                {% endif %}
                                <div class="complain-form--steps-line"></div>
                            </div>
                        </div>
                        <div class="complain-form--steps--text">
                            <div{% if currentstep == 0 %} class='current'{% endif %}>Getting started</div>
                            <div{% if currentstep == 1 %} class='current'{% endif %}>Your details</div>
                            <div{% if currentstep == 2 %} class='current'{% endif %}>Your complaint</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% do view.registerJsFile("/assets/js/vue.js") %}
{% do view.registerJsFile("/assets/js/selectize.js") %}
{% do view.registerJsFile("/assets/js/complaint-form.js") %}
{% block body %}
    {% if entry is defined and entry != null %}
        <div class="container">
            <div class="complain-form--form custom-form">
                {{ craft.freeform.form(entry.form.handle).render() }}
            </div>
        </div>
    {% endif %}
{% endblock %}
