{% set CRAFT_VERSION = craft.app.version | split('.') | first %} {# 4 or 5 #}
{% extends "_layouts/maintenance.html" %} {% block content %}
<h1>Yump maintenance</h1>
  <p>
    Please update this HTML to customise the document of this project's
    maintenance.
  </p>

  <h2>1. Preparation</h2>
    <h3>1.1 Important notes</h2>
      <p>
        Live: <a href="https://ewov.com.au" target="_blank">https://ewov.com.au</a><br>
        Staging: <a href="https://staging.ewov.com.au" target="_blank">https://staging.ewov.com.au</a><br>

        Admin password, last-pass search "Ewov"
      </p>

    <h3>1.2 Generating production backup</h4>
      <p>Go to production, download the assets, database and archive the logs</p>
      <p>
        Run following command at production root folder:
        <code>make prod-maintenance-backup</code>
        You should see the backs generated at: <br>
        <code>storage/backups/logs_[DATE].tar.gz</code>
        <code>storage/backups/uploads_[DATE].tar.gz</code>
        <code>storage/backups/[CRAFT_CMS_DB_FILE_FORMAT].sql.zip</code>
      </p>

    <h3>1.3 Download client uploads</h4>
      <p>
        After you got those backup, download them manully to your local machine. 
        And copy them to the <code>storage/backups</code> folder in your local machine.
      </p>

    <h3>1.4 Sync local with production</h4>
      <p>
        Run the following command on your local:
        <code>make local-maintenance</code>
        This command will including tasks, check <b>Makefile</b> for more details. 
        <ul>
          <li>Check to the project node version, it will prompt a message ask you to switch</li>
          <li>Pull checkout to master, pull latest changes</li>
          <li>Extract the uploads we download from server which you already moved to your ./storage/backups folder</li>
          <li>Start ddev</li>
          <li>Run composer install, to make your composer dependencies up to date</li>
          <li>Restore the database we download from server (move the downloads in first step to your local project root folder)</li>
          <li>Clear the logs in your local first before we start maintenenace</li>
          <li>Create and switch to maintenance branch named maintenance/$(DATE) e.g. maintenance/01-2022</li>
          <li>Clear the craft caches</li>
          <li>Clear the yump caches (like menu cache, news cache, etc.)</li>
        </ul>
      </p>

  <h2>2. Do maintenance on localhost</h2>
    <h3>2.1 Update Craft CMS & Plugins</h3>
      <p>Usually, we can click the "Update All" button, which will trigger Craft to update everything in Composer in one go. (you may want to temporarily increase the memory limit as well as the max_execution_time)</p>
      <p>If Craft / plugins have major updates (highlighted in the update list in red color), we may need to do it in multiple steps. Read the highlighted information carefully as it usually has important notes to help you with the update. Make sure you follow the instructions.</p>
      <p>Previously we had issue running it in one go and something doesn't work. However, it seems to be mostly related to the Sprout Forms? We don't use it anymore, so we can still try "Update All" in my opinion. Craft will force you to do multistep anyway because often you are required to be at certain version before you can update to the major one.</p>
      <p>If things don't work well after a full update (hope it doesn't happen), you can revert the local files via Git by reverting the commits, as well as replacing the database to the previous one. Then, we can try updating Craft first, and then plugins one by one and see which one is causing the issue, unless you are already clear on that.</p>

  <h2>3. Deploy to staging</h2>
    <h3>3.1 Local prepare to push to staging</h3>
      <p>Local prepare the changes push to staging</p>
      <p>Run the following command on your local:</p>
      <code>make local-prepare-staging-deploy</code>
      <p>This command will including tasks, check <b>Makefile</b> for more details. </p>
      <ul>
        <li>Check if there are any error logs in <b>./storage/logs</b>, if there are propmpt a message and stop the process</li>
        <li>Run npm run build to generate a fresh css build</li>
        <li>Add everything to git and commit</li>
        <li>Push the changes to the maintenance branch with automatic commit message "maintenance"</li>
      </ul>
    <h3>3.2 Push to staging</h3>
      <p>Merge the <b>maintenance/YYYY-MM</b> to staging branch, and using deploybot or other deployment tool to deploy on staging server</p>

  <h2>4. Test on staging</h2>
    <h3>4.1 Testing CMS functionality</h3>
      <h4>All backend sections display correctly</h4>
      <h4>Test assets upload functionality</h4>
      <h4>Test entry saving functionality</h4>
    <h3>4.2 Test content blocks</h3>
      <p>
        Test all content blocks, check their visually are rendered correctly.
      </p>
      {% for entry in craft.entries.section("helpDocs").all() %}
        {% if entry.parent is not null and entry.parent.id == 1587 %}
        <h4><a href="{{ entry.url }}" target="_blank">Link</a> | {{ entry.title }}</h4>
          
        {% endif %}
      {% endfor %}

    <h3>4.3 Test templates</h3>
      <p>
        Test all templates, check their visually are rendered correctly.
      </p>

      <h4><a href="{{ siteUrl }}" target="_blank">Link</a> | Homepage</h4>
        
        {# Below twig renderds all entries in the pages sections one per type #}
        {% set sectionHandle = "pages" %}
        {% set section = null %}
        {% if CRAFT_VERSION == "5" %}
          {% set section = craft.app.entries.getSectionByHandle(sectionHandle) %}
        {% else %}
          {% set section = craft.app.sections.getSectionByHandle(sectionHandle) %}
        {% endif %}

        {% set entryTypes = null %}
        {% if CRAFT_VERSION == "5" %}
          {% set entryTypes = craft.app.entries.getEntryTypesBySectionId(section.id) %}
        {% else %}
          {% set entryTypes = craft.app.sections.getEntryTypesBySectionId(section.id) %}
        {% endif %}

        {% for entryType in entryTypes %}
          {% set firstActiveEntry = craft.entries()
            .section(sectionHandle)
            .type(entryType.handle)
            .status('live')
            .orderBy('postDate ASC')
            .one() %}

          {% if firstActiveEntry %}
              <h4><a href="{{ firstActiveEntry.url }}">Link</a> | {{ entryType.name }}</h4>
          {% endif %}
        {% endfor %}
      <h4><a href="/404/" target="_blank">Link</a> | 404 pages</h4>
      <h4><a href="/search/" target="_blank">Link</a> | Search</h4>

    <h3>4.4 Check staging errors</h3>
      <h4>Craft Log</h4>
        <p>
          Check the Craft CMS log file for any errors. The log file is located at:
          <code>storage/logs</code>
          You can our custom make command to check the log files by running:
          <code>make check-log-file</code>
        </p>
      <h4>PHP error log</h4>
        <p>
          In cPanel, go to "public_html" folder, you will sometimes see PHP_error.log file.
        </p>
        <p>
          If you see it, check the last edit date. If that file didn't updated since last maintenance.
          You don't have to take action on it. Otherwise, please check and fix.
        </p>
      <h4>Access Log (optional) [cPanel]</h4>
        <p>
          If you have time, you can check the access log for 500 errors. The access log is located at: 
          <code>/home/[username]/access-logs</code>
          Make sure you select "-ssl", so its containning the logs over <b>https://</b> traffic. <br>
          You can use terminal and search by command: 
          <code>grep -H " 500 " [access-log-file]</code>
          Make sure you keep the "space" before and after the 500, so it will only return 500 errors.
        </p>
    <h3>4.5 Fix or report errors</h3>
      <p>
        If you found any errors, fix them or quote the errors report them to the team.
      </p>

  <h2>5. Deploy to production</h2>
    <h3>5.1 Push to production</h3>
      <p>Merge the <b>maintenance/YYYY-MM</b> to production branch (delete the maintenance branch), and using deploybot or other deployment tool to deploy on production server.</p>
      <p>Using deploybot or other deployment tool to deploy on production server</p>
    <h3>5.2 Install composer</h3>
      <p>Run the following command on production:</p>
      <code>make prod-composer-install</code>
      <p>This command will create a backup of vendor at the sametime.</p>

  <h2>6. Test on production</h2>
    <p>Do on last general test on production before we handover the maintenance</p>
    <p>You can click through the pages, do some quick testing and at last check the logs.</p>
    <p>To check the logs. Navigate to production <b>project root folder</b></p>
    <code>make check-log-file</code>

  <h2>7. Misc</h2>
    <h3>SEO functionality</h3>
      <p>Test client SEO functionality, make sure the following are working:</p>
      <h4>SEO scripts are rendered</h4>
        <p>
          Using homepage as an example, open the homepage in a browser, right click the
          window and click "View Page Source", search for "GTM" or "Google Tag Manager"
          to see if the SEO scripts are rendered.
        </p>
      <h4>Facebook Open Graph</h4>
        <p>
          Use Facebook Open Graph tool to evaluate several templates and see if any
          critical issues (on live site)
        </p>
      <h4>Google Analytics Data</h4>
        <p>
          If have access to GA, make sure page views are still tracked in GA correctly
        </p>
    <h3>Database backup & backups</h3>
      <p>
        Ensure there are at least one type of backup are running.
        Its either Craft CMS default backup using a cronjob. 
        Or the acronis backup is running correctly.
        If you are using the Craft CMS default backup, make sure set the 
        <a href="https://craftcms.com/docs/5.x/reference/config/general.html#maxbackups" target="_blank">maxBackups</a> to <b>20</b> in the config file.
      </p>
    <h3>Check Search console</h3>
      <p>
        Check Google Search Console and see if there are any issues with the site.
      </p>
    <h3>cPanel Resource Usage</h3>
      <pre>
Check:
- Mysql usage
- File usage
- Disk usage

And if any of them are close to the limit, take action to reduce the usage.
- Check the Craft db backup folder, if contain too many backup files, delete 
  some of them.
- Check unecessary large zip file like uploads.zip or vendor.zip are in 
  project, if found delete it.
      </pre>
    <h3>Check sitemap</h3>
      <p>
        Check if sitemap.xml is still working correctly and Google is indexing it
      </p>
      <p>
        In SEOmatic plugin, sitemap could be ran by a cronjob globally instead of triggering it on every entry save. <br>
        See `php craft seomatic/sitemap/generate` command in the plugin documentation. <br>
        If that's in place, make sure the cronjob is running correctly. <br>
      </p>
    <h3>Postmark</h3>
      <p>
        Check Postmark and see if emails have been sending through correctly. Also see
        if the Postmark "bounce" and "Spam complaints" notifications have been
        successfully set up to connect with our Slack's Postmark channel
      </p>
    <h3>Client user permissions</h3>
      <p>
        Double check the user permissions for Site Admins and other user groups are
        set correctly. We often found Site Admins permissions are not correctly set
        from Day 1.
      </p>
    <h3>Custom API</h3>
      <p>Check if client have any API intergration, and see if that's all good.</p>

  <h2>8. Reports & Documentation</h2>
    <h3>Compile a report for the maintenance</h3>
    <pre>
- Update Craft & Plugins to the latest version
- Testing
  - (list all the items marked as 'Output As Report')
- Review Errors
  - (list all the items marked as 'Output As Report')
- Misc
  - (list all the items marked as 'Output As Report')
- Extra (maybe)
- Issues
  - list all the issues found during the maintenance, 
  marked them as either fixed or write down the numbers estimate to fix them
    </pre>
    <h3>Improve the project specific maintenance template [Optional]</h3>
    <h3>Improve the CMS manual [Optional]</h3>
    <h3>Update project specific dev notes [Optional]</h3>
{% endblock %}
