{% extends "_layouts/default" %}

{% do seomatic.meta.seoTitle("Search Results") %}

{% set query = craft.app.request.getParam('q') | trim %}

{% block bodyClass %}{{ parent() }} search-results-page{% endblock %}

{% block breadcrumb %}
    <div class="">
        {% include '_elements/search-bar' ignore missing with {wrapperClass: 'search-bar--crumbs', searchQuery: query} %}
    </div>
    {% set custom_crumbs = {
        0:{text:'Home',url:'/'},
        1:{text:'Search results for: "'~query~'"'}
    } %}

    {% include '_elements/breadcrumbs' with {
        custom: custom_crumbs
    } %}
{% endblock %}

{# search page has its own search block built in so don't put it in the header as well #}
{% block search %}{% endblock %}

{% block content %}

    <script>
    {% set urlparams = {
        'q': craft.app.request.getParam('q') ?? '',
        'pages': craft.app.request.getParam('pages') ?? true,
        'news': craft.app.request.getParam('news') ?? true,
        'documents': craft.app.request.getParam('documents') ?? true,
        'stories': craft.app.request.getParam('stories') ?? true,
        'reports': craft.app.request.getParam('reports') ?? true,
        'factSheets': craft.app.request.getParam('factSheets') ?? true,
        'showing': craft.app.request.getParam('showing') ?? null,
    } %}
    window.urlParameters = {{ urlparams | json_encode | raw}};
    // console.log(urlParameters);
    </script>

    <div id="main" class="search-results-page-content">
        <div id="site-search-results" v-cloak>
            <div class="container" aria-live="polite">
                <div class="row search-results-page-content-body">
                    <aside class="sidebar-refine-search col-xl-3 col-md-4">
                        <div class="sidebar-search-inner">
                            <h3 class="sidebar-heading">Refine your search</h3>
                            <div class="refine-search-controls">
                                <fieldset>
                                    <legend class="sr-only">Refine your search</legend>
                                    <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="pages"
                                                v-model="filters.pages"
                                               type="checkbox"
                                               value="pages"
                                               id="refine-search-pages">
                                        <label class="custom-control-label form-check-label"
                                               for="refine-search-pages">Pages</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="sections"
                                        v-model="filters.news"
                                               type="checkbox"
                                               value="news"
                                               id="refine-search-news">
                                        <label class="custom-control-label form-check-label" for="refine-search-news">News
                                            &
                                            Articles</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="reports"
                                        v-model="filters.reports"
                                               type="checkbox"
                                               value="reports"
                                               id="refine-search-reports">
                                        <label class="custom-control-label form-check-label"
                                               for="refine-search-reports">Reports</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="stories"
                                        v-model="filters.stories"
                                               type="checkbox"
                                               value="stories"
                                               id="refine-search-stories">
                                        <label class="custom-control-label form-check-label" for="refine-search-stories">Stories</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="factSheets"
                                        v-model="filters.factSheets"
                                               type="checkbox"
                                               value="factSheets"
                                               id="refine-search-factSheets">
                                        <label class="custom-control-label form-check-label" for="refine-search-factSheets">Fact sheets</label>
                                    </div>
                                    {# <div class="custom-control custom-checkbox form-check">
                                        <input class="custom-control-input form-check-input" name="documents"
                                        v-model="filters.documents"
                                               type="checkbox"
                                               value="documents"
                                               id="refine-search-documents">
                                        <label class="custom-control-label form-check-label"
                                               for="refine-search-documents">Documents</label>
                                    </div> #}
                                </fieldset>
                            </div>
                        </div>
                    </aside>
                    <section class="search-results col-xl-8 offset-xl-1 col-md-8">
                        <h1>Search results</h1>

                        <section class="loading" v-if="initialising">
                            <div class="spinner-wrapper">
                                {% include '_elements/spinner' %}
                            </div>

                            <h3 class="loading-text">Loading...</h3>
                        </section>

                        <template v-else>
                            <template v-if="!initErrored">
                                <div class="search-results-pane" v-if="allResults">
                                    <div class="search-results-body" v-if="filteredResults.length"
                                    >
                                        <div class="search-results-count">Found a total of <strong>{* filteredResults.length *}</strong> results for "<strong>{{ craft.app.request.getParam('q') }}</strong>"</div>

                                        <ul class="search-results-list bare-list">
                                            <li class="search-results-item"
                                                v-for="item in cappedSortedFilteredResults"
                                            >
                                                <h4 class="search-result-entry-title">
                                                    <a v-bind:href="item.url" v-html="item.highlightedTitle ? item.highlightedTitle : item.title">
                                                    </a>
                                                </h4>

                                                {% include '_elements/search-results-breadcrumbs-vue' %}

                                                <div class="excerpt small-text" v-html="item.highlightedSummary ? item.highlightedSummary : item.summary">
                                                </div>
                                                {# <div>
                                                <a v-bind:href="item.url">
                                                    Visit <span v-text="item.title"></span>
                                                </a>
                                                </div> #}
                                            </li>
                                        </ul>

                                        <button type="button" class="vue-load-more btn btn-primary" v-on:click="loadMore()" v-if="showLoadMore">Load more</button>
                                    </div>

                                    <div class="search-results-no-item"
                                        v-else
                                    >No results matching your search criteria.</div>
                                </div>
                            </template>

                            <div class="search-results-error" v-else>
                                <section
                                    class="message-section"
                                    v-if="message.error"
                                    role="alert"
                                >
                                    <p class="message error">{* message.error *}</p>
                                </section>
                            </div>
                        </template>

                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJsFooter %}
    {{ parent() }}
    {% if craft.app.config.general.devMode %}
        {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
    {% else %}
        {% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
    {% endif %}
    {% do view.registerJsFile("/assets/js/axios.js") %}
    {% do view.registerJsFile("/dist/scripts/site-search.js?v3") %}
{% endblock %}
