{% extends "_layouts/post" %}

{% block bodyClass %}{{ parent() }} post--thank-you-page{% endblock %}

{% block banner %}
	<section class="rich-media banner banner--simple">
		<div class="banner__row">
			<div class="banner__text-content">
				{% set name = craft.app.getRequest().getParam('name') %}
				<h1 class="rich-media__text-content-heading">Thank you{{ (name ? (", " ~ name) : "") }}!</h1>
				{% if entry.summary %}
				<div class="rich-media__text-content-summary">{{ entry.summary }}</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}