{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
{% block sourceCredit %}
	{% include '_layouts/bootstrap/source-credit' %}
{% endblock %}

<html
	{% block htmlLang %}lang="en"{% endblock %}
	{% block htmlAttribs %}{% endblock %}
>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="home" href="{{ siteUrl }}" />
	{# Becuase otherwise our scrollTo hash doesn't work in Chrome - will auto scroll to top #}
	<script>history.scrollRestoration = "manual"</script>
 	{% include '_layouts/bootstrap/favicons' %}

    {% block css %}
    	{% include '_layouts/bootstrap/css-libraries' %}
    {% endblock %}

    {% block customCss %}
		{% include '_layouts/bootstrap/custom-css' %}
	{% endblock %}

	{# Fundamental JS libraries we use, e.g. jQuery, Bootstrap. #}
	{% block fundamentalJsLibraries %}
        {% include '_layouts/bootstrap/fundamental-js-libraries' %}
	{% endblock %}

	{% block customJsHead %}
        {% include '_layouts/bootstrap/custom-js-head' %}
	{% endblock %}

	{% if externalScripts['webChat'] is defined and externalScripts['webChat'] == true %}
	<!--[if gte mso 9]><xml>
		<mso:CustomDocumentProperties>
			<mso:MediaServiceImageTags msdt:dt="string"></mso:MediaServiceImageTags>
			<mso:lcf76f155ced4ddcb4097134ff3c332f msdt:dt="string"></mso:lcf76f155ced4ddcb4097134ff3c332f>
			<mso:TaxCatchAll msdt:dt="string"></mso:TaxCatchAll>
		</mso:CustomDocumentProperties>
	</xml><![endif]-->
	{% endif %}

    {#

    Outputs all of the HTML nodes that have been queued up by the includeCssFile, includeCss, and includeHiResCss tags. IMPORTANT: Please use these functions inside your template / _elements, instead of stacking all the css files here. If duplicate files are included, Craft is smart enough to print out just one

    Updates: we later found out this will actually work only if the includeCss / includeCssFile functions are called BEFORE this line. Anything called after this will be inserted to its default location, which is right before </head>. So basically, this line is kinda useless.

    #}
    {{ head() }}
</head>

<body class="{% block bodyClass %}{% endblock %} {% if entry is defined and entry %}template--{{ entry.getSection().handle }}-{{ entry.type.handle }}{% endif %}">
	{{ beginBody() }}

	{% block scriptAtBodyBeginning %}{% endblock %}

	{# For screen-readers only: provide a link to skip to #main #}
	<a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>

	{% block header %}{% endblock %}

	{% block body %}
		{# This block should always get overridden in child templates #}
		<p>If you see me, you haven’t set your <code>{% verbatim %}{% block body %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
	{% endblock %}

	{% block footer %}{% endblock %}

	{# Since we put the fundamentalJsLibraries here instead of <head>, always remember to use includeJsFile or includeJs to put a js file / snippet in templates, otherwise, it might not be able to use the libraries defined in fundamentalJsLibraries, like jQuery / Bootstrap. For more instructions, see dev notes #}

	{# Outputs all of the HTML nodes that have been queued up by the includeJsFile and includeJs tags. If we did not place endBody() here, it would be placed right before your </body> tag.  IMPORTANT: Please use these functions inside your template / _elements, instead of stacking all the CSS files here. If a file is included multiple times, Craft is smart enough to remove duplicates #}
	{# {{ endBody() }} #}

	{# IE 9 and below does not support <input placeholder="..."> so we include the following polyfill script as standard #}
	<!--[if lte IE 9]><script src="/yump/js/jquery.placeholder.js"></script><![endif]-->

	{% block customJsFooter %}
		{% include '_layouts/bootstrap/custom-js-body' %}
	{% endblock %}

	{% if externalScripts['webChat'] is defined and externalScripts['webChat'] == true %}
		{% include "_layouts/bootstrap/web-chat" %}
	{% endif %}

	{% if externalScripts['externalScripts'] is defined and externalScripts.externalScripts %}
		{% for block in externalScripts.externalScripts.type('customJavascript').all() | filter( block => block.scriptPlacement.value == 'footer') %}
			{% if block.describeThePurposeOfThisScript|trim %}
			<!-- {{ block.describeThePurposeOfThisScript|trim }} -->
			{% endif %}
			{{ block.customJavascript|trim|raw }}
		{% endfor %}
	{% endif %}

	{% block visor %}
		<script src="{{ url('/assets/visor/visor.js') }}"></script>
	{% endblock %}

	{% if craft.app.request.getParam('nukebugherd') %}
		<style>
			#_BH_frame {
				display: none !important;
			}
		</style>
	{% endif %}
	
	{{ endBody() }}
</body>
</html>
