<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Display a notice to IE 8 and below, recommending they install Chrome -->
<!--[if lte IE 8]>
<script src="//cdn.jsdelivr.net/cookies.js/0.4.0/cookies.min.js"></script>
<script src="//yumpdigital.github.io/Upgrade-IE-Already/ie-upgrade-prompt.js"></script>
<![endif]-->
{# <script src="/scripts/above-the-fold.js"></script> #}
<script src="https://kit.fontawesome.com/406bc90dbc.js"></script>