<script src="https://apps.mypurecloud.com.au/widgets/9.0/cxbus.min.js"
        onLoad="javascript:CXBus.configure({debug:true,pluginsPath:'https://apps.mypurecloud.com.au/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core');"></script>
<script src="/assets/js/web-chat.js?v=20221017"></script>
{#<button type="button" id="chat-button" onclick="customPlugin.command('WebChat.open', getAdvancedConfig());">Start Chat</button>#}
