<div class="print-fixed-footer" aria-hidden="true" tabindex="-1">
	<div class="print-fixed-footer__box">
		<h2 class="print-fixed-footer__header">{{ generalSettings.heading|default('Need help?') }}</h2>
		<div class="print-fixed-footer__row print-fixed-footer__row--1">
			<div class="print-fixed-footer__column">
				<h3 class="print-fixed-footer__label">{{ generalSettings.phoneNumber }} (Freecall)</h3>
				<p class="print-fixed-footer__summary">Monday to Friday between 8:30 am and 5:00 pm</p>
			</div>
			<div class="print-fixed-footer__column">
				<h3 class="print-fixed-footer__label">Post</h3>
				<p class="print-fixed-footer__summary">GPO Box 469, Melbourne, Victoria 3001</p>
			</div>
		</div>
		<div  class="print-fixed-footer__row print-fixed-footer__row--2">
			<div class="print-fixed-footer__column">
				<h3 class="print-fixed-footer__label">Email & Web</h3>
				<p class="print-fixed-footer__summary">Email us at ewovinfo@ewov.com.au <br>or visit ewov.com.au</p>
			</div>
			<div class="print-fixed-footer__column">
				<h3 class="print-fixed-footer__label">Translating and Interpreting Service:</h3>
				<p class="print-fixed-footer__summary">131 450</p>
			</div>
		</div>
	</div>
	<img class="print-fixed-footer__logo" src="{{ url('/assets/img/png/logo-ewov.png') }}" alt="ewov site logo"/>
</div>
