<div class="print-fixed-header" aria-hidden="true" tabindex="-1">
	<img class="print-fixed-header__logo" src="{{ url('/assets/img/png/logo-ewov.png') }}" alt="ewov site logo"/>
	<div class="print-fixed-header__phone">
		<img class="print-fixed-header__phone-icon" src="{{ url('/assets/img/png/ic-phone.png') }}" alt="phone icon"/>
		<span class="print-fixed-header__phone-number">{{ generalSettings.phoneNumber }}</span>
	</div>
</div>
