{#
    this page is designed to be both printed and display on website.
#}
{% extends "_layouts/default" %}
{% block css %}{{ parent() }}
    <style>
        @page {
            margin:0!important; size: 1440px 2051px!important;
        }
        @media print {
            .share-this, .banner, header, footer, .cx-widget, iframe, #_BH_frame, .sidebarApplication, .bugherd_open_button, .Visor__toggle {
                display: none!important;
            }
        }
        {# firefox only css #}
        @-moz-document url-prefix() {
            @page { margin: 40px 0!important; }
        }
    </style>
{% endblock %}

{% block bodyClass %}{{ parent() }} fact-sheet{% endblock %}

{# ic-share.svg #}
{# ic-download.svg #}
{# ic-print.svg #}
{% block beforeBanner %}
    {% set parentPage = entry.parentPage.one() %}
    {% if parentPage != null %}
        <section class="fact-sheet__breadcrumbs">
            <div class="container">
                {% set crumbs = craft.yump.getBreadcrumb(entry.parentPage.one(), false, true) %}
                {% set crumbs = crumbs | push (
                    {
                        "text": parentPage.title,
                        'url': parentPage.url,
                        'isParen': true
                    }
                ) %}
                {% set crumbs = crumbs | push (
                    {
                        "text": entry.title,
                        'isParen': false
                    }
                ) %}
                {% include '_elements/breadcrumbs' with { crumbs: crumbs } %}
                {% set parent =
                    {
                        "text": parentPage.title,
                        'url' : parentPage.url,
                        'isParen': true
                    }
                %}
                {% include '_elements/back-to-parent' with { parent: parent } %}
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block banner %}
    <section class="banner banner--fact-sheet">
        <div class="banner__container">
            <div class="banner__row banner__row--fact-sheet">
                <div class="banner__column banner__column--text banner__column--fact-sheet-text">
                    <h1 class="banner__text">{{ entry.title }}</h1>
                </div>
                <div class="banner__column banner__column--text banner__column--fact-sheet-download-text">
                    <div class="banner__fact-sheet-ctas">
                        <a href="{{ url("/actions/factsheets/pdf/download?id=" ~ entry.id) }}" target="_blank" class="btn btn--has-icon banner__fact-sheet-main-cta">
                            {{ svg('@webroot/assets/img/svg/ic-download.svg')|attr({
                                class: 'banner__fact-sheet-main-cta-icon btn__prepend'
                            }) }}
                            <span class="banner__fact-sheet-main-cta-text">Download fact sheet</span>
                            <span class="banner__fact-sheet-file-content-head" id="pdf-size-contain">
                                <span class="banner__fact-sheet-file-type"><span class="banner__fact-sheet-file-type-text">PDF</span></span>
                                <span class="banner__fact-sheet-file-size" id="pdf-size"></span>
                            </span>
                        </a>
                        <button class="banner__print-button btn btn--has-icon" onclick="printFactSheet()">
                            {{ svg('@webroot/assets/img/svg/ic-print.svg') |attr({
                                class: 'banner__print-icon btn__prepend'
                            }) }}
                            <span class="banner__print-text">Print</span>
                        </button>
                        {% include "_elements/share-this" with { dropdown: true } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% set mainContent = null %}
    {% set secondaryContent = null %}

    {% if entry is defined and entry and entry['body'] is defined and entry.body %}
        {% for childBlock in entry.body.level(1).all() %}
            {% if childBlock.type == 'mainContent' %}
                {% set mainContent = childBlock %}
            {% elseif childBlock.type == 'secondaryContent' %}
                {% set secondaryContent = childBlock %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <main id="main">
        <div class="fact-sheet__head">
            {% include "fact-sheets/__fixed-header" %}
        </div>
        <table class="fact-sheet__table">
            {% block beforeMainContent %}
                <thead class="fact-sheet__thead"><tr><td><div class="fact-sheet__thead-space"></div></td></tr></thead>
            {% endblock %}
                <tbody class="fact-sheet__table--body">
                    <tr class="fact-sheet__table--row">
                        <td class="fact-sheet__table--cell">
                            <div class="body-boxed{{ mainContent ? '' : ' no-boxed-section' }}">
                                <div class="body-boxed__container container">
                                    <div class="body-boxed__row">
                                        {% block boxed %}
                                            {% if mainContent %}
                                                {% block beforeBoxed %}{% endblock %}
                                                {% block sidebar %}{% endblock %}
                                                <article class="neo-main-content">
                                                    <div class="neo-main-content__content">
                                                        <div class="fact-sheet__document-heading matrix-block">
                                                            <p class="fact-sheet__document-heading__update">Last updated: {{ entry.dateUpdated | date("d M Y")  }}</p>
                                                            <h1 class="fact-sheet__document-heading__heading">{{ entry.title }}</h1>
                                                        </div>
                                                        {% if entry.summary | length != 0 %}
                                                            <div class="fact-sheet__document-heading-summary matrix-block">{{ entry.summary | raw }}</div>
                                                        {% endif %}
                                                        {% block pageHeadingInsideBoxSection %}{% endblock %}
                                                        {% include "_content-blocks/partials/neo_child_block" with {blockSet: mainContent.children, scope: ['mainContent']} %}
                                                        {% block afterBoxedArticle %}
                                                            {% if entry.showShareWidget %}
                                                                {% include "_elements/share-this" %}
                                                            {% endif %}
                                                        {% endblock %}
                                                    </div>
                                                </article>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="fact-sheet__table--row">
                        <td class="fact-sheet__table--cell">
                            <div class="body-full-width neo-secondary-content">
                                {% block beforeFullWidthBody %}{% endblock %}
                                {% block fullWidthBody %}
                                    {% if secondaryContent %}
                                        {% include "_content-blocks/partials/neo_child_block" with {blockSet: secondaryContent.children, scope: ['secondaryContent']} %}
                                    {% endif %}
                                {% endblock %}
                                {% block fullWidthBodyBottom %}{% endblock %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            {% block afterContent %}
                <tfoot class="fact-sheet__tfoot"><tr><td><div class="fact-sheet__tfoot-space"></div></td></tr></tfoot>
            {% endblock %}
        </table>
        <div class="fact-sheet__footer">
            {% include "fact-sheets/__fixed-footer" %}
        </div>
    </main>
    <script>
        {% js at endBody %}
            //get factsheet pdf size
            $.get("{{ url("/actions/factsheets/pdf/get-size?id=" ~ entry.id) }}")
            .then(response=>{$('#pdf-size').html('| ' + response + ' MB');})
            .catch(function (e){ console.error(e);});


            const userAgent = window.navigator.userAgent;
            const isIOS = !!userAgent.match(/iPad/i) || !!userAgent.match(/iPhone/i);
            const isWebkit = !!userAgent.match(/WebKit/i);
            const isIOSSafari = isIOS && isWebkit && !userAgent.match(/CriOS/i);
            const isFirefox = userAgent.toLowerCase().indexOf('firefox') > -1;
            const isSafari = /^((?!chrome|android).)*safari/i.test(window.navigator.userAgent);

            function printFactSheet(){
                //https://developer.mozilla.org/en-US/docs/Web/API/Navigator/pdfViewerEnabled

                if(isIOSSafari) {
                    document.location.href = "{{ url("/actions/factsheets/pdf/download?id=" ~ entry.id) }}";
                }else if(window.navigator.pdfViewerEnabled === true){
                // if(isIOS || isFirefox || isSafari || isIOSSafari){
                //     console.log("Is safari");
                    const previousIframe = document.getElementById('hiddenIframe');
                    if(previousIframe) previousIframe.remove();
                    var hiddenFrame = document.createElement('iframe');
                    hiddenFrame.setAttribute('id', "hiddenIframe");
                    // "visibility: hidden" would trigger safety rules in some browsers like safari，
                    // in which the iframe display in a pretty small size instead of hidden.
                    // here is some little hack ~
                    hiddenFrame.style.position = 'fixed';
                    hiddenFrame.style.width = '1px';
                    hiddenFrame.style.height = '1px';
                    hiddenFrame.style.opacity = '0.01';
                    hiddenFrame.src = '{{ url("/actions/factsheets/pdf/stream?id=" ~ entry.id) }}';
                    document.body.appendChild(hiddenFrame);
                    if (isSafari) {
                      // fallback in safari
                      hiddenFrame.onload = () => {
                        try {
                          hiddenFrame.contentWindow.document.execCommand('print', false, null);
                        } catch (e) {
                          hiddenFrame.contentWindow?.print();
                        }
                      };
                    }else {
                        hiddenFrame.onload = () => {
                            hiddenFrame.contentWindow?.print();
                        }
                    }
                } else {
                    // window.print();
                    document.location.href = "{{ url("/actions/factsheets/pdf/download?id=" ~ entry.id) }}";
                }
            }
        {% endjs %}
    </script>
{% endblock %}

