{% extends "_layouts/pdf" %}
{% block bodyClass %}{{ parent() }} pdf{% endblock %}
{% block extraCss %}
	<style>
        @page {
	        margin: 200px 0 370px 0;
	        size: A4;
        }
        body {
            margin: 200px 0 370px 0;
        }
        html { margin: 0!important; }
        .banner, header, footer, .cx-widget, #_BH_frame, .sidebarApplication, #bugherdOpenButton, .bugherd_open_button,.Visor__toggle {
            display: none!important;
        }
	</style>
{% endblock %}
{% block body %}
	<main class="pdf__body">
		<div class="matrix-block pdf__document-heading">
			<p class="pdf__document-heading__update">Last updated: {{ entry.dateUpdated | date("d M Y")  }}</p>
			<h1 class="pdf__document-heading__heading">{{ entry.title }}</h1>
			{% if entry.summary | length != 0 %}
				<div class="pdf__document-heading__summary">{{ entry.summary | raw }}</div>
			{% endif %}
		</div>
		{% set mainContent = null %}
		{% set secondaryContent = null %}
		{% if entry is defined and entry and entry['body'] is defined and entry.body %}
			{% for childBlock in entry.body.level(1).all() %}
				{% if childBlock.type == 'mainContent' %}
					{% set mainContent = childBlock %}
				{% elseif childBlock.type == 'secondaryContent' %}
					{% set secondaryContent = childBlock %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% block fullWidthBody %}
			{% if mainContent %}
				{% include "_content-blocks/partials/neo_child_block" with {blockSet: mainContent.children, scope: ['mainContent']} %}
			{% endif %}
			{% if secondaryContent %}
				{% include "_content-blocks/partials/neo_child_block" with {blockSet: secondaryContent.children, scope: ['secondaryContent']} %}
			{% endif %}
		{% endblock %}
	</main>
{% endblock %}
