{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EWOV module for Craft CMS
 *
 * EWOVModuleField Field Settings
 *
 * @author    Yump
 * @copyright Copyright (c) 2020 Yump
 * @link      https://yump.com.au
 * @package   EWOVModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("modules\\ewovmodule\\assetbundles\\ewovmodule\\EWOVModuleAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
