@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-300.ttf') format('truetype'),
  url('/assets/fonts/Museo-300.woff2') format('woff2'),
  url('/assets/fonts/Museo-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-500.ttf') format('truetype'),
  url('/assets/fonts/Museo-500.woff2') format('woff2'),
  url('/assets/fonts/Museo-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-700.ttf') format('truetype'),
  url('/assets/fonts/Museo-700.woff2') format('woff2'),
  url('/assets/fonts/Museo-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-900.ttf') format('truetype'),
  url('/assets/fonts/Museo-900.woff2') format('woff2'),
  url('/assets/fonts/Museo-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-100.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-100.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-100Italic.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-100Italic.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-100Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-300.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-300.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-300Italic.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-300Italic.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-500.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-500.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-500Italic.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-500Italic.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-500Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-700.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-700.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-700Italic.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-700Italic.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-700Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-900.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-900.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/assets/fonts/MuseoSans-900Italic.ttf') format('truetype'),
  url('/assets/fonts/MuseoSans-900Italic.woff2') format('woff2'),
  url('/assets/fonts/MuseoSans-900Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
