{% css formCss %}
{{ form.renderTag() }}
<script>
    var form = document.querySelector('[data-id="{{ form.anchor }}"]');
    if (form) {
        form.addEventListener("freeform-ready", function (event) {
            var freeform = event.target.freeform;

            freeform.setOption("errorClassBanner", ["alert", "alert-danger", "errors"]);
            freeform.setOption("errorClassList", ["help-block", "errors", "invalid-feedback"]);
            freeform.setOption("errorClassField", ["is-invalid", "has-error"]);
            freeform.setOption("successClassBanner", ["alert", "alert-success", "form-success"]);
        })

        form.addEventListener("freeform-stripe-styling", function (event) {
            event.detail.base = {
                fontSize: "16px",
                fontFamily: "-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\",\"Noto Color Emoji\"",
            }
        })
    }
</script>

{# {% if form.pages|length > 1 %}
    <ul class="nav nav-tabs">
        {% for page in form.pages %}
            <li class="nav-item">
                <span class="nav-link{{ form.currentPage.index == page.index ? ' font-weight-bold active' : ' disabled' }}">{{ page.label }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %} #}

{% if form.hasErrors %}
    <div class="alert alert-danger">
        {{ "Error! Please review the form and try submitting again."|t('freeform') }}

        {% if form.errors|length %}
            <ul class="mb-0">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
<div class="vue">
    {% for row in form %}
        <div class="row {{ form.customAttributes.rowClass }}">
            {% for field in row %}
                {% set width = (12 / (row|length)) %}

                {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}

                {% set columnClass = "form-group" %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
                {% set columnClass = columnClass ~ " col-sm-" ~ width ~ " col-12" %}

                {% set class = "form-control" ~ (field.hasErrors ? " is-invalid") %}
                {% if field.type == "file" %}
                    {% set class = "form-control-file" ~ (field.hasErrors ? " is-invalid") %}
                {% elseif field.type == "signature" %}
                    {% set class = "btn btn-light" %}
                {% elseif field.type == "table" %}
                    {% set class = "table" %}
                {% elseif isCheckbox %}
                    {% set class = "checkbox" %}
                {% endif %}

                {% set labelClass = (field.required ? " required" : "") %}

                {% if field.type == "confirmation" %}
                    {% if field.errors is not empty %}
                        {% set labelClass = labelClass ~ ' label-invalid' %}
                    {% endif %}
                {% endif %}

                {% set errorClass = "invalid-feedback" %}
                {% set instructionClass = "form-text text-muted" %}

                {% if field.type == "submit" %}
                    {% set columnClass = columnClass ~ " submit-align-" ~ field.position %}
                {% endif %}

                <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
                    {% if field.type == "checkbox_group" %}

                        {# {{ field.renderLabel({
                            labelClass: labelClass,
                            instructionsClass: instructionClass,
                            errorClass: errorClass,
                        }) }} #}
                        <fieldset>
                        <legend class="{{labelClass ~ ' ' ~ errorClass}}">{{ field.label }}</legend>
                        {% if field.instructions %}
                            <span class="instructions">{{ field.instructions }}</span>
                        {% endif %}
                        {{ field.renderErrors({ errorClass: errorClass }) }}
                        {{ field.oneLine ? "<div>"|raw }}

                        {% for index, option in field.options %}
                            <div class="form-check{{ field.oneLine ? " form-check-inline" }}">
                                <input type="checkbox"
                                       name="{{ field.handle }}[]"
                                       value="{{ option.value }}"
                                       id="{{ field.idAttribute }}-{{ index }}"
                                       class="form-check-input{{ field.hasErrors ? " is-invalid" }}"
                                        {{ option.checked ? "checked" : "" }}
                                />

                                <label class="form-check-label" for="{{ field.idAttribute }}-{{ index }}">
                                    {{ option.label|t|raw }}
                                </label>
                            </div>
                        {% endfor %}

                        {{ field.oneLine ? "</div>"|raw }}
                        </fieldset>

                    {% elseif field.type == "radio_group" %}
                        <fieldset>
                        {# {{ field.renderLabel({
                            labelClass: labelClass,
                            instructionsClass: instructionClass,
                            errorClass: errorClass,
                        }) }} #}
                        <legend class="{{labelClass ~ ' ' ~ errorClass}}">{{ field.label }}</legend>
                        {{ field.renderInstructions() }}
                        {{ field.renderErrors() }}
                        {{ field.oneLine ? "<div>"|raw }}

                        {% for index, option in field.options %}
                            <div class="form-check{{ field.oneLine ? " form-check-inline" }}">
                                <input type="radio"
                                       name="{{ field.handle }}"
                                       value="{{ option.value }}"
                                       id="{{ field.idAttribute }}-{{ index }}"
                                       class="form-check-input{{ field.hasErrors ? " is-invalid" }}"
                                        {{ option.checked ? "checked" : "" }}
                                />
                                <label class="form-check-label" for="{{ field.idAttribute }}-{{ index }}">
                                    {{ option.label|t|raw }}
                                </label>
                            </div>
                        {% endfor %}

                        {{ field.oneLine ? "</div>"|raw }}
                        </fieldset>


                    {% elseif field.type == "dynamic_recipients" and (field.showAsRadio or field.showAsCheckboxes) %}

                        {{ field.renderLabel({
                            labelClass: labelClass,
                            instructionsClass: instructionClass,
                            errorClass: errorClass,
                        }) }}

                        {{ field.oneLine ? "<div>"|raw }}

                        {% for index, option in field.options %}
                            <div class="form-check{{ field.oneLine ? " form-check-inline" }}">
                                <input type="{{ field.showAsRadio ? "radio" : "checkbox" }}"
                                       name="{{ field.handle }}[]"
                                       value="{{ loop.index0 }}"
                                       class="form-check-input"
                                       id="{{ field.idAttribute }}-{{ index }}"
                                        {{ option.checked ? "checked" : "" }}
                                />

                                <label class="form-check-label" for="{{ field.idAttribute }}-{{ index }}">
                                    {{ option.label|t|raw }}
                                </label>
                            </div>
                        {% endfor %}

                        {{ field.oneLine ? "</div>"|raw }}

                        {{ field.renderInstructions() }}
                        {{ field.renderErrors() }}

                    {% elseif field.type in ["checkbox", "mailing_list"] %}

                        <div class="form-check">
                            {{ field.renderInput({ class: class ~ " form-check-input" ~ (field.hasErrors ? " is-invalid") }) }}
                            {{ field.renderLabel({ labelClass: "form-check-label" ~ (field.hasErrors ? " is-invalid") ~ (field.required ? " required") }) }}
                            {{ field.renderErrors({ errorClass: errorClass }) }}
                        </div>

                    {% elseif field.type == "submit" %}

                        {{ field.render({ class: "btn btn--square-small" }) }}

                    {% elseif field.type == "table" %}

                        {{ field.render({
                            class: class,
                            labelClass: labelClass,
                            instructionsClass: instructionClass,
                            instructionsBelowField: true,
                            errorClass: errorClass,
                            addButtonLabel: "Add +",
                            addButtonClass: "btn btn-sm btn-primary",
                            removeButtonLabel: "x",
                            removeButtonClass: "btn btn-sm btn-danger",
                            tableTextInputClass: "form-control",
                            tableSelectInputClass: "form-control",
                            tableCheckboxInputClass: "form-check-input"
                        }) }}

                    {% elseif field.type == "cc_details" %}

                        {# FOR FREEFORM PAYMENTS #}

                        {{ field.renderLabel({
                            labelClass: (field.required ? " required" : ""),
                            instructionsClass: "help-block",
                            errorClass: "help-block",
                        }) }}

                        {% for layoutRow in field.layoutRows %}
                            <div class="row {{ form.customAttributes.rowClass }}">
                                {% for layoutField in layoutRow %}
                                    {% set layoutWidth = (12 / (layoutRow|length)) %}
                                    {% set columnClass = columnClass|replace(' col-sm-' ~ width) %}
                                    {% set columnClass = columnClass ~ " col-sm-" ~ layoutWidth %}
                                    <div class="{{ columnClass }}">
                                        {{ layoutField.render({
                                            class: isCheckbox ? "checkbox" : "form-control",
                                            instructionsClass: "help-block",
                                            instructionsBelowField: true,
                                            labelClass: (layoutField.required ? " required" : ""),
                                            errorClass: "help-block",
                                        }) }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {{ field.renderInput({
                            instructionsClass: "help-block",
                            instructionsBelowField: true,
                            labelClass: (field.required ? " required" : ""),
                            errorClass: "help-block",
                        }) }}

                        {{ field.renderInstructions }}
                        {{ field.renderErrors }}

                    {% elseif field.type == "multiple_select" %}
                        <div class="filter">
                            {{ field.renderLabel({
                                labelClass: labelClass~' required',
                                instructionsClass: instructionClass,
                                errorClass: errorClass,
                            }) }}
                            {% set multiple_select_class = (field.hasErrors ? " is-invalid":'') %}
                            <selectize class="filter-input{{ multiple_select_class }}" name="{{ field.handle }}[]" id="program-type-filter"
                                       placeholder="Choose category" multiple>
                                {% for index, option in field.options %}
                                    {% if '--group' in option.label %}
                                    <optgroup label="{{ option.label|t|raw|replace('--group') }}">
                                    {% elseif '--endgroup' in option.label %}
                                        </optgroup>
                                    {% else %}
                                        <option value="{{ option.value }}">{{ option.label|t|raw }}</option>
                                    {% endif %}
                                {% endfor %}
                            </selectize>
                        </div>
                        {{ field.renderInstructions }}
                        {{ field.renderErrors }}
                    {% else %}
                        {{ field.render({
                            class: class,
                            labelClass: labelClass,
                            instructionsClass: instructionClass,
                            instructionsBelowField: true,
                            errorClass: errorClass,
                        }) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{{ form.renderClosingTag }}
<script>
    "use strict";
    (() => {
        const modified_inputs = new Set;
        const defaultValue = "defaultValue";
// store default values
        addEventListener("beforeinput", (evt) => {
            const target = evt.target;
            if (!(defaultValue in target || defaultValue in target.dataset)) {
                target.dataset[defaultValue] = ("" + (target.value || target.textContent)).trim();
            }
        });
// detect input modifications
        addEventListener("input", (evt) => {
            const target = evt.target;
            let original;
            if (defaultValue in target) {
                original = target[defaultValue];
            } else {
                original = target.dataset[defaultValue];
            }
            if (original !== ("" + (target.value || target.textContent)).trim()) {
                if (!modified_inputs.has(target)) {
                    modified_inputs.add(target);
                }
            } else if (modified_inputs.has(target)) {
                modified_inputs.delete(target);
            }
        });
// clear modified inputs upon form submission
        addEventListener("submit", () => {
            modified_inputs.clear();
            // to prevent the warning from happening, it is advisable
            // that you clear your form controls back to their default
            // state with form.reset() after submission
        });
// warn before closing if any inputs are modified
        addEventListener("beforeunload", (evt) => {
            if (modified_inputs.size) {
                const unsaved_changes_warning = "Changes you made may not be saved.";
                evt.returnValue = unsaved_changes_warning;
                return unsaved_changes_warning;
            }
        });
    })();
</script>
