{% set includeHeader = includeHeader ?? true %}
{% set variation = variation ?? 'default'  %}

{% if block.accordions and block.accordions.count() %}

    {% if includeHeader %}
        {% include '_elements/section-head' with {
            obj: block,
            objHandle: 'accordion',
        } only %}
    {% endif %}

    {% set accordionId = block.id ? block.id : craft.yump.getMicrotimeAsId() %}
    
    <div class="accordion accordion--{{variation}}" id="accordion-{{ accordionId }}">
        {% for accordionEntry in block.accordions.all() %}
            {% set accordionEntryId = accordionEntry.id ? accordionEntry.id : craft.yump.getMicrotimeAsId() %}
            <div class="accordion__item">
                <h4 class="accordion__header" id="accordion-header-{{ accordionId }}-{{ accordionEntryId }}" data-toggle="collapse" data-target="#accordion-body-{{ accordionId }}-{{ accordionEntryId }}" aria-expanded="false" aria-controls="accordion-body-{{ accordionId }}-{{ accordionEntryId }}">
                    <span class="accordion__header-tag"></span>
                    <span class="accordion__header-content">{{ accordionEntry.accordionHeading|trim }}</span>
                </h4>

                <div id="accordion-body-{{ accordionId }}-{{ accordionEntryId }}" class="collapse accordion__body" aria-labelledby="accordion-header-{{ accordionId }}-{{ accordionEntryId }}" data-parent="#accordion-{{ accordionId }}">
                    <div class="accordion__body-content rich-text">{{ accordionEntry.accordionContent }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}