{# The Destination for an Anchor Link #}
<div class="anchor-link-destination rich-text">
    {% if block.label is defined and block.label %}
        <h2 id="{{craft.yump.createSlug(block.label)}}" tabindex="-1" class="anchor-link-destination__heading">{{block.label}}</h2>
    {% endif %}
</div>
