{% set background = block.richMediaBg ?? 'none' %}
<div class="back-to-top back-to-top--link-btn back-to-top--{{block.richMediaBg}}">
	<button class="btn btn--link back-to-top__button">
		Back to top
	</button>
</div>
