{% include '_elements/section-head' with {
        obj: block,
        objHandle: 'buttons',
    } only %}

<div class="container">
	<div class="neo-buttons-inner">
		{% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, customClass: 'neo-buttons-inner__child', scope: scope} %}
	</div>
</div>
