{% include '_elements/section-head' with {
	obj: block,
	objHandle: 'checks-and-crosses',
} only %}

{% set checksAndCrosses = block.children.all() ?? null %}

{% if checksAndCrosses %}

<div class="checks-and-crosses checks-and-crosses--count-{{ checksAndCrosses|length() }} container">
    <div class="checks-and-crosses__row">
        {% for index, box in checksAndCrosses %}
            {% include '_content-blocks/partials/checks-and-crosses-box' with {
                index: index,
                box: box
            } only %}
        {% endfor %}
    </div>
</div>

{% endif %}
