{% import '_macros' as macros %}

<div class="downloads-wrap">

	{% if block.heading or block.summary %}
		{% include "_elements/section-head" with {sectionHeading: block.heading ?? null, sectionSummary: block.summary ?? null, objHandle: 'downloads'} %}
	{% endif %}

	{% for download in block.downloads.all() %}
		{% set fileName = null %}

		{% if download.type == 'internalResource' %}
			{% set customThumb = download.thumbnail is defined and download.thumbnail ? download.thumbnail : false %}
			{% set file = download.file.one %}
			{% set fileName = file.title %}
			{% set fileType = file.extension | upper %}
			{% set link = file.url %}
			{% set fileSize = file.size | filesize(2) %}
			{% set fileDescription = download.fileDescription ?? null %}
		{% elseif download.type == 'externalResource' %}
			{% set fileName = download.fileName %}
			{% set link = download.fileUrl %}
			{% set fileSize = download.fileSize ?? null %}
			{% set fileType = download.fileType ?? null %}
			{% set fileDescription = download.fileDescription ?? null %}
			{% set customThumb = download.thumbnail is defined and download.thumbnail ? download.thumbnail : false %}
		{% endif %}

		{% if fileName %}
				<a href="{{link}}" target="_blank" class="download">
					<figure class="download__icon">
					{% if customThumb is defined and customThumb.one().url is defined %}
						<img class="download__icon" width="27" src="{{customThumb.one().url}}" alt="download icon">
					{% else %}
						{{ svg('@webroot/assets/img/svg/ic-document.svg') }}
					{% endif %}
					</figure>
					<p class="download__content">
						<span class="download__file-content-head">
							<span class="download__filename">{{ fileName }}</span>
							{% if fileSize %}
								<span class="download__filesize">{{ fileSize }}</span>
							{% endif %}
							{# {% if fileType %}
								<span class="download__filetype">[{{ fileType }}]</span>
							{% endif %} #}
						</span>
						{% if fileDescription %}
							<span class="download__filedesc">
								{{ fileDescription }}
							</span>
						{% endif %}
					</p>
					<span class="btn btn--has-icon btn--link download__cta">
						<span class="download__cta-icon">{{ svg('@webroot/assets/img/svg/ic-download.svg') }}</span>
						<span class="download__cta-text">View {{fileType}}</span>
						<span class="sr-only">{{ fileName }}</span>
					</span>
				</a>
		{% endif %}

	{% endfor %}
</div>
