{% set factSheets = block.factSheets.all() %}
{% if factSheets | length != 0 %}
<div class="fact-sheets-wrap">
	{% if block.heading or block.summary %}
		{% include "_elements/section-head" with {sectionHeading: block.heading ?? null, sectionSummary: block.summary ?? null, objHandle: 'downloads'} %}
	{% endif %}

	{% for factSheet in factSheets %}
		<a href="{{factSheet.url}}" class="fact-sheets">
			<figure class="fact-sheets__icon">
				{{ svg('@webroot/assets/img/svg/ic-document.svg') }}
			</figure>
			<p class="fact-sheets__content">
				<span class="fact-sheets__file-content-head">
					<span class="fact-sheets__filename">{{ factSheet.title }}</span>
				</span>
				{% if factSheet.summary %}
					<span class="fact-sheets__filedesc">
						{{ factSheet.summary | striptags }}
					</span>
				{% endif %}
			</p>
			<span class="btn btn--has-icon btn--link fact-sheets__cta">
				<span class="fact-sheets__cta-icon">{{ svg('@webroot/assets/img/svg/ic-view-factsheet.svg') }}</span>
				<span class="fact-sheets__cta-text">View Factsheet</span>
				<span class="sr-only">{{ factSheet.title }}</span>
			</span>
		</a>
	{% endfor %}
</div>
{% endif %}
