{% set iconPath = block.icon.one() ?? '@webroot/assets/img/svg/ic-complain.svg' %}
<div class="container">
<div class="featured-cta">

    <figure class="featured-cta__icon">
        {{ svg( iconPath ) }}
    </figure>

    <h2 class="featured-cta__heading">{{ block.heading }}</h2>

    <div class="featured-cta__main-content">
        {{ block.summary }}
    </div>

    {{ block.cta.getLink({
        class: 'btn btn--primary featured-cta__btn'
    }) }}

    <div class="featured-cta__bold-text">
        {{ block.richText }}
    </div>

    <div class="featured-cta__small-print">
        {{ block.smallPrint }}
    </div>

</div>
</div>
