{% set form = block.form ?? null %}
{% if form %}
	<div class="custom-form">
		{% include '_elements/section-head' with {
			obj: block,
			objHandle: 'custom-form',
		} only %}

		<div class="custom-form__container container">
						
			{{ craft.freeform.form(form.handle).render() }}

		</div>
	
	</div> 
	
{% endif %}
