{% set background = block.richMediaBg is defined and block.richMediaBg is not empty ? block.richMediaBg : 'pale-bg-colour' %}
{% set summary = block.summary and block.summary is not empty ? block.summary : null %}

<div class="glossary glossary--{{background}}">
    <div class="glossary__container">
        <div class="glossary__row">
            <div class="glossary__heading-container">
                {# ID used by anchor links if present #}
                <h2 id="{{craft.yump.createSlug(block.heading)}}" class="glossary__heading">{{ block.heading }}</h2>
            </div>
            <div class="glossary__content">
            
                {% if summary %}
                    <div class="glossary__summary">
                        {{block.summary}}
                    </div>
                {% endif %}

                {% set glossaryList = block.glossaryList.all() %}
                {% if glossaryList %}
                <div class="glossary__list">
                    {% for index, listItem in glossaryList %}
                        <div class="glossary__list-item">
                            <div class="glossary__list-item-label">{{listItem.label}}</div>
                            <div class="glossary__list-item-definition">{{listItem.definition}}</div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>            
        </div>

        <div class="glossary__back-to-top back-to-top back-to-top--link-btn">
            <button class="btn btn--link back-to-top__button">
                Back to top
            </button>
        </div>

    </div>

</div>


