{# See src\styles\content-blocks\_image-slider.scss #}
{% import '_macros' as macros %}

{% set images = block.images.all() %}
{% set imageCount = images | length %}
{% set widthOfImage = block.widthOfImage is defined and block.widthOfImage != 0 and imageCount == 1 ? block.widthOfImage : 1200 %}
{% if imageCount %}
    <div class="container images-container {% if imageCount > 1 %}slider{% endif %}">
        {% if imageCount > 1 %}
            <div class="image-slider-wrap slider__container" aria-hidden="true">
        {% else %}
            <div class="single-image-wrap" aria-hidden="true">
        {% endif %}
            {% for image in block.images.all() %}
                {% set imagerSettings = {
                    width: widthOfImage,
                } %}

                {% set imageCaption = image.imageCaption ?? null %}

                <div class="slider-item {% if imageCaption %} slider-item__has-caption{% endif %}">
                    {{ macros.thumbnail({
                        image: image,
                        imagerSettings: imagerSettings,
                        altTag: image.title is defined and image.title ? image.title : 'image',
                        additionalClasses: 'slider-item__image'
                    }) }}
                    {% if imageCaption %}
                        <div class="slider-item__caption">
                            {{ imageCaption }}
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
            </div>

            <div class="slider__captions">
                <span class="slider-item__caption-text"></span>
                <span class="slider-item__caption-counter"></span>
            </div>
        </div>
{% endif %}
