{#
#	Used by:
#		- Two Columns block (templates/_content-blocks/twoColumns.html)
#		- Banner in News/Blog Entries
#}
{% import '_macros' as macros %}

{% set image = image is defined and image ? image : block.image.one() %}
{% set variation = variation ?? null %}
{# use caption by default, or respect to the caption attr, which might set it to false #}
{% set useCaption = caption is defined ? caption : true %} 
{% if image %}
	<figure class="slider-item__container">
		{{ macros.thumbnail({
            image: image,
            imagerSettings: {
                width: 1200,
            },
			additionalClasses: variation,
            altTag: image.title is defined and image.title ? image.title : 'image',
        }) }}
		{% if image.imageCaption and useCaption %}
		 	<div class="slider-item__caption">
		 		{{ image.imageCaption }}
		 	</div>
		 {% endif %}
	</figure>
{% endif %}
