{% set image = block.image.one() %}
{% set heading = block.heading | default(false) %}
{% set summary = block.summary | default(null) %}
{% import '_macros' as macros %}
<div class="img-with-text">
    {% if image %}
        <figure class="img-with-text__image-container">
            {{ macros.thumbnail({
                image: image,
                imagerSettings: {
                    width: 200,
                },
                additionalClasses: 'img-with-text__image',
                altTag: image.title is defined and image.title ? image.title : 'image',
            }) }}
        </figure>
    {% endif %}
    <div class="img-with-text__content">
        <h2 id="{{craft.yump.createJsFriendlySlug(heading)}}" class="img-with-text__heading">{{ heading }}</h2>
        <div class="img-with-text__summary">
            {{ summary | raw }}
        </div>
    </div>
</div>
