<div class="our-impact">
    <div class="container">
        {% if block.heading or block.subHeading %}
            <div class="row">
                <div class="col-lg-12">
                    {% if block.heading %}<h2 class="impact-stats-heading">{{ block.heading }}</h2>{% endif %}
                    {% if block.subHeading %}<h4 class="impact-stats-subheading">{{ block.subHeading }}</h4>{% endif %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% set statsBlocks = block.impactStats.all() %}
            {% for statsBlock in statsBlocks | filter (statsBlock => statsBlock.type == 'stats') %}
                <div class="col-md-3 impact-item">
                    <span class="impact-number">{{ craft.yump.formatNumber(statsBlock.number) }}</span>
                    <span class="type">{{statsBlock.text}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>