{% import '_macros' as macros %}

<div class="newsletter-signup">

    <figure class="newsletter-signup__icon">
        {{ svg('@webroot/assets/img/svg/ic-newsletter.svg') }}
    </figure>

    <h2 class="newsletter-signup__heading">{{ block.heading }}</h2>

    <div class="newsletter-signup__content">
        {{ block.summary }}
    </div>
    
    {% set link = generalSettings.newsletterSignUpLink %}
    {{ macros.button({
        link: link,
        additionalClasses: 'newsletter-signup__button',
        text: link.text ?? "Sign up"
    }) }}

</div>