{% set processItems = block.process.all() %}

{% if processItems|length %}

<div class="process">

    {% if block.heading or block.summary %}
        {% include "_elements/section-head" with {sectionHeading: block.heading ?? null, sectionSummary: block.summary ?? null, objHandle: 'process', sectionIcon: block.icon.one() ?? false } %}
    {% endif %}

	<ul class="process__list container">
		{% for key, item in processItems %}
            <li class="process__list-item">
                <span class="process__list-item-number">{{ key + 1 }}</span>
                <h3 class="process__list-item-heading">{{ item.stepTitle }}</h3>
                <div class="process__list-item-content">
                    {{ item.stepSummary }}
                </div>
            </li>
		{% endfor %}
	</ul>
</div>

{% endif %}