{% set asterixText = block.asterixText ?? null %}
{% set hasSecondaryClass = block.author or block.label ? 'quote--has-secondary' : 'quote--no-secondary' %}
<div class="quote {{hasSecondaryClass}}">
    <div class="quote__main">
        {{ block.richText }}
    </div>

    {% if block.author or block.label %}
    <div class="quote__secondary">
        <span class="quote__author">{{ block.author }}</span>
        <span class="quote__label">{{ block.label }}</span>
        {% if asterixText %}
        <span class="quote__asterix">
            {{ asterixText }}
        </span>
        {% endif %}
    </div>
    {% endif %}

</div>