<div class="container">
	<div class="rich-text editor-default {% for scopeItem in scope %} rich-text-in-{{ scopeItem }}{% endfor %} {{ block['richTextBackground'] | default('') }}">
	    {{ block.richText }}
	</div>
</div>
