{% set sliderItems = block.stories.all() %}

{% import "_macros" as macros %}

{% if sliderItems|length %}
	{# slider-wrap #}
	<div class="stories-outer-wrapper">
		
		{# slider #}
		<div id="stories" class="stories"> 

			{# holder #}
			<div class="stories__wrap">
			
			{% for key, story in sliderItems %}
				{% set variation = key == 0 ? ' story--active' : '' %}

				{# slide-wrapper #}
				<div id="story-{{block.id ~ key}}" class="story {{- variation -}}">

					{% set storyEntry = story.storyEntry.one() %}

					{# slide #}
					<div class="story__row">

						<div class="story__content">
							<div class="story__content-wrap">
								<h2 class="story__heading">
									{{ story.heading }}
								</h2>
								<div class="story__summary">
									{{ story.summary|default(storyEntry.summary | default("")) }}
								</div>
								{% if story.asterixText %}
									<p class="story__smallprint">{{story.asterixText }}</p>
								{% endif %}
								{% if storyEntry != null %}
								<a href="{{storyEntry.url}}" class="story__cta btn btn--secondary">
									{{story.contentButtonLabel | default('Read ' ~ storyEntry.title) }}
								</a>
								{% endif %}
							</div>
						</div>

						{% if storyEntry != null %}
						{% set storyImage = story.image.one()|default(storyEntry.featuredImage.one()) %}
						<div class="story__image-wrap">
							<div class="story__image-container" style="{{ macros.thumbnail({
								image: storyImage,
								imagerSettings: {
									width: 1600,
								},
								additionalClasses: 'story__img',
								altTag: image.title is defined and image.title ? image.title : '',
								outputAsBackgroundImage: true,
							}) }}">
							</div>						
						</div>
						{% endif %}

					</div>

				</div>

			{% endfor %}

			</div>

			<div class="stories__nav-mobile">
				<button class="stories__nav-mobile-button stories__nav-mobile-button--left" name="Show Previous Story" data-direction="left">
					{{ svg('@webroot/assets/img/svg/ic-chevron-left.svg')|attr({
						class : "stories__nav-mobile-button-ic-arrow stories__nav-mobile-button-ic-arrow--left"
					}) }}
					<span class="sr-only">Show previous story</span>
				</button>
				<button class="stories__nav-mobile-button stories__nav-mobile-button--right" data-direction="right" name="Show Next Story">
					{{ svg('@webroot/assets/img/svg/ic-chevron-right.svg')|attr({
						class : 'stories__nav-mobile-button-ic-arrow stories__nav-mobile-button-ic-arrow--right'
					}) }}
					<span class="sr-only">Show next story</span>
				</button>
			</div>

			<div class="stories__nav-dt container">

				{% for key, story in sliderItems %}
					{% set storyEntry = story.storyEntry.one() %}
					{% if storyEntry != null %}
						{% set variation = key == 0 ? ' stories__nav-dt-item-button--active' : '' %}
						<button class="stories__nav-dt-item-button {{- variation -}}" data-trigger="story-{{block.id ~ key}}" name="{{story.navigationButtonLabel|default(storyEntry.title)}}">
							{{ svg(story.labelIcon.one())|attr({
								class : "stories__nav-dt-item-icon"
							}) }}
							<span class="stories__nav-dt-item-button-text">
								{{ story.navigationButtonLabel|default(storyEntry.title) }}
							</span>
						</button>
					{% endif %}
				{% endfor %}

			</div>

		</div>
	</div>

{% endif %}
