<div class="tabs__tab">
    <div class="tabs__tab-content">
    
        {% include '_elements/section-head' with {
            obj: block,
            objHandle: 'tab',
            sectionHeading: block.heading,
            sectionSummary: block.tabSummary, 
            truncate: true
        } only %}

        {% if block.tableau %}
            <div id="{{ tableauID }}-tableau" class="tableau__wrap" data-tableau="{{ block.tableau }}"></div>
            {% if key == 0 %}
                {% js %}
                    createViz('{{ tableauID }}-tableau');
                {% endjs %}
            {% endif %}
            {% if block.accordions %}
                {% include '_content-blocks/accordions' with { includeHeader: false, variation: 'tab' } %}
            {% endif %}
        {% endif %}

        {% if block.powerBiUrl %}
            <div class="power-bi-container" style="padding-bottom: {{ block.powerBiAspectRatio | default('calc(100% / 16 * 9)') }}">
              <iframe
                title="Power Bi Report"
                width="100%"
                height="100%"
                src="{{ block.powerBiUrl }}"
                allowfullscreen="true"
            ></iframe>
            </div>
        {% endif %}
    </div>
</div>
