{% set background = block.richMediaBg is defined and block.richMediaBg.value ? block.richMediaBg.value : 'no-bg-colour' %}

<div class="tabs tabs--{{background}}">
    {% include '_elements/section-head' with {
        obj: block,
        objHandle: 'tabs',
    } only %}

    <div class="tabs__tabs">

        {% include "_elements/nav-tabs" with { tabs: block.children } %}

        <div class="tab-content">
            {% for key, tab in block.children.all() %}
                {% set tabID = tab.tabLabel|kebab %}
                {% set tableauID = 'tableau-' ~ tab.id %}

                <div class="container">
                    <div class="nav nav-tabs nav-tabs--mobile" role="tablist">
                        <a class="nav-link nav-tabs__link nav-tabs__link--mobile{{loop.first ? ' active' : ''}}" id="{{tabID}}-mobile" data-toggle="tab" href="#{{ tableauID }}" role="tab" aria-controls="{{tableauID}}" aria-selected="{{loop.first ? 'true' : 'false'}}">{{tab.tabLabel}}</a>
                    </div>
                </div>

                <div class="tab-pane fade {{ loop.first ? ' show active' : '' }}" id="{{ tableauID }}" role="tabpanel"
                     aria-labelledby="{{ tableauID }}-tab">
                    {% include '_content-blocks/tab' with {block: tab, tabID: tabID, key:key, tableauID: tableauID} %}
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="tabs__back-to-top back-to-top back-to-top--link-btn">
        <button class="btn btn--link back-to-top__button">
            Back to top
        </button>
    </div>

</div>

<script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
{% js %}
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var wrapId = e.target.hash.replace('#','') + '-tableau';
        if (typeof wrapId != "undefined"){
            createViz(wrapId);
        }
    })

    function createViz(id) {
        let vizDiv = document.getElementById(id),
        options = {
            device: 'default'
        };
        let vizURL = vizDiv.getAttribute('data-tableau');
        let viz = new tableau.Viz(vizDiv, vizURL, options);
    }

{% endjs %}