<div class="neo-two-columns">
    <div class="container">
        <div class="row">
            {% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, customClass: 'col-md-6', scope: scope|merge(['twoColumns'])} %}
        </div>
    </div>
</div>
