$accordion-border-color: $grey;

.accordion {

	$self: &;
	&__item {
		border-radius: 0;
		border-bottom: 1px solid $accordion-border-color;
		padding-bottom: 10px;
		&:last-child {
			border: none;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__header {
		padding: 0;
		display: flex;
		border-bottom: 0;
		cursor: pointer;
		background: none;
		
		&[aria-expanded="true"] {
			#{$self}__header-tag {
				background-image: image-url('svg/ic-minus-solid.svg');
				background-size: 32px 32px;
			}
			#{$self}__header-content {
				border-bottom: 0;
			}
		}
	}

	&__header-tag {
		background-image: image-url('svg/ic-plus-solid.svg');
		background-size: 32px 32px;
		background-position: center center;
		background-repeat: no-repeat;
		width: 48px;
		min-height: 48px;
		flex: 0 0 48px;
		@include media-breakpoint-up(xl) {
			width: 72px;
			min-height: 72px;
			flex-basis: 72px;
		}
	}
	
	&__header-content {
		color: $charcoal-grey;
		font-size: 1.6rem;
		line-height: 1.5;
		font-weight: 500;
		flex-basis: 100%;
		display: block;
		padding: 18px 16px;
		margin-bottom: 0;
		@include media-breakpoint-up(xl) {
			padding: 24px;
		}
	}

	&__body {
		padding-left: 48px;
		@include media-breakpoint-up(xl) {
			padding-left: 72px;
		}
	}

	&__body-content {
		padding: $spacing-s 16px 16px;
		@include media-breakpoint-up(xl) {
			padding: 0 24px 24px;
		}
		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			max-width: 100%;
		}
	}	

}

.neo-secondary-content {
	.accordion {
		@include make-container();
		@include make-container-max-widths();
		&--tab {
			margin-top: 20px;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}