// When this block is not the first block, give it more margin 
// this is to visually separate it from the top section as its a menu for the rest of the page
.matrix-block + .matrix-block-anchorLinks {
	margin-top: 8rem;
}

// Reduce margin between anchor point and the block beneath as they are intended to display together
.matrix-block--anchorPoint {
	+ .matrix-block {
		@include fluid-property("margin-top", 24);
	}
	+ .matrix-block--twoColumns .matrix-block--column:first-child .matrix-block:first-child {
		@include fluid-property("margin-top", 0);
	}
}

.anchor-links {
	$self: &;

	&__heading {
		@extend %minor-heading;
		color: $charcoal-grey;
		margin-bottom: 1.5rem;
	}

	&__list {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}

	&__link {
		display: block;
		font-size: 1.6rem;
		background-image: linear-gradient(to right, #F5F9FB 0%, #EBF3F7 100%);
		background-color: transparent;
		transition: background 0.3s ease-in-out;
		width: 100%;
		margin: 0 0 10px;
		padding: 10px 24px;
		border-radius: 24px;
		color: $water-blue;
		line-height: 1.5;
		border: none;
		text-align: left;
		svg {
			transition: all 0.3s ease-in-out;
		}

		&:visited,
		&:active,
		&:focus {
			border: 0;
			outline: none;
			box-shadow: none;
		}

		&:hover, &:focus {
			color: $white;
			text-decoration: none;
			background: $water-blue;
		}
	}

	&__label {
		display: inline-block;
	}

}

// Anchor Points
.anchor-link-destination {
	&__heading {
		@extend %secondary-heading;
		@include fluid-property('margin-top', 30);
		@include fluid-property('margin-bottom', 24);
	}
}

.body-full-width .anchor-link-destination {
	@include make-container();
	@include make-container-max-widths();
}
