.neo-buttons-inner {
	display: flex;
	flex-wrap: wrap;
	&__child {
		margin-bottom: $spacing-s;
		&:not(:last-child) {
			margin-right: 1.6rem;
		}
		// removing the margin top as we display consecutive buttons inline 
		+ .neo-buttons-inner__child {
			margin-top: 0;
		}
	}
}

// Weird interaction here that probably wouldn't ever be used but is in design (button block followed by a button block) - probably should keep the margin really as you wouldn't do this without the section head (and then you want to keep the margin
// .matrix-block--buttons {
// 	+ .matrix-block--buttons {
// 		margin-top: 0;
// 	}
// }

