/**
 * Cards layout
 *
 * Reminder of the card layout rules in design system:
 * Withing main content (article width)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout.
 * Within secondary content (full width body)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px, < 1200px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout. (Same as main content)
 ..* >= 1200px: 4 columns layout if only 4 cards in total. Otherwise, 3 columns layout
 *
 * Also, each card should be equally high >= 576px
 * 
 */

 /** Cards is the outer element, card is an individual card **/
 
 /** Deafult (Main Content Area) **/
.cards {
	$self: &;
	// margin-bottom: -$card-gutter-width-vertical;

	// default columns to 2 columms
	&__rows {
		@include media-breakpoint-up(sm) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $card-gutter-width-horizontal;
			grid-auto-rows: auto;
		}
	}

	&--count-3 {
		#{$self}__rows {
			@include media-breakpoint-up(lg) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}

	// (e.g. landscape cards)
	&--count-1 {
		#{$self}__rows {
			grid-template-columns: 1fr;
		}
	}
}

/* Within Secondary content */
.neo-secondary-content {

	.cards {
		$self: &;

		&__rows {
			@include media-breakpoint-up(xl) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		&--count-4 {
			#{$self}__rows {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}

}

.card {
	$self: &;
	margin-bottom: $card-gutter-width-vertical;
	&:last-child {
		margin-bottom: 0;
	}
	@include media-breakpoint-up(sm) {
		margin-bottom: 0;
	}
	@include media-breakpoint-down(xs) {
		@include make-container-max-widths;
		@include make-container;
	}
	&__container {
		display: flex;
		flex-direction: column;
		min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
		width: 100%;
		height: 100%;
		word-wrap: break-word;
		background-clip: border-box;
		background-color: $card-bg;
		border: $card-border-width solid $card-border-color;
		@include border-radius($card-border-radius);
		@include media-breakpoint-up(sm) {
			& > .card__link {
				flex: 0 0 auto;
			}
		}
	}

	&__body {
		flex: 1 1 auto;
		// Workaround for the image size bug in IE
		// See: https://github.com/twbs/bootstrap/pull/28855
		min-height: 1px;
		padding: $card-spacer-x;
		color: $card-color;
	}

	&__link {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	&__image-wrap {
		overflow: hidden;
	}
	
	&__image {
		transition: all 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__footer {
		margin-top: auto;
	}
	
	&__footer-btn {
		padding: $card-spacer-y/2 $card-spacer-x;
		justify-content: space-between;
		&--secondary {
			border-top: 1px solid $silver;
			&:hover {
				border-top: 1px solid $silver;
			}
		}
	}

	&__footer-cta-text {
		@extend %body-text;
		font-weight: 700;
	}

	&__footer-cta-icon {
		display: inline-block;
		float: right;
	}

	&__desc-text {
		color: $battleship-grey;
	}

	&__date-text {
		font-size: 1.2rem;
		line-height: 2;
		color: $gunmetal;
		font-weight: 700;
		@include media-breakpoint-up(lg) {
			font-size: 1.4rem;
			line-height: 1.43;
		}
	}

	&__title,
	&__title a {
		@extend %sub-heading;
		margin-bottom: 15px;
		color: $gunmetal;
		transition: all 0.3s;
	}

	&--landscape {
		min-height: 287px;
		@include media-breakpoint-up(sm) {
			margin: 0;
		}
		
		#{$self}__container {
			@include media-breakpoint-up(sm) {
				flex-direction: row;
			}
		}

		#{$self}__body {
			@include media-breakpoint-up(sm) {
				order: 1;
			}
		}

		#{$self}__image-wrap {
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
			@include media-breakpoint-up(sm) {
				border-top-left-radius: 0px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				flex: 0 0 250px;
				order: 2;
			}
			@include media-breakpoint-up(xl) {
				flex: 0 0 287px;
			}
		}

		#{$self}__image {
			height: 220px;
			width: 100%;
			object-fit: cover;
			@include media-breakpoint-up(sm) {
				height: 100%;
			}
		}

		#{$self}__image-link {
			display: inline-block;
			height: 100%;
		}

		#{$self}__footer-btn {
			padding: 0;
			margin-top: 1.8rem;
			@include media-breakpoint-up(sm) {
				justify-content: left;
			}
		}

		#{$self}__footer-cta-icon {
			margin-left: 8px;
		}

	}

	&--single-link {
		&:hover {
			cursor: pointer;
			#{$self}__footer-btn {
				// text-decoration: underline;
			}
			#{$self}__image {
				transform: scale(1.1);
			}
		}
	}

}


