.checks-and-crosses {
    $self: &;

    &__row {
        @include make-row();
    }

    &__box {
        &:first-child {
            #{$self}__box-content-wrap {
                border-top: 3px solid $success;
            }
            @include media-breakpoint-up(lg) {
                padding-right: 25px;
            }
        }
        &:last-child {
            margin-top: 3rem;
            @include media-breakpoint-up(lg) {
                padding-left: 25px;
                margin-top: 0;
            }
            #{$self}__box-content-wrap {
                border-top: 3px solid $rouge;
            }
        }
    }
    
    &__box-content-wrap {
        height: 100%;
        padding: 3rem;
        border-bottom: 1px solid $silver;
        border-left: 1px solid $silver;
        border-right: 1px solid $silver;
        @include media-breakpoint-up(md) {
            // padding: 5rem; at this padding, question mark wraps to next line as an orphan with current content on desktop
            padding: 3.5rem;
        }
    }

    &__box-heading {
        @extend %alt-minor-heading;
        color: $charcoal-grey;
        margin-bottom: 4rem;
    }

    &__box-list {
        list-style: none;
        padding-left: 0;
    }

    &__box-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__box-list-item-icon {
        flex: 0 0 50px;
        margin-bottom: 0;
        line-height: 2rem;
    }

    &__box-list-item-icon-svg {
        display: block;
    }

    &__box-list-item-content {
        @extend %very-minor-heading;
        display: inline;
        color: $charcoal-grey;
        p {
            display: inline;
            margin-bottom: 0;
            @extend %very-minor-heading;
        }
    }

    &__box-list-item-btn {
        display: inline;
        line-height: 2rem;
        vertical-align: top;
        margin-left: $spacing-s;
        svg {
            vertical-align: top;
        }
    }
}