.issues {
	$self: &;
	&__col {
		#{$self}__type {
			margin-bottom: 30px;
			&:last-child {
			}
		}
		#{$self}__issue {
			padding-top: 50px;
			&:first-of-type {
				padding-top: 0;
			}
		}
		&:first-child {
			#{$self}__issue, #{$self}__type-heading {
				@include media-breakpoint-up(lg) {
					padding-right: 35px;
				}
				@include media-breakpoint-up(xl) {
					padding-right: 45px;
				}
			}
		}
		&:last-child {
			@include media-breakpoint-up(lg) {
				border-left: 1px solid $silver;
			}
			#{$self}__issue, #{$self}__type-heading {
				@include media-breakpoint-up(lg) {
					padding-left: 35px;
				}
				@include media-breakpoint-up(xl) {
					padding-left: 45px;
				}
			}
			#{$self}__type {
				&:last-child {
					@include media-breakpoint-up(xl) {
						position: absolute;
						bottom: 8px;
					}
				}
			}
		}
	}

	&__type-heading {
		@extend %minor-heading;
		color: $charcoal-grey;
		margin-bottom: 37px;
		position: relative;
		&:after {
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: -8px;
			left: 0;
			background-color: $silver;
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		&--mobile-hide {
			display: none;
			@include media-breakpoint-up(lg) {
				display: flex;
			}
		}
	}

	&__issue {
		display: flex;
		@include hover-focus {
			text-decoration: none;
			#{$self}__issue-name {
				text-decoration: underline;
				text-decoration-color: $nice-blue;
			}
			#{$self}__issue-icon {
				svg {
					transform: rotate(5deg) scale(1.03);
				}
			}
			#{$self}__issue-read-more {
				transform: translateX(2px);
				svg > g > g {
					fill: $danger;
				}
			}
		}
		&--mobile-hide {
			display: none;
			@include media-breakpoint-up(lg) {
				display: flex;
			}
		}
		&--dt-hide {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}

	&__issue-icon {
		align-self: center;
		svg {
			width: 51px;
			height: 51px;
			transition: transform 0.3s ease-in-out;
			@include media-breakpoint-up(lg) {
				width: 80px;
				height: 80px;
			}
		}
	}

	&__issue-content {
		margin-left: 24px;
		flex-grow: 1;
		color: $battleship-grey;
	}

	&__issue-name {
		@extend %sub-heading;
		margin-bottom: 8px;
		color: $nice-blue;
	}

	&__issue-read-more {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
			margin-left: 80px;
			align-self: center;
			transition: transform 0.3s ease-in-out;
		}
	}

	&__more {
		width: 100%;
		&--mobile {
			margin-top: 25px;
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		&--dt {
			display: none;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
}

// exapnder on home page so hide the headings at init
.template--homepage-homepage {
	.issues {
		&__type-heading {
			&--dt-hide {
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}
}