.download {
	$self: &;
	display: flex;
	flex-direction: column;
	padding: $spacing-s;
	border: 1px solid $silver;
	border-radius: 4px;
	margin-top: $spacing-s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		#{$self}__file-content {
		}
		#{$self}__file-content-head {
			color: $charcoal-grey;
			text-decoration: underline;
		}
		#{$self}__cta-icon {
			transition: all 0.3s ease-in-out;
			.download-bg {
				fill: $nice-blue;
			}
		}
	}
	&:first-child {
		margin-top: 0;
	}

	@include media-breakpoint-up(sm) {
		margin-top: 0;
		border: none;
		border-bottom: 1px solid $silver;
		flex-direction: row;
		align-items: center;
	}

	&__content {
		flex-grow: 1;
		margin-bottom: 0;
		margin-top: 19px;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			margin-left: $spacing-s;
			margin-right: $spacing-s;
		}
		@include media-breakpoint-up(lg) {
			margin-right: $spacing-m;
		}
	}

	&__icon {
		margin-bottom: 0;
		svg {
			height: 48px;
			width: 48px;
		}
	}

	&__file-content-head {
		display: block;
	}

	&__filename {
		color: $charcoal-grey;
		font-weight: 700;
		display: block;
		@include media-breakpoint-up(sm) {
			display: inline;
		}
		@include hover-focus() {
			color: $charcoal-grey;
		}
	}

	&__filedesc {
		@extend %small-print;
		color: $battleship-grey;
	}

	&__filesize {
		@extend %very-small-print;
		color: $gunmetal;
		font-weight: 500;
		background-color: $pale-grey-two;
		display: inline-block;
		padding: 2px 4px;
		margin-bottom: 10px;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
	}

	&__cta {
		flex-shrink: 0;
		text-align: left;
		justify-content: left;
		margin-top: 28px;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			justify-content: center;
		}
	}

	&__cta-icon {
		margin-right: 6px;
	}
}
