.featured-cta {
	background-image: url("../../assets/img/bg-featured-cta@2x.jpg");
	background-size: cover;
	color: $white;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		padding: 80px;
	}

	&__icon {
		margin-bottom: $spacing-s;
	}

	&__main-content {
		max-width: 600px;
		margin: 0 auto $spacing-m;
		text-align: center;
	}

	&__heading {
		@extend %secondary-heading;
		margin-bottom: $spacing-s;
	}

	&__btn {
		margin-bottom: $spacing-m;
	}

	&__bold-text {
		p,
		a {
			font-weight: 700;
			font-family: $headings-font-family;
		}
		p {
			margin-bottom: 8px;
		}
		a {
			color: $white;
			text-decoration: underline;
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}
	}
}

.neo-secondary-content {
	.featured-cta {
		@include make-container();
		@include make-container-max-widths();
	}
}
