.glossary {

    &__container {
        @include make-container();
        @include make-container-max-widths();
    }

    &__row {
        @include make-row;
    }

    &__heading-container {
        @include make-col-ready;
        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
    }

    &__heading {
        @extend %secondary-heading;
        color: $gunmetal;
        @include media-breakpoint-down(lg) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__content {
        @include make-col-ready;
        @include media-breakpoint-up(md) {
            @include make-col(9);
        }
    }

    &__summary {
        margin-top: 8px;
        p {
            @extend %lead-text;
            color: $gunmetal;
            &:last-child {
                margin-bottom: 56px;
            }
        }
    }

    &__list-item {
        display: flex;
        padding: 11px 16px;
        align-items: top;
        &:nth-child(odd) {
            background-color: $white;
        }
    }

    &__list-item-label {
        color: $gunmetal;
        font-weight: 700;
        flex: 0 0 150px;
        @include media-breakpoint-up(md) {
            flex: 0 0 230px;
        }
    }

    &__list-item-definition {
        p:last-child {
            margin-bottom: 0;
        }
    }

    &__back-to-top {
        margin-top: 40px;
    }

    &--pale-bg-colour {
        background-color: $pale-grey-two;
        padding-top: 80px;
        padding-bottom: 80px;
    }

}