// see templates\_content-blocks\images.html
// slider class added if more than one image
@import "slick.scss";

$slider-dot-color: $black;
$image-caption-text-color: $gunmetal;

.matrix-block--image {
    .img-fluid {
        border-radius: 8px;
    }
    figure {
        margin-bottom: 0;
    }
}

.slider {

	&__nav-button {
		@extend %slider-nav-button;
		&--left {
			@extend %slider-nav-button--left;
		}
		&--right {
			@extend %slider-nav-button--right;
		}
	}

	&__nav-button-ic-arrow {
		&--left {
			@extend %slider-nav-button__ic-arrow--left;
		}
		&--right {
			@extend %slider-nav-button__ic-arrow--right;
		}
	}

	&__captions {
		display: flex;
		justify-content: space-between;
	}

}

.slider-item {

	&__caption-counter {
		font-weight: 500;
		font-size: 16px;
		color: $battleship-grey;
		margin-left: auto;
	}

}

.image-slider-wrap {
	position: absolute;
	visibility: hidden;

	// @include make-row();
}
.slider {
	.slider-item__caption {
		display: none; // we handle slider caption different using javascript
	}
}

// .slider__captions {
//     display: none;
// }

.slider__captions,
.slider-item__caption {
    color: $image-caption-text-color;
    font-family: $headings-font-family;
	font-weight: 900;
	font-size: 14px;
    margin-top: $spacing-s / 2;
}

.slider {
	.slick-arrow {
	    opacity: 1;
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
		transform: translateY(-50%);
		img {
			width: 11px;
			height: auto;
			@include media-breakpoint-up(md) {
			    width: 11px;
			}
		}
	}
	.slick-arrow:hover {
	  opacity: 1;
	}
	.slick-arrow:focus {
	  outline: 0;
	  box-shadow: 0 0 0 5px #09F;
	}
	.slick-arrow:active {
	  opacity: 1;
	}
	.arrow-previous {
		left: 0;
		z-index: 1;
		-webkit-appearance: none;
	}
	.arrow-next {
		right: 0;
		-webkit-appearance: none;
	}
	.slick-dots {
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);

		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			button {
				display: none;
				-webkit-appearance: none;
				box-shadow: none;
				border: none;
			}

			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $slider-dot-color;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&.slick-active {
				width: 16px;
				height: 16px;
			}
		}
	}
}
