.img-with-text {
	display: block;
	justify-content: flex-start;
	align-items: center;
	$self: &;
	@include media-breakpoint-up(md){
		display: flex;
	}

	&__image-container {
		margin-right: 18px;
	}

	&__image {
		max-width: 133px;
	}

	&__heading {
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: $charcoal-grey;
		margin-bottom: 8px;
	}

	&__summary {
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: $battleship-grey;
		margin-bottom: 16px;

		b, strong {
			font-size: 40px;
			font-weight: 900;
			line-height: 1.3;
			color: $gunmetal;
		}
	}
}
