// avoid having nested blocks with paddings on left and right
.container {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

body.compact-page .body-boxed__row {
	display: block !important;
}

body:not(.post):not(.general-landing) {
	.body-boxed {
		&__row {
			@include make-row();
			justify-content: center;

			.sidebar {
				padding-top: 48px;
				
				@include make-col-ready();
				@include media-breakpoint-up(lg) {
					padding-bottom: 48px;
					padding-top: 70px;
					@include make-col(4);
					// @include fluid-property('padding-right', 20);
					max-width: 285px;
					order: 1;
				}
				@include media-breakpoint-up(xl) {
					@include make-col(3);
					padding-right: 50px;
				}
				// more space when neo-boxed shows alongside a sidebar
				+ .neo-main-content {
					@include media-breakpoint-up(lg) {
						@include fluid-property('padding-left', 54);
					}
				}
			}
			.neo-main-content {
				@include make-col-ready();
				@include media-breakpoint-up(lg) {
					@include make-col(8);
					order: 2;
				}
				@include media-breakpoint-up(xl) {
					@include make-col(9);
				}
			}
		}

		position: relative;
		// &__split-background {
		// 	display: none;

		// 	@include media-breakpoint-up(lg) {
		// 		position: absolute;
		// 		left: 0;
		// 		right: 0;
		// 		top: 0;
		// 		bottom: 0;
		// 		display: flex;
		// 		&--sidebar {
		// 			flex: 0 0 32.5%;
		// 			max-width: 32.5%;
		// 		}
		// 	}
		// }
	}
}

.has-sidebar {
	.body-boxed {
		position: relative;
		&__layout-background-if-sidebar {
			display: none;

			@include media-breakpoint-up(lg) {
		        position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 50%;
				display: flex;
		    }

		}
		.neo-main-content {
			@include media-breakpoint-up(lg) {
		        padding-left: 32px;
		    }
		    @include media-breakpoint-up(xl) {
		        padding-left: 72px;
		    }
		}
	}
}

/**
 * Define all matrix-block level margin top / bottom here instead of doing it in individual block's scss. The reason is we need the .matrix-block:first-child at the end of this code block which overwrite the individual ones' margin-top if they are the first - this applies to both main and secondary content.
 *
 * Also, keep the margin on block level, instead of the child elements nested inside it.
 */
.matrix-block {
	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	.rich-text {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// &--dividingLine {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	&--buttons {
		@include fluid-property('margin-top', 48, 32);
	}
	// &--imageCards {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	// &--textOnlyCards {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	// &--accordions {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	&--images {
		@include fluid-property('margin-top', 48, 24);
	}
	&--video {
		@include fluid-property('margin-top', 48, 24);
	}
	// &--twoColumns {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	// &--form {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	&--profile {
		@include fluid-property('margin-top', 48, 24);
	}

	// &--common-complaints {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }

	/** Leave this at the end of this code block, because we need it to overwrite the individual block's margin-top */
	&:first-child {
		&:not(.matrix-block--scope-reusableSnippets):not(.matrix-block--common-complaints) {
			margin-top: 0;
		}
	}

	&--paragraph-margin {
		@include fluid-property('margin-top', 16);
		+ .matrix-block {
			@include fluid-property('margin-top', 16);
		}
	}
}

.neo-main-content {
	@include fluid-property('padding-top', $gap-big-px, $gap-big-mobile-px);
	@include fluid-property('padding-bottom', $gap-big-px, $gap-big-mobile-px);
	&__content {
		& > .matrix-block--testimonial {
			&:not(:first-child) {
				@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
				@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
			}
		}
		& > .matrix-block {
			&:last-child {
				// disable margin-bottom of the last child under article content, because article content has its own padding bottom
				margin-bottom: 0; 
			}
		}
	}
}

.neo-secondary-content {
	.matrix-block--with-background {
		+ .matrix-block--with-background {
			margin-top: 0;
		}
	}

	// first block of a reusable snippets 
	.matrix-block--reusableSnippetsSecondary {
		.matrix-block:first-child {
			margin-top: 0;
		}
	}

	.matrix-block--richMedia{
		+ .matrix-block--with-background {
			@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		}
	}
}

.body-boxed {
	&.no-boxed-section {
		& + .body-full-width {
			& > .matrix-block {
				&:first-child {
					&:not(.matrix-block--with-background) {
						@include fluid-property('margin-top', 72, 56);
					}
				}
				&.matrix-block--dividingLine {
					display: none;
				}
			}
		}
	}
}