.matrix-block--latestNews {
    @include fluid-property('margin-top', 72, 64);
}

.newsletter-signup {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__heading {
        @extend %secondary-heading;
        max-width: 600px;
        text-align: center;
        color: $gunmetal;
        margin-top: $spacing-m;
    }

    &__content {
        max-width: 600px;
        text-align: center;
        margin-top: $spacing-s;
    }

    &__icon {
        svg {
            width: 118px;
            height: auto;
            @include media-breakpoint-up(md) {
                width: 211px;
            }
        }
    }

    &__button {
        margin-top: $spacing-s;
    }

}