.process {
	&__list {
		list-style: none;
		@include media-breakpoint-up(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
	}

	&__list-item {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(md) {
			margin-bottom: 30px;
			flex: 0 0 calc(50% - 48px);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			flex: 0 0 calc(25% - 48px);
		}
	}

	&__list-item-number {
		@extend %sub-heading;
		color: $gunmetal;
		font-weight: 900;
		padding: 6px 15px 6px 13px;
		display: inline-block;
		background-size: contain;
		background-image: url('/assets/img/svg/ic-process-step-background.svg');
		background-repeat: no-repeat;
		margin-bottom: 17px;
	}

	&__list-item-heading {
		@extend %sub-heading;
		color: $gunmetal;
		margin-bottom: 16px;
	}

	&__list-item-content {
	}
}
