.quote {
    $self: &;

    background-color: $pale-grey-two;
    padding: 36px 45px;
    @include media-breakpoint-up(xl) {
        display: flex;
    }

    &__main {
        @extend %sub-heading;
        color: $gunmetal;
        p:last-child {
            margin-bottom: 0;
        }
    }

    &__secondary {
        @include media-breakpoint-up(xl) {
            flex: 0 0 280px;
            padding-left: 50px;
        }
    }

    &__author {
        color: $black;
        display: block;
        font-weight: 700;
        margin-top: $spacing-m;
        @include media-breakpoint-up(xl) {
            margin-top: 0;
        }
    }

    &__label {
        color: lighten($gunmetal, 5%);
    }

    &__asterix {
        @extend %very-small-print;
        color: lighten($gunmetal, 5%);
        margin-top: 0.8rem;
        display: block;
    }

    &--no-secondary {
        #{$self}__main {
            width: 100%;
            //text-align: center;
        }
    }
}
