.rich-text {
	// use .container class instead
	> *:first-child {
		margin-top: 0;
	}
	a {
		text-decoration: underline;
		transition: color 0.3s ease-in-out;
		&[href^="http://"], &[href^="https://"] {
			background: url('/assets/img/svg/ic-new-tab.svg') center right no-repeat;
			padding-right: 17px;
			margin-right: 2px;
		}
		&:hover {
			color: $prussian-blue;
		}
	}
	figure {
		max-width: 100% !important;
		+ p {
			clear: both;
			@include media-breakpoint-up(xl) {
				clear: none;
			}
		}
	}

	img {
		max-width: 100% !important;
		height: auto !important;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: auto;
		}
	}

	ol,ul,dl {
		margin-bottom: 2rem;
		li {
			@extend %body-text;
		}
	}

	p {
		@extend %body-text;
		@include fluid-property('margin-bottom', 16);
		&.lead-text {
			@extend %lead-text;
		}
	}

	h1 {
		@extend %main-heading;
		@include fluid-property('margin-top', 32);
		@include fluid-property('margin-bottom', 24);
	}

	h2 {
		@extend %secondary-heading;
		@include fluid-property('margin-top', 30);
		@include fluid-property('margin-bottom', 24);
		color: $gunmetal;
	}

	h3 {
		@extend %sub-heading;
		@include fluid-property('margin-top', 24);
		@include fluid-property('margin-bottom', 16);
		color: $charcoal-grey;
	}

	h4 {
		@extend %minor-heading;
		@include fluid-property('margin-top', 16);
		@include fluid-property('margin-bottom', 12);
	}

	&--bg-grey {
		background-color: $pale-grey-two;
		padding: 24px!important;
	}

	&--bg-pale {
		background-color: $very-light-pink;
		padding: 24px!important;
	}
}

// If a Rich Text block is put under Secondary Content, its width will be restricted to be 2/3 of the maximum width above certain screen sizes
.neo-secondary-content {
	& > .matrix-block--richText,
	.matrix-block--reusableSnippetsSecondary > .matrix-block--richText {
		.rich-text {
			@include media-breakpoint-up(lg) {
			    max-width: 66.6666%;
			}
		}
	}
}
