/* 
* @type This is a secondary content area banner.
* @extends banner from src\styles\base\design-system\_ds-banner.scss.
*/
.rich-media {
	$self: &;

	&__row {
		@extend %banner__row;
	}

	&__column {
		@extend %banner__column;
		&--media {
			@extend %banner__column--media;
			// media column always first in our design
			order: 0;
		}
		&--text {
			@extend %banner__column--text;
			order: 1;
			@media (min-width: 2500px) {
				padding-left: 40px;
			}
		}
	}
	
	&__media {
		&--image {
			@extend %banner__media--image;
		}
	}
	
	&__text-content-wrap {
		@extend %banner__text-content-wrap;
	}

	&__text-content-heading {
		@extend %banner__text-content-heading;
		color: $gunmetal;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			margin-bottom: 20px;
		}
	}

	&__text-content-summary {
		color: $gunmetal;
		
	}

	&__text-content-cta {
		@extend %banner__text-content-cta;
	}

	&--pale-bg-colour {
		#{$self}__column--media {
			&:after {
				background: $very-light-pink;
				width: 100%;
				height: 55%;
				bottom: -2px;
				border-top-right-radius: 30px;
				border-top-left-radius: 30px;
				@include media-breakpoint-up(sm) {
				}
				@include media-breakpoint-up(md) {
					border-bottom-left-radius: 30px;
					border-top-right-radius: 0px;
					width: 50%;
					height: 90%;
					top: 50%;
					transform: translateY(-50%);
					right: 0;					
				}
				@include media-breakpoint-up(xl) {
					height: 80%;
				}
			}
		}	

		#{$self}__column--text {
			&:after {
				background-color: $very-light-pink;
				border-bottom-right-radius: 30px;
				border-bottom-left-radius: 30px;
				width: 100%;
				height: 100%;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				@include media-breakpoint-up(md) {
					border-top-right-radius: 50px;
					border-bottom-left-radius: 0px;
				}
				@include media-breakpoint-up(md) {
					height: 90%;
				}
				@include media-breakpoint-up(xl) {
					height: 80%;
				}
			}
		}	
	}

	&--contained {
		@include make-container();
		@include make-container-max-widths();

		#{$self}__row {
			justify-content: center;
		}

		#{$self}__column {
			&--media {
				@include media-breakpoint-up(md) {
					flex: 0 0 40%;
				}
				@include media-breakpoint-up(xl) {
					flex: 0 0 30%;
				}
				@media (min-width: 2200px) {
					flex: 0 0 35%;
				}
			}
			&--text {
				@include media-breakpoint-up(md) {
					flex: 0 0 60%;
					padding-left: 20px;
				}
				@include media-breakpoint-up(xl) {
					padding-left: 40px;
					flex: 0 0 70%;
				}
				@media (min-width: 2200px) {
					flex: 0 0 65%;
				}
			}
		}

		#{$self}__column--media, #{$self}__column--text {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				z-index: -1;
			}
		}
				
		#{$self}__text-content-wrap {
			text-align: center;
			// on wider mobiles, looks strange going right to edge 
			max-width: 400px;
			margin: 0 auto;
			@include media-breakpoint-up(md) {
				max-width: 100%;
				text-align: left;
			}
			@include media-breakpoint-up(xl) {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
		}

		#{$self}__media {
			&--image {
				background-size: contain !important;
				@include media-breakpoint-up(md) {
					height: calc(36vw * 1 / 2);
					min-height: 100%;
					background-position: center left !important;
				}
			}
		}
	}

}
