table.table-bordered {
	border-collapse: separate;
	thead tr th {
		border-style: none none solid none;
		border-bottom-width: 1px;
		&:first-child {
			border-top-left-radius: 8px;
			border-left-style: solid;
			border-top-style: solid;
		}
		&:last-child {
			border-top-style: solid;
			border-right-style: solid;
			border-top-right-radius: 8px;
		}
		&:not(:first-child) {
			border-left: 0px;
			position: relative;
			// hack this into the gap left by border-collapse: separate - which is necessary because we want rounded corners
			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				width: 3px;
				height: 1px;
				left: -3px;
				bottom: -1px;
				background-color: $silver;
			}
		}
		&:not(:last-child):not(:first-child) {
			border-style: solid none solid none;
		}
	}
	tr {
		td {
			min-width: 200px;
			border-style: none none solid none;
			.table_title {
				display: none !important;
			}
			&:first-child { 
				border-left-style: solid; 
			}
			&:last-child {
				border-right-style: solid;
			}
			&:not(:first-child) {
				border-left: 0px;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					display: inline-block;
					width: 3px;
					height: 1px;
					left: -3px;
					bottom: -1px;
					background-color: $silver;
				}
			}			
		}
		&:last-child {
			td:first-child {
				border-bottom-left-radius: 8px !important;
			}
			td:last-child {
				border-bottom-right-radius: 8px !important;
			}
		}
	}
}
