.tabs {
	&__tab {
		@include make-container();
		@include make-container-max-widths();

		.container {
			padding: 0;
		}
	}

	&__tab-content {
		background-color: $white;
		padding: 80px 56px;
		border: solid 1px $pinkish-grey;
		@include media-breakpoint-down(md) {
			padding: 50px 26px;
		}
		@include media-breakpoint-down(md) {
			.section-head {
				&__content {
					display: block;
				}

				&__summary {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}

	&__back-to-top {
		margin-top: $spacing-m;
	}

	&--no-bg-colour {
		.nav-tabs {
			$self: &;
			&__item {
				&:last-child {
					.nav-tabs__link {
						&.active {
							border-right: 1px solid $pinkish-grey !important;
						}
					}
				}
			}
		}
	}

	&--pale-bg-colour {
		background-color: $pale-grey-two;
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.tableau {
	&__wrap {
		width: 100%;

		iframe {
			width: 100% !important;
		}
	}
}
