.neo-two-columns {
	.matrix-block--column {
		// margin should be within the blocks within the columns and on the parent block
		margin-top: 0;
		//width: 100%; // need this to fix the video not showing issue
		.rich-text {
			display: block;
			figure {
				@include media-breakpoint-down(sm) {
					margin-top: 24px;
				}
			}
		}
		> .matrix-block {
			@include fluid-property("margin-top", 22, 12);
			&:first-child {
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}
		}
	}
	&--top {
		.matrix-block--column {
			display: flex;
			align-items: flex-start;
		}
	}
	&--center {
		.matrix-block--column {
			display: flex;
			align-items: center;
		}
	}
	&--bottom {
		.matrix-block--column {
			display: flex;
			align-items: flex-end;
		}
	}
}

.matrix-block--paragraph-margin {
	.neo-two-columns {
		.matrix-block--column {
			> .matrix-block {
				@include media-breakpoint-up(sm) {
					margin-top: 0 !important;
				}
			}
			+ .matrix-block--column {
				> .matrix-block {
					@include media-breakpoint-up(sm) {
						margin-top: 0 !important;
					}
				}
			}
		}
	}
}
